 <div class="modal fade editModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-vertical-centered">
    <div class="modal-content">
    	<h2>Editer ce fabrican</h2>
    	<hr>
     	<form class="form" role="form" ng-submit="submitEdit()">
            <div class="form-group col-xs-12">
                <input type="text" name="name" class="form-control input-lg" ng-model="editFabrican.name" placeholder="Nom">
            </div>
            <div class="form-group col-xs-12">
                <input type="text" name="email" class="form-control input-lg" ng-model="editFabrican.email" placeholder="Email">
            </div>
            <div class="form-group col-xs-6">
                <input type="text" name="phone" class="form-control input-lg" ng-model="editFabrican.phone" placeholder="Téléphone">
                <select style="margin-top:15px" name="country" class="form-control input-lg" ng-model="editFabrican.country">
                  <option value="">Pays</option>
                  <option ng-repeat="(key, val) in countries" value="{{val}}" ng-selected="editFabrican.country == val">{{val}}</option>
                  
                </select>
                <input style="margin-top:15px" type="text" name="fax" class="form-control input-lg" ng-model="editFabrican.fax" placeholder="Fax">
            </div>
            <div class="form-group col-xs-12">
                <input type="text" name="adress" class="form-control input-lg" ng-model="editFabrican.adress" placeholder="Adresse postale complete">
            </div>
            
           
            
			 <div class="rowbutton form-group col-xs-12">
			    	<div class=" input-lg btn btn-danger btn-lg"  ng-click="exitEdit()" data-toggle="modal" data-target=".editModal" value="Annuler">Annuler</div>
			    	<input type="submit"  class="form-control input-lg btn btn-success btn-lg"   value="Enregistrer">
			 </div>
            
             <div class="clearfix"></div>
		</form>	
    </div>
  </div>
</div> 