
 <div class="modal fade editModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-vertical-centered">
    <div class="modal-content">
    	<h2>Editer cet Ingrédient</h2>
    	<hr>
     	<form class="form" role="form" ng-submit="submitEdit()">
            <div class="form-group col-xs-12">
            
                <input type="text" name="name" class="form-control input-lg" ng-model="editIngredient.name" placeholder="Nom">
          <!-- <input type="date" name="date" class="form-control input-lg  col-xs-2" ng-model="editIngredient.date" > -->
            </div>
            <div class="form-group col-xs-6">
                <div name="date" class="form-control input-lg"  ng-click="openDatepicker=true"><span class="placedate" ng-show="editIngredient.date">{{editIngredient.date | date : 'EEEE d MMMM yyyy - HH:mm' }}</span> <span class="placeholder" ng-hide="editIngredient.date">Date</span>
                    <div class="openDatepicker" ng-show="openDatepicker">
                            <datetimepicker  data-on-set-time="timeSet" data-ng-model="editIngredient.date" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select',startView:'month',minView:'month' }"></datetimepicker>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-6">
                  <span name="fabrican" class="placeholderabsolute" ng-hide="editIngredient.fabrican" >Choisir un fabrican</span>
                <select class="form-control input-lg" ng-model="editIngredient.fabrican">
                  <option value=""></option>
                  <option ng-repeat="fabrican in fabricans" value="{{fabrican.id}}" ng-selected="editIngredient.fabrican.id == fabrican.id">{{fabrican.name}}</option>
                  
                </select>
            </div>
            <markdownpreview ng-model="editIngredient.description" handleerror="'content'" minheight="300" placehold="'Déscription en markdown'" />
            <markdownpreview ng-model="editIngredient.composition" handleerror="'shortcontent'"  minheight="100" placehold="'Composition en markdown'" />
            <div class="form-group col-xs-12">
                <input type="text" inputcount="255" name="keyword" class="form-control input-lg" ng-model="editIngredient.keyword" placeholder="Mots clefs, Mots, clefs, clef, Mot clef, Mot">
            </div>
            
           
            
			 <div class="rowbutton form-group col-xs-12">
			    	<div class=" input-lg btn btn-danger btn-lg"  ng-click="exitEdit()" data-toggle="modal" data-target=".editModal" value="Annuler">Annuler</div>
			    	<input type="submit"  class="form-control input-lg btn btn-success btn-lg"   value="Enregistrer">
			 </div>
            
             <div class="clearfix"></div>
		</form>	
    </div>
  </div>
</div> 