<div class="row">
	<div class="col-xs-9">
		<button type="button" class="btn btn-info btn-xs" ng-click="linkadd();"><span class="glyphicon glyphicon-plus"></span>Ajouter</button>

		<button  type="button" class="btn btn-primary btn-xs" ng-show="totalChecked() === 1" ng-click="linkedit();" ><span class="glyphicon glyphicon-edit"></span>Editer</button>
		<!-- <button  type="button" class="btn btn-primary btn-xs"  ng-show="totalChecked() === 1" ng-click="linkeditimages();" ><span class="glyphicon glyphicon-picture"></span>Gerer les images</button>
		<button ng-show="totalChecked()" ng-click="changestatus('actif')" type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-save"></span>Publier</button>
		<button ng-show="totalChecked()" ng-click="changestatus('inactif')" type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-open"></span>Dépublier</button> -->
		<removeremove action="removeselected" ng-show="totalChecked()"></removeremove>
		<div  class="nbselected ">
			<ng-pluralize class="small"  count="totalChecked()"  when="{'0': 'Aucun fabrican séléctionné','1': '{{totalChecked()}} fabrican séléctionné','other': '{{totalChecked()}} fabricans séléctionnés'}" </ng-pluralize>
		</div>
	</div>
	<div class="col-xs-3 pull-right">
		<input type="search" class=" form-control input-sm" ng-model="slug" placeholder="Recherche . . ." />
		<!-- <div class="FilterBox">
			<span class="label label-success" ><input type="checkbox" ng-model="filterActif" ng-change="filterMainArray()"><label for="">actif</label></span>
			<span class="label label-warning" ><input type="checkbox" ng-model="filterInactif" ng-change="filterMainArray()"><label for="">inactif</label></span>
			<span class="label label-info" ><input type="checkbox" ng-model="filterNew" ng-change="filterMainArray()"><label for="">new</label></span>
		</div> -->
	</div>
</div>


<table class="table table-striped">
	<thead>
		<tr>
	    	<th class="thsbox"><input type="checkbox" ng-model="allChecked" ng-click="toggleAllcheck()"></th>
	    	<th class="thtitle" ng-click="order ='name';reverse=!reverse; " style="cursor:pointer">Nom<span ng-show="order==='name' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='name' && reverse===true" class=" caret"></span></span></th>
	    	<th class="thtitle" ng-click="order ='email';reverse=!reverse; " style="cursor:pointer">Email<span ng-show="order==='email' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='email' && reverse===true" class=" caret"></span></span></th>
	    	<th class="thcategory" ng-click="order ='phone';reverse=!reverse; " style="cursor:pointer">Téléphone<span ng-show="order==='phone' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='phone' && reverse===true" class=" caret"></span></span></th>
	    	<th class="thcategory" ng-click="order ='fax';reverse=!reverse; " style="cursor:pointer">Fax<span ng-show="order==='fax' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='fax' && reverse===true" class=" caret"></span></span></th>
	    	<th class="thcategory" ng-click="order ='country';reverse=!reverse; " style="cursor:pointer">Pays<span ng-show="order==='country' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='country' && reverse===true" class=" caret"></span></span></th>
		</tr>
	</thead>
	<tbody >
		
	    <tr ng-repeat="fabrican in fabricans | filter:fabricanfilter | orderBy:sortFunction:reverse " class="animate-repeat ligne" rel="{{fabrican.id}}"  >
	    		<td >
	    			<input type="checkbox" ng-model="fabrican.checked" >
	    		</td>
		    	<td ng-dblClick="linkedit(fabrican.id)" class='pointer'>{{fabrican.name}}</td>
		    	<td ng-dblClick="linkedit(fabrican.id)" class='pointer'>{{fabrican.email}}</td>
		    	<td ng-dblClick="linkedit(fabrican.id)" class='pointer'>{{fabrican.phone}}</td>
		    	<td ng-dblClick="linkedit(fabrican.id)" class='pointer'>{{fabrican.fax}}</td>
		    	<td ng-dblClick="linkedit(fabrican.id)" class='pointer'>{{fabrican.country}}</td>
	    	
	    </tr>
	    
	</tbody>
</table>
<!---->
<div ui-view="editfabricanView"></div>
<div ui-view="editimagesfabricansView"></div>
<div ui-view="addfabricanView"></div>

