<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Administration <small> Ne pas toucher à moins de savoir se que vous faites</small></h1>

    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div ui-view></div>
</div>
<div class="row">
	<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-upload fa-fw"></i> Mise a jour
            
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <div  style="padding-left:15px">
                    <label>Version de l'administration</label>: <span >{{myversion.version}}</span>
                </div>
                <div style="padding-left:15px">
                    <small>Aucune mise à jour disponible</small>
                </div>
                <!-- <div style="padding-left:15px;margin-bottom:5px">
                    <a class="btn btn-primary btn-xs" href="/backupFiles" target="_BLANK"><i class="fa fa-upload fa-fw"></i> Mise à jour de administration</a>
                </div> -->
                <hr>
                <div  style="padding-left:15px">
                    <label>Version du site web</label>: <span >{{myversion.siteversion}}</span>
                </div>
                <div style="padding-left:15px">
                    <small>Aucune mise à jour disponible</small>
                </div>
                <!-- <div  style="padding-left:15px">
                    <a class="btn btn-primary btn-xs" href="/backupFiles" target="_BLANK"><i class="fa fa-upload fa-fw"></i> Mise à jour du site</a>
                </div> -->
            </div>
        </div>
    </div>
    </div>  <div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-cubes fa-fw"></i> Espace de stockage
            
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <div class="pull-left" style="padding-left:15px">
                    <ul>
                        <li><label tooltip-placement="right" tooltip="Contactez l'agence pour auguementer le quota">Quota</label>: <span >{{sizequota | bytes}}</span></li>
                        <li><label>Total</label>: <span >{{(imageSize+fileSize) | bytes}}</span></li>
                        <li><label>Images</label>: <span >{{imageSize | bytes}}</span></li>
                        <li><label>Documents</label>: <span >{{fileSize | bytes}}</span></li>
                        <li><label>Espace libre</label>: <span class="label" ng-class="{'label-success':depassement<0,'label-danger':depassement>0}">{{freespace| bytes}}</span></li>
                        <li ng-if="depassement > 0"><small>Quota dépasser de {{ depassement | bytes}}. Contacter l'agence pour auguementer le quota.</small></li>
                        

                        
                    </ul>
                </div>
               
                <div class="pull-right">
                    <canvas id="doughnutstockage" class="chart chart-doughnut" options="options2" height="125px" colours='colors' data="data2"
                            labels="labels2" legend="true"></canvas> 
                </div>
                <div class="pull-left" style="padding-left:15px">
                    <a class="btn btn-primary btn-xs" href="/backupFiles" target="_BLANK">Faire une sauvegarde</a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>  
    <div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-database fa-fw"></i> Base de données
            
        </div>
        <div class="panel-body">
            <div class="row">
                <div  style="padding-left:15px">
                    <ul>
                        <li><label>Poid de la base</label>: <span >{{(dbstats.dataSize) | bytes}}</span></li>
                        <li><label >Collections</label>: <span >{{dbstats.collections}}</span></li>
                        <li><label >Enregistrements</label>: <span >{{dbstats.objects}}</span></li>
                        <li><label >Indexes</label>: <span >{{dbstats.indexes}}</span></li>
                        

                        
                    </ul>
                </div>
               
                <div style="padding-left:15px;margin-bottom:5px">
                    <a class="btn btn-primary btn-xs" href="/backupDb" target="_BLANK">Faire une sauvegarde</a>
                </div><!-- 
                <div  style="padding-left:15px">
                    <a class="btn btn-primary btn-xs" href="/backupFiles" target="_BLANK">Importer une sauvegarde</a>
                </div> -->
            </div>
        </div>
    </div>
	</div>		
</div>