
<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <%- include menu.ejs %>

       

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="col_full">

                        <div class="heading-block center nobottomborder">
                            <h2>Chateau Thierry Volley Ball</h2>
                            <span>Vous trouverez ici quelques informations sur le CTVB.</span>
                        </div>

                        <div class="fslider" data-pagi="false" data-animation="fade">
                            <div class="flexslider">
                                <div class="slider-wrap">
                                    <div class="slide"><a href="#"><img src="images/about/4.jpg" alt="About Image"></a></div>
                                    <div class="slide"><a href="#"><img src="images/about/5.jpg" alt="About Image"></a></div>
                                    <div class="slide"><a href="#"><img src="images/about/6.jpg" alt="About Image"></a></div>
                                    <div class="slide"><a href="#"><img src="images/about/7.jpg" alt="About Image"></a></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col_one_fourth center" data-animate="bounceIn" data-delay="400">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-flag"></i>
                        <div class="counter counter-large" style="color: #16a085;"><span data-from="0" data-to="35" data-refresh-interval="50" data-speed="3500"></span></div>
                        <h5>Ans de CTVB</h5>
                    </div>

                    <div class="col_one_fourth center" data-animate="bounceIn">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-users2"></i>
                        <div class="counter counter-large" style="color: #3498db;"><span data-from="0" data-to="85" data-refresh-interval="50" data-speed="2000"></span></div>
                        <h5>Licencié 2015/2016</h5>
                    </div>

                    <div class="col_one_fourth center" data-animate="bounceIn" data-delay="200">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-trophy"></i>
                        <div class="counter counter-large" style="color: #e74c3c;"> + <span data-from="100" data-to="5641" data-refresh-interval="50" data-speed="2500"></span></div>
                        <h5>Rencontres gagnées</h5>
                    </div>


                    <div class="col_one_fourth center col_last" data-animate="bounceIn" data-delay="600">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-study"></i>
                        <div class="counter counter-large" style="color: #9b59b6;"> + <span data-from="100" data-to="874" data-refresh-interval="30" data-speed="2700"></span></div>
                        <h5>Jeunes Formés</h5>
                    </div>

                    <div class="clear"></div>

                    
                     <div class="container topmargin">
                    <div class="heading-block center  topmargin">
                        <h2>Nos arbitres</h2>
                        <span>Ils font le tour de la région afin d'assurer l'arbitrage du championats Fédéral.</span>
                    </div>
                    <div class="row clear-bottommargin">

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/volley/keke.jpg" alt="Cédric Guyot">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Cédric Guyot</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : gegregregregre@gergre.fr</li>
                                            <li>Téléphone : 06 32 54 65 87</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/4.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Nix Maxwell</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : gegregregregre@gergre.fr</li>
                                            <li>Téléphone : 06 32 54 65 87</li>
                                        </ul>
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/8.jpg" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Cédric Guyot</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : gegregregregre@gergre.fr</li>
                                            <li>Téléphone : 06 32 54 65 87</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/4.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Nix Maxwell</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : gegregregregre@gergre.fr</li>
                                            <li>Téléphone : 06 32 54 65 87</li>
                                        </ul>
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                    <div class="heading-block center  topmargin">
                        <h2>Les Membre du buraux</h2>
                        <span>Ils font vivre le club administrativement. Un grand merci à eux!</span>
                    </div>

                    <div class="row clearfix  topmargin-lg">

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/3.jpg" alt="John Doe">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Hans DOE</h4><span>Président</span></div>
                                    <div class="team-content">
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                    </div>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/2.jpg" alt="Josh Clark">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Francoise Brochot</h4><span>Vice Président</span></div>
                                    <div class="team-content">
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                    </div>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/8.jpg" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Cédric Guyot</h4><span>Trésorié</span></div>
                                    <div class="team-content">
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                    </div>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/4.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Maman Quentin</h4><span>Trésorié</span></div>
                                    <div class="team-content">
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                    </div>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/8.jpg" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Autre sansNom</h4><span>Trésorié</span></div>
                                    <div class="team-content">
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                    </div>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/4.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Nix Maxwell</h4><span>Trésorié</span></div>
                                    <div class="team-content">
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                    </div>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>




                    </div>
                        <div class="heading-block center topmargin ">
                            <h2>Historique</h2>
                            <span>Les grand tournants de l'histoire du ctvb</span>
                        </div>
                        <!-- Posts
                    ============================================= -->
                    <div id="posts" class="small-thumbs topmargin-lg">

                        <div class="entry clearfix">
                            <div class="entry-image">
                                <a href="images/blog/full/17.jpg" data-lightbox="image"><img class="image_fade" src="images/blog/small/17.jpg" alt="Standard Post with Image"></a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single.html">La premiere équipe</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 10 Mars 2099</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Le volley-ball fait son apparition à Château-Thierry en 1965. A la Maison des jeunes et de la culture, un groupe d'amis donne naissance à la première équipe. Sous la houlette de Michel Mombrun, directeur de la MJC. cette formation composée de ce même Michel Mombrun, de Michel Plateau,Michel Guyot, Francis Cabour, Hervé et Didier Henssien, joueurs unis par une profonde amitié, évolue dans un contexte convivial, toujours bien présent au club. En Compétition ,elle débute en championnat UFOLEP.</p>
                                </div>
                            </div>
                        </div>

                      

                        <div class="entry clearfix">
                            <div class="entry-image">
                                <div class="fslider" data-arrows="false" data-lightbox="gallery">
                                    <div class="flexslider">
                                        <div class="slider-wrap">
                                            <div class="slide"><a href="images/blog/full/10.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/10.jpg" alt="Standard Post with Gallery"></a></div>
                                            <div class="slide"><a href="images/blog/full/20.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/20.jpg" alt="Standard Post with Gallery"></a></div>
                                            <div class="slide"><a href="images/blog/full/21.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/21.jpg" alt="Standard Post with Gallery"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single-small.html">Avec lz F.F.V.B.</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 24 Février 2014</li>
                                </ul>
                                <div class="entry-content">
                                    <p>En 1969, le club abandonne l'Ufolep pour la Fédération Française de Volley-Ball (FFVB). Les équipes sont confrontées à un niveau plus élevé. Qu'à cela ne tienne, le talent est là, et bien là. D'autres formations font leur apparition. Deux d'entre-elles terminent leur championnat à la 2e place, les juniors font un sacré bout de chemin en coupe de France, ne rendant les armes qu'en 1/16e de finales. Quant à Hervé Henssien, il se voit nommé entraîneur régional des cadets. Une promotion méritée.</p>
                                </div>
                            </div>
                        </div><div class="entry clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single.html">La phase de consolidation</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 10 Mars 2099</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Lors de l'assemblée générale du 19 juin 1970, le club adhère au CSCT. Alain Marchand est président. La première équipe féminine est créée en 1972.</p>
                                </div>
                            </div>
                        </div>

                      

                        <div class="entry clearfix">
                            <div class="entry-image">
                                <div class="fslider" data-arrows="false" data-lightbox="gallery">
                                    <div class="flexslider">
                                        <div class="slider-wrap">
                                            <div class="slide"><a href="images/blog/full/10.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/10.jpg" alt="Standard Post with Gallery"></a></div>
                                            <div class="slide"><a href="images/blog/full/20.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/20.jpg" alt="Standard Post with Gallery"></a></div>
                                            <div class="slide"><a href="images/blog/full/21.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/21.jpg" alt="Standard Post with Gallery"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single-small.html">La vitesse de croisiére</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 24 Février 2014</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Au cours des années suivantes. les différentes équipes traversent des périodes fastes. De nombreux jeunes formés au club alors présidé par Michel Guyot vivent d'intenses moments d'émotion en ajoutant toujours le plaisir au jeu. Si les résultats. toujours bons et appréciés, traduisent le travail au quotiden ,tout le monde a en téte le premier souçis des dirigeants : permettre à chaque adhérent de trouver sa plénitude dans la pratique sportive. En 1983. présidé par Claude Grouiller, le club castel pointe au 3e rang départemental avec soixante dix-neuf licenciés. Le président encadre l'école de volley avec Jean-Claude Blandin. Jacques Krabal est entraîneur des minimes. Denis Buard a sous sa coupe les cadets et cadettes. Françoise Lutz (futur madame Brochot) les juniors. Michel Guyot les seniors. Patrick Didier est au club depuis un an. Il entame une longue carrière d'éducateur auprès des séniors garçons ,une formation qui avec lui accéde en régional 1.</p>
                                </div>
                            </div>
                        </div>
                        <div class="entry clearfix">
                            <div class="entry-image">
                                <a href="images/blog/full/17.jpg" data-lightbox="image"><img class="image_fade" src="images/blog/small/17.jpg" alt="Standard Post with Image"></a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single.html">Retour à l'autonomie </a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 10 Mars 2099</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Sous la présidence de Jean-Pierre-Ducloux le club retrouve son indépendance aprés l'affaire Revelli qui a secoué le monde sportif de Chateau Thierry Volley-Ball. Le CTVB obtient d'excellent résultats notamment son équipe féminine .Entrainée par philippe Begrand,celle-ci termine 3e en Régional 1. L'encadrement est toujours assuré par Claude Grouiller. Jean-Claude Blandin (école de volley, poussins, benjamins) et Françoise Lutz (cadets, cadettes). A ce trio, il faut ajouter Jean-Paul Veillard (minimes) et Philippe Begrand, déjà cité.</p>
                                </div>
                            </div>
                        </div>
                        <div class="entry clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2>la derniere présidence </h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 10 Mars 2099</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Entouré d'un encadrement dynamique, Jean-Pierre Businaro est à l'origine de
plusieurs innovations : le Beach-volley avec le concours de l'OMS, la participation des jeunes à différents stages, la venue à Château-Thierry du Bataillon de Joinville.</p>
                                </div>
                            </div>
                        </div>
                        <div class="entry clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2>Fin de siécle </h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 10 Mars 2099</li>
                                </ul>
                                <div class="entry-content">
                                    <p>En 1999. pour fêter son 30e anniversaire à la FFVB. le club a organisé un tournoi avec les équipes de Mosbach et Pôssneck, villes jumelées avec Château-Thierry. Une réussite.</p>
                                </div>
                            </div>
                        </div>

                      

                        <div class="entry clearfix">
                            <div class="entry-image">
                                <div class="fslider" data-arrows="false" data-lightbox="gallery">
                                    <div class="flexslider">
                                        <div class="slider-wrap">
                                            <div class="slide"><a href="images/blog/full/10.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/10.jpg" alt="Standard Post with Gallery"></a></div>
                                            <div class="slide"><a href="images/blog/full/20.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/20.jpg" alt="Standard Post with Gallery"></a></div>
                                            <div class="slide"><a href="images/blog/full/21.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/21.jpg" alt="Standard Post with Gallery"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single-small.html">Nouveau millénaire </a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 24 Février 2000</li>
                                </ul>
                                <div class="entry-content">
                                    <p>Le nouveau millénaire a débuté avec plus de quatre-vingt licenciés répartis au sein ,ié > huit équipes de catégories différentes et une pépinière de jeunes. Les seniors filles et garçons évoluent toujours au niveau régional. Au sein de l'encadrement, les fidèles Françoise Brochot et Patrick Didier sont toujours présents en compagnie d'Eric Taramini et Philippe Bouvry, celui-ci ayant remplacé récemment Farid Kikmoune.</p>
                                </div>
                            </div>
                        </div>

                       
                       

                    </div><!-- #posts end -->
                </div>

                

            </div>

        </section><!-- #content end -->

        <%- include footer.ejs %>

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="js/functions.js"></script>

</body>
