<!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <% include header.ejs %>

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="col_full">

                        <div class="heading-block center nobottomborder">
                            <h2>Interactive Office Environment</h2>
                            <span>We value Work Ethics &amp; Environment as it helps in creating a Creative Building</span>
                        </div>

                        <div class="fslider" data-pagi="false" data-animation="fade">
                            <div class="flexslider">
                                <div class="slider-wrap">
                                    <div class="slide"><a href="#"><img src="images/about/4.jpg" alt="About Image"></a></div>
                                    <div class="slide"><a href="#"><img src="images/about/5.jpg" alt="About Image"></a></div>
                                    <div class="slide"><a href="#"><img src="images/about/7.jpg" alt="About Image"></a></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col_one_fourth center" data-animate="bounceIn">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-users"></i>
                        <div class="counter counter-large" style="color: #3498db;"><span data-from="1" data-to="35" data-refresh-interval="50" data-speed="2000"></span></div>
                        <h5>Membre d'équipage</h5>
                    </div>

                    <div class="col_one_fourth center" data-animate="bounceIn" data-delay="400">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-briefcase"></i>
                        <div class="counter counter-large" style="color: #16a085;"><span data-from="53" data-to="158" data-refresh-interval="50" data-speed="3500"></span></div>
                        <h5>Projets réalisé</h5>
                    </div>

                    <div class="col_one_fourth center" data-animate="bounceIn" data-delay="200">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-globe"></i>
                        <div class="counter counter-large" style="color: #e74c3c;"><span data-from="1" data-to="16" data-refresh-interval="50" data-speed="2500"></span></div>
                        <h5>Pays</h5>
                    </div>

                    <div class="col_one_fourth center col_last" data-animate="bounceIn" data-delay="600">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-dollar"></i>
                        <div class="counter counter-large" style="color: #9b59b6;"><span data-from="1015840" data-to="186151" data-refresh-interval="30" data-speed="2700"></span>K</div>
                        <h5>de travaux</h5>
                    </div>

                    <div class="clear"></div>

                    <div class="heading-block center">
                        <h2>Nos Architectes</h2>
                        <span>Concepteurs et réalisateurs de grandes structures.</span>
                    </div>
                </div>

                    <div class="row common-height clearfix">

                        <div class="col-sm-5 col-padding borderr-red" style="background: url('images/portrait.jpg') center center no-repeat; background-size: cover;"></div>

                        <div class="col-sm-7 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">CEO &amp; Co-Founder</span>
                                    <h3>Damien Van OOST</h3>
                                </div>

                                <div class="row clearfix">

                                    <div class="col-md-6">
                                        <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
                                        <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="" id="radarChart" style="opacity: 1;">
                                            <canvas id="radarChartCanvas" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                        
                                       <!--  <ul class="skills">
                                            <li data-percent="80">
                                                <span>Créativité</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="60">
                                                <span>Fonctionalisme</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="90">
                                                <span>Volume</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="70">
                                                <span>Gestion Chantier</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="85">
                                                <span>"Ingénieurie"</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li> -->
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row common-height clearfix">

                        <div class="col-sm-7 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">CEO &amp; Co-Founder</span>
                                    <h3>Luc Van OOST</h3>
                                </div>

                                <div class="row clearfix">

                                    <div class="col-md-6">
                                        <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
                                        <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="" id="radarChart2" style="opacity: 1;">
                                            <canvas id="radarChartCanvas2" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                        <!-- <ul class="skills">
                                            <li data-percent="80">
                                                <span>Créativité</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="60">
                                                <span>Lumière</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="90">
                                                <span>Volume</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="70">
                                                <span>Gestion Chantier</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="85">
                                                <span>Gestion des délais</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                        </ul> -->
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-5 col-padding borderl-green" style="background: url('images/portrait.jpg') center center no-repeat; background-size: cover;"></div>

                    </div>
                    <div class="row common-height clearfix">

                        <div class="col-sm-5 col-padding borderr-blue" style="background: url('images/portrait.jpg') center center no-repeat; background-size: cover;"></div>

                        <div class="col-sm-7 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">CEO &amp; Co-Founder</span>
                                    <h3>Louis Van OOST</h3>
                                </div>

                                <div class="row clearfix">

                                    <div class="col-md-6">
                                        <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
                                        <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-6">
                                        <ul class="skills">
                                            <li data-percent="80">
                                                <span>Créativité</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="60">
                                                <span>Fonctionalisme</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="90">
                                                <span>Volume</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="70">
                                                <span>Gestion Chantier</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="85">
                                                <span>"Ingénieurie"</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row common-height clearfix">

                        <div class="col-sm-7 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">CEO &amp; Co-Founder</span>
                                    <h3>Damien Van OOST</h3>
                                </div>

                                <div class="row clearfix">

                                    <div class="col-md-6">
                                        <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
                                        <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-6">
                                        <ul class="skills">
                                            <li data-percent="80">
                                                <span>Créativité</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="60">
                                                <span>Lumière</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="90">
                                                <span>Volume</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="70">
                                                <span>Gestion Chantier</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="85">
                                                <span>Gestion des délais</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-5 col-padding borderl-purple" style="background: url('images/portrait.jpg') center center no-repeat; background-size: cover;"></div>

                    </div>
                    <div class="row common-height clearfix">

                        <div class="col-sm-5 col-padding borderr-red" style="background: url('images/portrait.jpg') center center no-repeat; background-size: cover;"></div>

                        <div class="col-sm-7 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">Architect</span>
                                    <h3>Marc Rochet</h3>
                                </div>

                                <div class="row clearfix">

                                    <div class="col-md-6">
                                        <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
                                        <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-6">
                                        <ul class="skills">
                                            <li data-percent="80">
                                                <span>Créativité</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="60">
                                                <span>Fonctionalisme</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="90">
                                                <span>Volume</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="70">
                                                <span>Gestion Chantier</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="85">
                                                <span>"Ingénieurie"</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row common-height clearfix">

                        <div class="col-sm-7 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">Architecte &amp; Chef de Chantier</span>
                                    <h3>Roberto Momcilovic</h3>
                                </div>

                                <div class="row clearfix">

                                    <div class="col-md-6">
                                        <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
                                        <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-6">
                                        <ul class="skills">
                                            <li data-percent="80">
                                                <span>Créativité</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="60">
                                                <span>Lumière</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="90">
                                                <span>Volume</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="70">
                                                <span>Gestion Chantier</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="85">
                                                <span>Gestion des délais</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-5 col-padding borderl-green" style="background: url('images/portrait.jpg') center center no-repeat; background-size: cover;"></div>

                    </div>
                    <div class="row common-height clearfix">

                        <div class="col-sm-5 col-padding borderr-blue" style="background: url('images/portrait.jpg') center center no-repeat; background-size: cover;"></div>

                        <div class="col-sm-7 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">Architect &amp; Ingenieur</span>
                                    <h3>John Doe</h3>
                                </div>

                                <div class="row clearfix">

                                    <div class="col-md-6">
                                        <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
                                        <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-6">
                                        <ul class="skills">
                                            <li data-percent="80">
                                                <span>Créativité</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="60">
                                                <span>Fonctionalisme</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="90">
                                                <span>Volume</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="70">
                                                <span>Gestion Chantier</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="85">
                                                <span>"Ingénieurie"</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row common-height clearfix">

                        <div class="col-sm-7 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">Architect &amp; Ingenieur</span>
                                    <h3>Mary Jane</h3>
                                </div>

                                <div class="row clearfix">

                                    <div class="col-md-6">
                                        <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
                                        <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-6">
                                        <ul class="skills">
                                            <li data-percent="80">
                                                <span>Créativité</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="60">
                                                <span>Lumière</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="90">
                                                <span>Volume</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="70">
                                                <span>Gestion Chantier</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="85">
                                                <span>Gestion des délais</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-5 col-padding borderl-purple" style="background: url('images/portrait.jpg') center center no-repeat; background-size: cover;"></div>

                    </div>
                    <div class="row common-height clearfix">

                        <div class="col-sm-5 col-padding borderr-green" style="background: url('images/portrait.jpg') center center no-repeat; background-size: cover;"></div>

                        <div class="col-sm-7 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">Architect &amp; Ingenieur</span>
                                    <h3>John Doe</h3>
                                </div>

                                <div class="row clearfix">

                                    <div class="col-md-6">
                                        <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
                                        <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-6">
                                        <ul class="skills">
                                            <li data-percent="80">
                                                <span>Créativité</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="60">
                                                <span>Fonctionalisme</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="90">
                                                <span>Volume</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="70">
                                                <span>Gestion Chantier</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="85">
                                                <span>"Ingénieurie"</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row common-height clearfix ">

                        <div class="col-sm-7 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">Architect &amp; Chef de chantier</span>
                                    <h3>Mary Jane</h3>
                                </div>

                                <div class="row clearfix">

                                    <div class="col-md-6">
                                        <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
                                        <p>Advancement, promising development John Lennon, our ambitions involvement underprivileged billionaire philanthropy save the world transform. Carbon rights maintain healthcare emergent, implementation inspire social change solve clean water livelihoods.</p>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-6">
                                        <ul class="skills">
                                            <li data-percent="80">
                                                <span>Créativité</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="60">
                                                <span>Lumière</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="90">
                                                <span>Volume</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="70">
                                                <span>Gestion Chantier</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                            <li data-percent="85">
                                                <span>Gestion des délais</span>
                                                <div class="progress">
                                                    <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="85" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-5 col-padding borderl-red" style="background: url('images/portrait.jpg') center center no-repeat; background-size: cover;"></div>

                    </div>
                    <div class="container topmargin-lg">
                        <div class="heading-block center">
                            <h2>Our great Team Members</h2>
                            <span>Sans eux rien ne serais possible. . .</span>
                        </div>

                        <div class="row clearfix">

                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image borderl-purple">
                                        <img src="images/team/2.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>John Doe</h4><span>Geometre</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image borderl-green">
                                        <img src="images/team/4.jpg" alt="Josh Clark">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>Josh Clark</h4><span>Dessinateur</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image borderl-blue">
                                        <img src="images/team/2.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>John Doe</h4><span>Chef de projet</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image borderl-rd">
                                        <img src="images/team/2.jpg" alt="Josh Clark">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>Josh Clark</h4><span>Dessinateur</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image borderl-blue">
                                        <img src="images/team/4.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>John Doe</h4><span>Commercial</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image borderl-green">
                                        <img src="images/team/4.jpg" alt="Josh Clark">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>Josh Clark</h4><span>Commercial</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image borderl-purple">
                                        <img src="images/team/2.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>John Doe</h4><span>Dessinateur</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image borderl-red">
                                        <img src="images/team/2.jpg" alt="Josh Clark">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>Josh Clark</h4><span>Geometre</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image borderl-purple">
                                        <img src="images/team/4.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>John Doe</h4><span>Secretaire</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image borderl-green">
                                        <img src="images/team/2.jpg" alt="Josh Clark">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>Josh Clark</h4><span>Co-Founder</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                

            </div>

        </section><!-- #content end -->

        <% include footer.ejs %>

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
<script type="text/javascript">

                    jQuery(window).load( function(){

                        var radarChartData = {
                            labels : ["Gestion Chantier","Lumières","Volumes","Gestion Délais","Conception","Ingénieurie","Autre chose"],
                            datasets : [
                                {
                                    fillColor : "rgba(220,220,220,0.5)",
                                    strokeColor : "rgba(220,220,220,1)",
                                    pointColor : "rgba(220,220,220,1)",
                                    pointStrokeColor : "#fff",
                                    data : [65,59,90,81,56,55,40]
                                }
                            ]

                        };
                        var radarChartData2 = {
                            labels : ["Gestion Chantier","Lumières","Volumes","Gestion Délais","Conception","Ingénieurie","Autre chose"],
                            datasets : [
                                {
                                    fillColor : "rgba(151,187,205,0.5)",
                                    strokeColor : "rgba(151,187,205,1)",
                                    pointColor : "rgba(151,187,205,1)",
                                    pointStrokeColor : "#fff",
                                    data : [28,48,40,19,96,27,100]
                                }
                            ]

                        };

                        var globalGraphSettings = {animation : Modernizr.canvas};

                        function showRadarChart(){
                            var ctx = document.getElementById("radarChartCanvas").getContext("2d");
                            new Chart(ctx).Radar(radarChartData,globalGraphSettings);
                        }
                        function showRadarChart2(){
                            var ctx2 = document.getElementById("radarChartCanvas2").getContext("2d");
                            new Chart(ctx2).Radar(radarChartData2,globalGraphSettings);
                        }

                        
                        $('#radarChart').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart,300); },{accX: 0, accY: -155},'easeInCubic');
                        $('#radarChart2').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart2,300); },{accX: 0, accY: -155},'easeInCubic');

                        

                    });

                    </script>