<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

		<%- include menu.ejs %>

       <section id="page-title">

            <div class="container clearfix">
                <h1>Un petit moment de détente lors d'une balade à cheval</h1>
                <!-- <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Portfolio</li>
                </ol> -->
            </div>

        </section>
        <section id="content">

            <div class="content-wrap nopadding">

                <div class="section parallax full-screen force-full-screen nomargin noborder" style="background-image: url('images/parallax/home/cheval2.jpg');background-position: top center;" data-stellar-background-ratio="0.4">
                    <div class="vertical-middle">
                        <div class="container clearfix">

                            

                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="fancy-title title-dotted-border title-center topmargin">
                        <h3>Nos Balades à cheval</h3>
                        <p class="topmargin">Tout les niveau sont accepté.</p>
                    </div>
                    <div class="pricing pricing-5 bottommargin clearfix">

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>1H</h3>
                                <!-- <span>5GB in the Cloud</span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>15<span class="price-tenure">/pers</span>
                            </div>
                            <div class="pricing-action">
                                <a href="/contact" class="btn btn-primary btn-block">Réserver</a>
                            </div>
                        </div>

                        <div class="pricing-box pricing-minimal best-price">
                            <div class="pricing-title">
                                <h3>2H</h3>
                                <span>La plus vendu</span>
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>26<span class="price-tenure">/pers</span>
                            </div>
                            <div class="pricing-action">
                                <a href="/contact" class="btn btn-primary btn-block">Réserver</a>
                            </div>
                        </div>

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>1/2 journée</h3>
                                <!-- <span>pique-nique inclus</span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>39<span class="price-tenure">/pers</span>
                            </div>
                            <div class="pricing-action">
                                <a href="/contact" class="btn btn-primary btn-block">Réserver</a>
                            </div>
                        </div>

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Baignade à cheval</h3>
                                <!-- <span>pique-nique inclus</span> -->
                                <span>Insolite</span>
                                
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>20<span class="price-tenure">/H/pers</span>
                            </div>
                            <div class="pricing-action">
                                <a href="/contact" class="btn btn-primary btn-block">Réserver</a>
                            </div>
                        </div>

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Nocturne</h3>
                                <span>Insolite</span>
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>20<span class="price-tenure">/H/pers</span>
                            </div>
                            <div class="pricing-action">
                                <a href="/contact" class="btn btn-primary btn-block">Réserver</a>
                            </div>
                        </div>

                    </div>

                       <!--  <div class="col-md-12">

                            <p>Le pique-nique est inclus dans le forfait journée.</p>
                             <p>Nos balades insolites sont des baignade à cheval ou des noctures.</p>

                        </div> -->
                </div>

            </div>

        </section><!-- #content end -->
        <div class="section">
                    <div class="promo promo-dark promo-flat promo-full topmargin footer-stick">
                        <div class="container clearfix">
                            <h3>Pour reserver ou obtenir plus d'informations, applez moi au <span>06 84 41 14 94</span></h3>
                            <span>Si je suis indisponible, laissez moi vos coordonées et je vous rapelerais dans les meilleurs délais.</span>
                            <!-- <a href="/contact" class="button button-xlarge button-rounded">Prendre contact</a> -->
                        </div>
                    </div>
                </div>
        <%- include footer.ejs %>

    </div><!-- #wrapper end -->