<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

		<%- include menu.ejs %>

       <section id="page-title">

            <div class="container clearfix">
                <h1>Nous nous occupons de vous apprendre à monté</h1>
                <!-- <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Portfolio</li>
                </ol> -->
            </div>

        </section>
        <section id="content">

            <div class="content-wrap nopadding">

                <div class="section parallax full-screen force-full-screen nomargin noborder" style="background-image: url('images/parallax/home/cheval5.jpg');background-position: top center;" data-stellar-background-ratio="0.4">
                    <div class="vertical-middle">
                        <div class="container clearfix">

                            

                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="fancy-title title-dotted-border title-center topmargin">
                        <h3>Nos Cours</h3>

                    </div>
                        <p>Nous divison nos cour en 3 catégories : Débutant, intermediaire et expérimenté.</p>
                        <p>Il est possible de prendre des leçons de 6 ans à 106 ans (Selon la forme physique de l'individu)</p>
                        <p>Pour une inscription à l'année ou au trimestre, un certificat médical vous sera demandé.</p>

                      <div class="table-responsive">

                        <table class="table table-hover table-comparison nobottommargin">
                          <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <th>Débutant</th>
                              <th>Intermédiaire</th>
                              <th>Expérimenté</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td  style="text-align:center"><small>Entretient du cheval</small></td>
                              <td  style="text-align:center"></td>
                              <td  style="text-align:center"></td>
                              <td  style="text-align:center"></td>
                            </tr>
                            <tr>
                              <td>Nettoyage des fers</td>
                              <td><i class="icon-ok" title="Au programme"></td>
                              <td><i class="icon-ok" title="Au programme"><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></td>
                            </tr>
                            <tr>
                              <td>Cours sur l'alimentation</td>
                              <td><i class="icon-ok" title="Au programme"></i></td>
                              <td><i class="icon-ok" title="Au programme"><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                            </tr>
                            <tr>
                              <td>Entretient du box</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                            </tr>
                            <tr>
                              <td>Dressage</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                              <td>Je ne sais pas quoi</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                              <td>Autre chose</td>
                              <td><i class="icon-remove"></i></td>
                              <td><i class="icon-remove"></i></td>
                              <td><i class="icon-ok"><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></i></td>
                            </tr>

                            <tr>
                              <td  style="text-align:center"><small>Sur le cheval</small></td>
                              <td  style="text-align:center"></td>
                              <td  style="text-align:center"></td>
                              <td  style="text-align:center"></td>
                            </tr>
                            <tr>
                              <td>Pas</td>
                              <td><i class="icon-ok" title="Au programme"></td>
                              <td><i class="icon-ok" title="Au programme"><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></td>
                              <td><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></td>
                            </tr>
                            <tr>
                              <td>Pas cadencé</td>
                              <td><i class="icon-ok" title="Au programme"></i></td>
                              <td><i class="icon-ok" title="Au programme"><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                            </tr>
                            <tr>
                              <td>Trôt</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                            </tr>
                            <tr>
                              <td>Trôt enlever</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                              <td>Gallo</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                              <td>Je ne sais pas quoi</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                              <td>Je ne sais pas quoi</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                              <td>Je ne sais pas quoi</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                              <td>Autre chose</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok"><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></i></td>
                            </tr>
                            
                            <tr>
                              <td  style="text-align:center"><small>Acrobaties</small></td>
                              <td  style="text-align:center"></td>
                              <td  style="text-align:center"></td>
                              <td  style="text-align:center"></td>
                            </tr>
                            <tr>
                              <td>Saut de haie</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok" title="Au programme"><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></td>
                              <td><i class="icon-ok" title="Au programme"><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></td>
                            </tr>
                            <tr>
                              <td>Saut de haie 2</td>
                              <td><i class="icon-ok" title="Au programme"></i></td>
                              <td><i class="icon-ok" title="Au programme"><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                            </tr>
                            <tr>
                              <td>Saut de haie 3 </td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                            </tr>
                            <tr>
                              <td>Dressage</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                              <td>Je ne sais pas quoi</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                              <td>Autre chose</td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-remove" title="Pas au programme"></i></td>
                              <td><i class="icon-ok"><i class="icon-line2-graduation" title="Prerequis pour ce cour : Savoir faire ceci"></i></i></td>
                            </tr>
                            
                          </tbody>
                        </table>

                    </div>
                </div> 

                <div class="container">
                    <div class="fancy-title title-dotted-border title-center topmargin">
                        <h3>Nos Tarifs</h3>
                        <!-- <p class="topmargin">Tout les niveau sont accepté.</p> -->
                    </div>
                   <div class="table-responsive">

                        <table class="table table-hover table-comparison nobottommargin">
                          <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <th>Avec nos chevaux</th>
                              <th>Avec votre cheval</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td colspan="3" style="text-align:center"><small>Cours débutant</small></td>
                            </tr>
                            <tr>
                              <td>1h</td>
                              <td>13€</td>
                              <td>7€</td>
                            </tr>
                            <tr>
                              <td>2h consécutive</td>
                              <td>25€</td>
                              <td>13€</td>
                            </tr>
                            <tr>
                              <td>Carte 10h</td>
                              <td>114€</td>
                              <td>65€</td>
                            </tr>
                            <tr>
                              <td>Trimestre ( 2H / semaine pendant la période scolaire)</td>
                              <td>125€</td>
                              <td>75€</td>
                            </tr>
                            <tr>
                              <td>Année ( 2H / semaine pendant la période scolaire)</td>
                              <td>125€</td>
                              <td>75€</td>
                            </tr>
                            <tr>
                              <td colspan="3" style="text-align:center"><small>Cours Intérmédiaire</small></td>
                            </tr>
                            <tr>
                              <td>1h</td>
                              <td>13€</td>
                              <td>7€</td>
                            </tr>
                            <tr>
                              <td>2h consécutive</td>
                              <td>25€</td>
                              <td>13€</td>
                            </tr>
                            <tr>
                              <td>Carte 10h</td>
                              <td>114€</td>
                              <td>65€</td>
                            </tr>
                            <tr>
                              <td>Trimestre ( 2H / semaine pendant la période scolaire)</td>
                              <td>125€</td>
                              <td>75€</td>
                            </tr>
                            <tr>
                              <td>Année ( 2H / semaine pendant la période scolaire)</td>
                              <td>125€</td>
                              <td>75€</td>
                            </tr> 
                            <tr>
                              <td colspan="3" style="text-align:center"><small>Cours expérimenté</small></td>
                            </tr>
                            <tr>
                              <td>1h</td>
                              <td>13€</td>
                              <td>7€</td>
                            </tr>
                            <tr>
                              <td>2h consécutive</td>
                              <td>25€</td>
                              <td>13€</td>
                            </tr>
                            <tr>
                              <td>Carte 10h</td>
                              <td>114€</td>
                              <td>65€</td>
                            </tr>
                            <tr>
                              <td>Trimestre ( 2H / semaine pendant la période scolaire)</td>
                              <td>125€</td>
                              <td>75€</td>
                            </tr>
                            <tr>
                              <td>Année ( 2H / semaine pendant la période scolaire)</td>
                              <td>125€</td>
                              <td>75€</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td><a href="/contact" class="btn btn-default">Réserver</a></td>
                              <td><a href="/contact" class="btn btn-default">Réserver</a></td>
                            </tr>
                          </tbody>
                        </table>

                    </div>

                       <!--  <div class="col-md-12">

                            <p>Le pique-nique est inclus dans le forfait journée.</p>
                             <p>Nos balades insolites sont des baignade à cheval ou des noctures.</p>

                        </div> -->
                </div>

            </div>

        </section><!-- #content end -->
        <div class="section">
                    <div class="promo promo-dark promo-flat promo-full topmargin footer-stick">
                        <div class="container clearfix">
                            <h3>Pour reserver ou obtenir plus d'informations, applez moi au <span>06 84 41 14 94</span></h3>
                            <span>Si je suis indisponible, laissez moi vos coordonées et je vous rapelerais dans les meilleurs délais.</span>
                            <!-- <a href="/contact" class="button button-xlarge button-rounded">Prendre contact</a> -->
                        </div>
                    </div>
                </div>
        <%- include footer.ejs %>

    </div><!-- #wrapper end -->