<!-- NAV2 -->
	<nav class="navSecondaire">
		<div class="container positioned">
			<!-- <div class="prevBtn" style="display:none;"><i class="fa fa-chevron-left"></i></div> -->
			<div class="row ">
						<div class="col col-xs-6 col-md-3"  rel="1" >
							<a href="templates/soutiendiri.html" class="ajax"><div class="item item3" >
								<div class="img" style="margin-top: -30px"><img src="images/arbre.png" alt=""></div>		
								<div class="label"><h2>Soutien aux dirigeants</h2></div>		
							</div></a>
						</div>
						<div class="col col-xs-6 col-md-3"  rel="2">
							<a href="templates/clausessociales.html" class="ajax"><div class="item item3">
								<div class="img" style="margin-top: -30px"><img src="images/emploi.png" alt=""></div>		
								<div class="label"><h2>Clauses sociales</h2></div>					
							</div></a>
						</div>
						<div class="col col-xs-6 col-md-3"  rel="3">
							<a href="templates/creation.html" class="ajax"><div class="item item3" >
									<div class="img" style="margin-top: -30px"><img src="images/ecrou.png" alt=""></div>		
									<div class="label"><h2>Creation d'entreprises</h2></div>	
							</div></a>						
						</div>
						<div class="col col-xs-6 col-md-3" rel="4" >
							<a href="templates/appui.html" class="ajax"><div class="item item3 ">
									<div class="img" style="margin-top: -10px"><img src="images/bras.png" alt=""></div>		
									<div class="label"><h2>Appui au recrutement</h2></div>						
							</div></a>
						</div>
			</div>
			<!-- <div class="nextBtn" style="display:none;"><i class="fa fa-chevron-right"></i></div> -->

		</div>
	</nav>


	<!-- content -->
	<section class="content">
		<div class="container">
		<div class="row">
				<!-- LEFT COLONNE -->
			<div class="col col-md-3 refheight">
				<div class="blockgrisgauche ">
					<h4 class="calendrier">Calendrier</h4>
					<div id="calendar"></div>
				</div>
				<div class="blockgrisgauche">
					<div class="logoME"><img src="images/ME-logo.png" alt=""></div>
					<h4 class="plaquette">Téléchargez la plaquette de la Maison de l'Emploi</h4>
				</div>
				<div class="blockgrisgauche blockbleugris">
					<h4>Contactez-nous !</h4>
					<p>Par téléphone au <br> 01 60 09 84 83</p>
					<p>ou par mail <br> info@mdene77-mlidf.org</p>
					<p>Adresse:  <br> <b>Maison de l’Economie et de l’Emploi - 2ème étage</b> <br>
					12, bd Jean Rose - BP103 <br>
					77105 Meaux Cedex	
					</p>
				</div>
			</div>
				<!-- MAIN CONTENT -->
			<div class="col col-md-9">
				<div class="mainContainer">
					
				</div>

				<div class="col-md-6 pl0 refheight2">
 
 
 
 
 
 
 
					<div class="blockgrisbas vert">
						<h2>Liens Utiles</h2>
						<ul>
							<li><a href="http://www.fongecif-idf.fr/">http://www.fongecif-idf.fr/</a></li>
							<li><a href="http://www.uniformation.fr/">http://www.uniformation.fr/</a></li>
							<li><a href="http://www.moncompteformation.gouv.fr/">http://www.moncompteformation.gouv.fr/</a></li>
							<li><a href="http://www.siteweb.fr">http://www.siteweb.fr</a></li>
							<li><a href="http://www.siteweb.com">http://www.siteweb.com</a></li>
							<li><a href="http://www.siteweb.fr">http://www.siteweb.fr</a></li>
							<li><a href="http://www.siteweb.com	">http://www.siteweb.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 pr0">
					
					<div class="blockgrisbas vert large">
						<h2>Documentation</h2>
						<ul>
							<li><a href="">Défi 50 </li>
							<li><a href="">Newsletter mensuelle de la Plateforme RH <br><small>Téléchargez la fiche descriptive</small></li>
							<li><a href="">Tableau de bord trimestriel <br><small>Téléchargez la fiche descriptive</small></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
