<!-- Footer
        ============================================= -->
        <footer id="footer" class="dark noborder">

            <div id="copyrights">
                <div class="container  center ls2 uppercase clearfix">
                    <%- __('Copyright') %> | <%- __('All Rights Reserved') %> | <%- __('Website') %> : <a href="http://momcreation.fr">MOMCREATION</a>

                    <!-- <div class="center topmargin-sm">
                        <a href="#" class="social-icon inline-block si-borderless si-small si-facebook" title="Facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="#" class="social-icon inline-block si-borderless si-small si-twitter" title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon inline-block si-borderless si-small si-github" title="Github">
                            <i class="icon-github"></i>
                            <i class="icon-github"></i>
                        </a>
                        <a href="#" class="social-icon inline-block si-borderless si-small si-pinterest" title="Pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>
                    </div> -->
                </div>
            </div>

        </footer><!-- #footer end -->