<!-- Footer
        ============================================= -->
        <footer id="footer" class=" noborder">

            <div class="container center">
                <div class="footer-widgets-wrap">

                    <div class="row divcenter clearfix">

                        <div class="col-md-4">

                            <div class="widget clearfix">
                                <h4>Liens</h4>

                                <ul class="list-unstyled footer-site-links nobottommargin colorwhite">
                                    <li><a href="/"  data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Home</a></li>
                                    <li><a href="/about"  data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">About</a></li>
                                    <li><a href="/infos"  data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Infos pratique</a></li>
                                    <li><a href="/blog"  data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Blog</a></li>
                                    <li><a href="/contact"  data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Contact</a></li>
                                </ul>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="widget clearfix">
                                <h4>Équipes</h4>

                                <ul class="list-unstyled footer-site-links nobottommargin colorwhite">
                                    <li><a href="poussin" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Poussin/Pupille <i class="icon-line2-symbol-male"></i><i class="icon-line2-symbol-female"></i></a></li>
                                    <li><a href="minimef" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Minimes <i class="icon-line2-symbol-female"></i></a></li>
                                    <li><a href="minimem" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Minimes <i class="icon-line2-symbol-male"></i></a></li>
                                    <li><a href="juniorf" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Junior <i class="icon-line2-symbol-female"></i></a></li>
                                    <li><a href="loisir" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Loisir <i class="icon-line2-symbol-male"></i><i class="icon-line2-symbol-female"></i></a></li>
                                    <li><a href="seniorm" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Senior départemental <i class="icon-line2-symbol-male"></i></a></li>
                                    <li><a href="seniorf" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Senior pre-national <i class="icon-line2-symbol-female"></i></a></li>
                                    
                                </ul>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="widget clearfix">
                                <h4>Contact</h4>

                                <p class="lead colorwhite">Gymnase Brise Bêche </strong><br>
                                            28 Rue du Buisson<br>
                                            02400 CHÂTEAU THIERRY</p>
                                <p class="lead colorwhite">
                                    Françoise : 06 32 43 54 65
                                </p>

                                <div class="center topmargin-sm">
                                    <a href="#" class="social-icon inline-block noborder si-small si-facebook colorwhite" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon inline-block noborder si-small si-twitter colorwhite" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon inline-block noborder si-small si-github colorwhite" title="Github">
                                        <i class="icon-github"></i>
                                        <i class="icon-github"></i>
                                    </a>
                                    <a href="#" class="social-icon inline-block noborder si-small si-pinterest colorwhite" title="Pinterest">
                                        <i class="icon-pinterest"></i>
                                        <i class="icon-pinterest"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div id="copyrights">
                <div class="container center clearfix colorwhite">
                    Copyright CTVB 2016 | Tous droits réservés
                </div>
            </div>

        </footer><!-- #footer end -->

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="../js/functions.js"></script>
