   <div id="wrapper" class="clearfix">

        <section id="slider" class="slider-parallax full-screen with-header force-full-screen clearfix">

            <div class="full-screen force-full-screen" style="background: url('images/parallax/home/10.jpg') center center no-repeat; background-size: cover;">

                <div class="container clearfix">
                    <div class="emphasis-title vertical-middle center">
                        <h1 data-animate="fadeInUp">M. Social <strong>Networking</strong></h1>
                    </div>
                </div>

            </div>

        </section>

        <%- include menu.ejs %>
        <div class="clear"></div>

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap nopadding">



                <div class="section parallax full-screen force-full-screen nomargin noborder" style="background-image: url('images/parallax/home/9.jpg');" data-stellar-background-ratio="0.4">
                    <div class="vertical-middle">
                        <div class="container clearfix">

                            <div class="col_three_fifth nobottommargin">

                                <div class="emphasis-title">
                                    <h2>Pionnier du Social NetWorking</h2>
                                    <p class="lead topmargin-sm">Andre Dan à donné sa premiere conférence en 1903. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 nopadding common-height">

                    <div class="col-md-4 dark col-padding ohidden" style="background-color: #1abc9c;">
                        <div>
                            <h3 class="uppercase" style="font-weight: 600;">Conférence</h3>
                            <p style="line-height: 1.8;">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="button button-border button-light button-rounded uppercase nomargin">En savoir plus</a>
                            <i class="icon-bulb bgicon"></i>
                        </div>
                    </div>

                    <div class="col-md-4 dark col-padding ohidden" style="background-color: #34495e;">
                        <div>
                            <h3 class="uppercase" style="font-weight: 600;">Coaching</h3>
                            <p style="line-height: 1.8;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="button button-border button-light button-rounded uppercase nomargin">En savoir plus</a>
                            <i class="icon-cog bgicon"></i>
                        </div>
                    </div>

                    <div class="col-md-4 dark col-padding ohidden" style="background-color: #e74c3c;">
                        <div>
                            <h3 class="uppercase" style="font-weight: 600;">Evenementiel</h3>
                            <p style="line-height: 1.8;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="button button-border button-light button-rounded uppercase nomargin">En savoir plus</a>
                            <i class="icon-thumbs-up bgicon"></i>
                        </div>
                    </div>

                    <div class="clear"></div>

                </div>

                <div class="section parallax full-screen force-full-screen dark nomargin noborder" style="background-image: url('images/parallax/home/8.jpg');width: 100%;" data-stellar-background-ratio="0.4">
                    <div class="vertical-middle">

                        <div class="container clearfix">

                            <div class="row">

                                <div class="col-md-3 bottommargin-sm center" data-animate="bounceIn">
                                    <i class="i-plain i-xlarge divcenter nobottommargin icon-bullhorn"></i>
                                    <div class="counter counter-large counter-lined"><span data-from="100" data-to="846" data-refresh-interval="50" data-speed="2000"></span>H</div>
                                    <h5>conférence dispensée</h5>
                                </div>

                                <div class="col-md-3 bottommargin-sm center" data-animate="bounceIn" data-delay="400">
                                    <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-directions"></i>
                                    <div class="counter counter-large counter-lined"><span data-from="10" data-to="64" data-refresh-interval="25" data-speed="2500"></span></div>
                                    <h5>Chef d'entreprise conseillé</h5>
                                </div>

                                <div class="col-md-3 bottommargin-sm center" data-animate="bounceIn" data-delay="200">
                                    <i class="i-plain i-xlarge divcenter nobottommargin icon-time"></i>
                                    <div class="counter counter-large counter-lined"><span data-from="3000" data-to="134" data-refresh-interval="100" data-speed="2500"></span>+</div>
                                    <h5>Evenement organisé</h5>
                                </div>

                                <div class="col-md-3 bottommargin-sm center" data-animate="bounceIn" data-delay="600">
                                    <i class="i-plain i-xlarge divcenter nobottommargin icon-trophy"></i>
                                    <div class="counter counter-large counter-lined"><span data-from="0" data-to="100" data-refresh-interval="30" data-speed="4000"></span>%</div>
                                    <h5>Client satisfait</h5>
                                </div>

                            </div>

                        </div>
                    <div class="clear"></div>
                    </div>
                </div>


                <div class="section nomargin noborder dark" style="">
                    <div class="heading-block center nobottomborder nobottommargin">
                        <h2>"Everything is designed, but some things are designed well."</h2>
                    </div>
                </div>

                <div class="section parallax full-screen dark nomargin noborder" style="background-image: url('images/parallax/home/1.jpg')" data-stellar-background-ratio="0.4">
                    <div class="vertical-middle">
                        <div class="container clearfix">

                            <div class="col_three_fifth nobottommargin">

                                <iframe width="560" height="315" src="https://www.youtube.com/embed/2evhBFe4gD8?list=PLquNL92TLXCddp90G_ZgOUVjDw07rJt9Y" frameborder="0" allowfullscreen></iframe>
                            </div>

                            <div class="col_two_fifth col_last nobottommargin">

                                <div class="emphasis-title">
                                    <h2>Mes Video</h2>
                                    <p class="lead topmargin-sm">Je vais essayer de mettre ma chaine youtube à jour aussi souvant que possible.</p>
                                </div>

                                <a href="https://www.youtube.com/channel/UCTbxaT5elwjWnSG9tzoVPZQ" class="button button-border button-rounded button-light button-large">Accéder à la chaine</a>

                            </div>

                        </div>
                    </div>
                </div>

               

            </div>

        </section><!-- #content end -->
        <%- include footer.ejs %>

    </div><!-- #wrapper end -->

