<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <%- include menu.ejs %>

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>Infos pratiques</h1>
                <span>Tous les informations dont vous pourriez avoir besoins au même endroit.</span>
                <!-- <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">FAQs</li>
                </ol> -->
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
         <section id="content">

            <div class="content-wrap">

                
                <div class="container ">
                    <div class="promo promo-light bottommargin">
                        <h3>Appeller nous aux <span>06 99 08 08 08</span> ou ecrivez nous à <span>contact@ctvb.com</span></h3>
                        <span>Nous répondons à tout vos email.</span>
                        <a href="/contact" class="button button-xlarge  button-dark button-rounded">Nous écrire</a>
                    </div>

                    <div class="fancy-title title-dotted-border title-center">
                        <h3>Prix des licences</h3>
                    </div>
                    <div class="pricing pricing-5 bottommargin clearfix">

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Poussin</h3>
                                <!-- <span>5GB in the Cloud</span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>70<span class="price-tenure">la saison</span>
                            </div>
                          <!--   <div class="pricing-action">
                                <a href="#" class="btn btn-danger btn-block">Get Started</a>
                            </div> -->
                        </div>

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Benjamin / Minime</h3>
                                <!-- <span></span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>75<span class="price-tenure">la saison</span>
                            </div>
                        </div>

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Cadet / junior</h3>
                                <!-- <span>100GB in the Cloud</span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>85<span class="price-tenure">la saison</span>
                            </div>
                        </div>

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Sénior loisir</h3>
                                <!-- <span>Sans compétition</span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>70<span class="price-tenure">la saison</span>
                            </div>
                        </div>

                        <div class="pricing-box pricing-minimal">
                            <div class="pricing-title">
                                <h3>Sénior compet</h3>
                                <!-- <span>avec compétition</span> -->
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>120<span class="price-tenure">la saison</span>
                            </div>
                            
                        </div>
                        
                    </div>
                    <p class="center">Nous offrons des tarifs dégressifs pour les inscriptions à partir de la mi-saison. Nous contactez pour plus d'informations.</p>
                </div>
                <div class="container topmargin bottommargin">
                    <div class="fancy-title title-dotted-border title-center">
                        <h3>Liens utiles</h3>
                    </div>
                    <div class="row clear-bottommargin">

                        <div class="col-md-4 col-sm-6 bottommargin">
                            <div class="promo promo-dark promo-flat promo-mini promo-uppercase promo-right">
                                <h3>Date des match de l'équipe de france <span>Féminine <i class="icon-line2-symbol-female"></i></span></h3>
                                <a href="http://www.ffvb.org/front/182-37-1-Competitions-" class="button button-large button-dark button-rounded">Aller voir</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 bottommargin">
                            <div class="promo promo-dark promo-mini promo-center">
                                <h3>Le site de la <span>Fédération francaise</span> de Volley Ball.</h3>
                                <a href="http://www.ffvb.org/" class="button button-large button-dark button-rounded">Aller voir</a>
                            </div>
                        </div>

                        <div class="clearfix visible-sm"></div>

                        <div class="col-md-4 bottommargin">
                            <div class="promo promo-dark promo-flat promo-mini promo-uppercase promo-right">
                                <h3>Date des match de l'équipe de france <span>Masculine <i class="icon-line2-symbol-male"></i></span></h3>
                                <a href="http://www.ffvb.org/front/127-37-1-Competitions-" class="button button-large button-dark button-rounded">Aller voir</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container clearfix bottommargin">

                    <div class="fancy-title title-dotted-border title-center">
                        <h3>Foire aux Questions</h3>
                    </div>

                    <!-- <p>Votre questions </p> -->

                    <!-- <div class="divider"><i class="icon-circle"></i></div> -->

                    <div class="col_half nobottommargin">

                        <h4>Compétitions <small>(4)</small></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>How do I become an author?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>

                            <div class="acctitle"><i class="acc-closed icon-comments-alt"></i><i class="acc-open icon-comments-alt"></i>Helpful Resources for Authors</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

                            <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-lock3"></i>How much money can I make?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</div>

                        </div>

                        <h4 class="topmargin">Règles du jeux <small>(5)</small></h4>

                        <div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-download-alt"></i><i class="acc-open icon-download-alt"></i>Can I offer my items for free on a promotional basis?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>

                            <div class="acctitle"><i class="acc-closed icon-ok"></i><i class="acc-open icon-ok"></i>An Introduction to the Marketplaces for Authors</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

                            <div class="acctitle"><i class="acc-closed icon-credit"></i><i class="acc-open icon-credit"></i>How do I pay for items on the Marketplaces?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</div>

                        </div>

                    </div>

                    <div class="col_half nobottommargin col_last">

                        <h4>Général <small>(9)</small></h4>

                        <div class="accordion accordion-border clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-picture"></i><i class="acc-open icon-picture"></i>What Images, Videos, Code Can I Use in my Items?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>

                            <div class="acctitle"><i class="acc-closed icon-file3"></i><i class="acc-open icon-file3"></i>Can I use trademarked names in my items?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

                            <div class="acctitle"><i class="acc-closed icon-phone3"></i><i class="acc-open icon-phone3"></i>How can I get support for an item?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</div>

                        </div>

                        <h4 class="topmargin">Inscription <small>(3)</small></h4>

                        <div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

                            <div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Quel est le prix de l'inscription ?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>

                            <div class="acctitle"><i class="acc-closed icon-bar-chart"></i><i class="acc-open icon-bar-chart"></i>Quel document faut-il ramener?</div>
                            <div class="acc_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit veniam odio voluptatum. Enim at asperiores quod velit minima officia accusamus cumque eligendi consequuntur fuga? Maiores, quasi, voluptates, exercitationem fuga voluptatibus a repudiandae expedita omnis molestiae alias repellat perferendis dolores dolor.</div>

                        </div>

                    </div>

                </div>
                <div class="container topmargin">
                    <div class="heading-block center  topmargin">
                        <h2>Nos arbitres</h2>
                        <span>Ils font le tour de la région afin d'assurer l'arbitrage du championats Fédéral.</span>
                    </div>
                    <div class="row clear-bottommargin">

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/volley/keke.jpg" alt="Cédric Guyot">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Cédric Guyot</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : gegregregregre@gergre.fr</li>
                                            <li>Téléphone : 06 32 54 65 87</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/4.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Nix Maxwell</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : gegregregregre@gergre.fr</li>
                                            <li>Téléphone : 06 32 54 65 87</li>
                                        </ul>
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/8.jpg" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Cédric Guyot</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : gegregregregre@gergre.fr</li>
                                            <li>Téléphone : 06 32 54 65 87</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="images/team/4.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Nix Maxwell</h4><span>Arbitre</span></div>
                                    <div class="team-content">
                                        <ul>
                                            <li>Email : gegregregregre@gergre.fr</li>
                                            <li>Téléphone : 06 32 54 65 87</li>
                                        </ul>
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </section><!-- #content end -->

        <%- include footer.ejs %>

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    

</body>