<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <base href="<%- baseurl %>">
    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />

    <!-- One Page Module Specific Stylesheet -->
    <link rel="stylesheet" href="css/onepage.css" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="css/dark.css" type="text/css" />
    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/et-line.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/colors.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="css/fonts.css" type="text/css" />

    <link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/plugins.js"></script>

    <!-- Document Title
    ============================================= -->
    <title>CTVB</title>
    
    <link rel="shortcut icon" href="/images/ctvbfavicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/images/ctvbfavicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/ctvbfavicon/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/images/ctvbfavicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/ctvbfavicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/ctvbfavicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/ctvbfavicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ctvbfavicon/favicon-16.png">
    <link rel="apple-touch-icon" href="/images/ctvbfavicon/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/ctvbfavicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/ctvbfavicon/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/ctvbfavicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/ctvbfavicon/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/ctvbfavicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/ctvbfavicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/ctvbfavicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/ctvbfavicon/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">

</head>

    <%- body %>

</html>