<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maison de l'emploi</title>
    <% if(baseurl){%>
    <base href="<%- baseurl %>" >
    <%} %>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="bower_components/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="bower_components/fullcalendar/dist/lang/fr.js"></script>

</head>
<body>



<div class="globalContainer" id="<%- menu %>">

<!-- HEADER -->
    <header>
        <div class="container">
            <div class="row">
                <a href="/">
                <div class="logo col-xs-12 col-sm-6 col-md-3 col-lg-2 "><img src="images/maisonemploi.jpg" alt=""></div>
                <div class="restduheader col-xs-12 col-sm-6 col-md-9 col-lg-10 "> <h3>BIENVENUE SUR LE SITE DE LA MAISON DE L’EMPLOI <br> ET DE LA FORMATION NORD-EST 77</h3></div>
                </a>
            </div>
        </div>
    </header>

<!-- MENU -->
    <nav class="navprincipal">
        <div class="container">
            <div class="row">
                <!-- <div class="recherche col-md-3">
                    <input type="text" placeholder="Rechercher sur le site">
                    <div class="logosearch"><i class="fa fa-search"></i></div>
                </div> -->
                <ul>
                    <% if(menu != 'home'){%>
                    <li class="lien"><a href="/" >Accueil</a></li>
                    <li class="lien"><a href="/chercheurdemploi" >Chercheur d'emploi</a></li>
                    <li class="lien"><a href="/salaries" >Salaries</a></li>
                    <li class="lien"><a href="/entreprises" >Entreprises</a></li>
                    <li class="lien"><a href="/partenaires" >Partenaires</a></li>
                    <li class="lien" style="top: -2px;position:relative;">|</li>
                    <%}%>
                    <li class="lien"><a href="/quisommenous" >Qui sommes-nous</a></li>
                    <li class="lien"><a href="/blog">Blog</a></li>
                    <li class="lien"><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>



    <%- body %>

    


    <footer>
        <div class="bando">
            <div class="container"><h5>Maison de l'emploi et de la formation NORD-EST 77</h5></div>
        </div>
        <div class="container">
        <div class="bandoclient">
            <ul>
                <li><a href="#"><img src="images/logoPartenaire/logo1.png" class="img-responsive longueur2"></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo2.png" class="img-responsive portrait2"></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo3.png" class="img-responsive portrait"></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo4.png" class="img-responsive"></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo5.png" class="img-responsive "></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo6.png" class="img-responsive"></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo7.png" class="img-responsive"></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo8.png" class="img-responsive longueur"></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo9.png" class="img-responsive portrait"></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo10.png" class="img-responsive"></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo11.png" class="img-responsive"></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo12.png" class="img-responsive portrait2"></a></li>
                <li><a href="#"><img src="images/logoPartenaire/logo13.png" class="img-responsive longueur2"></a></li>
            </ul>
        </div>
        </div>
    </footer>


</div>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/<%- script %>.js"></script>
<script src="js/calendar.js"></script>
<script src="js/scripts.js"></script>
<script>
    

</script>
</body>
</html>