<!-- Header
        ============================================= -->
        <header id="header" class=" dark full-header transparent-header  <% if(menu !='home'){%> static-sticky sticky-header<% }else{%>home<%} %>" >

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="/" class="standard-logo" data-dark-logo="images/ctvblogo.svg"><img src="images/ctvblogo.svg" alt="CTVB - chateau thierry volley ball Logo"></a>
                        <a href="/" class="retina-logo" data-dark-logo="images/ctvblogo.svg"><img src="images/ctvblogo.svg" alt="CTVB - chateau thierry volley ball Logo"></a>
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                            <li><a href="/blog" ><div>News</div></a></li>
                            <li><a href="/infos" data-href="#section-services"><div>Infos pratiques</div></a></li>
                            <li class="submenu">
                                <a href="#" data-href="#section-team"><div>Équipes</div></a>
                                <ul class="col-4 clearfix nobottommargin colorwhite" >
                                    <li><a href="poussin" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Poussin/Pupille <i class="icon-line2-symbol-male"></i><i class="icon-line2-symbol-female"></i></a></li>
                                    <li><a href="minimef" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Minimes <i class="icon-line2-symbol-female"></i></a></li>
                                    <li><a href="minimem" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Minimes <i class="icon-line2-symbol-male"></i></a></li>
                                    <li><a href="juniorf" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Junior <i class="icon-line2-symbol-female"></i></a></li>
                                    <li><a href="loisir" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Loisir <i class="icon-line2-symbol-male"></i><i class="icon-line2-symbol-female"></i></a></li>
                                    <li><a href="seniorm" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Senior <i class="icon-line2-symbol-male"></i></a></li>
                                    <li><a href="seniorf" data-scrollto="#section-about" data-easing="easeInOutExpo" class="colorwhite" data-speed="1250" data-offset="70">Senior <i class="icon-line2-symbol-female"></i></a></li>
                                    
                                </ul>
                            </li>
                            <li><a href="/contact" data-href="#section-contact"><div>Contact</div></a></li>
                            <li><a href="/about" data-href="#section-about"><div>About</div></a></li>
                        </ul>

                        <!-- <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div> -->

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->