
        <!-- Header
        ============================================= -->
        <header id="header" class="transparent-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png"><div class="logo1">Andre Dan</div></a>
                        <!-- <a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a> -->
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul>
                            <li class="<% if(menu=='service'){%> current <%}%>"><a href="#"><div>Service</div></a>
                                <ul>
                                    <li><a href="/service"><div><i class="icon-bullhorn"></i>Conférence</div></a>
                                    </li>
                                    <li><a href="/service"><div><i class="icon-line2-directions"></i>Coaching</div></a>
                                    </li>
                                    <li><a href="/service"><div><i class="icon-beer"></i>Evènementiel</div></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="<% if(menu=='blog'){%> current <%}%>"><a href="/blog"><div>Blog</div></a></li>
                            <li class="<% if(menu=='forum'){%> current <%}%>"><a href="/forum"><div>Forum</div></a></li>
                            <li class="<% if(menu=='photo'){%> current <%}%>"><a href="/photo"><div>Photos</div></a></li>
                            <li class="<% if(menu=='about'){%> current <%}%>"><a href="/about"><div>About</div></a></li>
                            <li class="<% if(menu=='contact'){%> current <%}%>"><a href="/contact"><div>Contact</div></a></li>
                            
                        </ul>

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->