<html>
  <head>
    <title>Mise a jours</title>
    <link href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
    <style>
      /* Styles included inline since you'll probably be deleting this page anyway */
      html,body{text-align:left;font-size:1em}html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code{margin:0;padding:0}ul,li{list-style:none}img{display:block}a img{border:0}a{text-decoration:none;font-weight:normal;font-family:inherit}*:active,*:focus{outline:0;-moz-outline-style:none}h1,h2,h3,h4,h5,h6,h7{font-weight:normal;font-size:1em}.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}.fourohfour .ocean{background:url('http://sailsjs.com/images/waves.png') #0c8da0 no-repeat center 0;height:315px}.fourohfour .ocean img{margin-right:auto;margin-left:auto}.fourohfour .waves{display:block;padding-top:25px;margin-right:auto;margin-left:auto}.fourohfour .main{display:block;margin-top:90px}.fourohfour .logo{width:150px;margin-top:3.5em;margin-left:auto;margin-right:auto}.fourohfour .fishy{display:block;padding-top:27px}.fourohfour .help{padding-top:2em}.fourohfour h1{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:bold;font-size:1.7em;color:#001c20;text-align:center}.fourohfour h2{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-weight:300;font-size:1.5em;color:#001c20;text-align:center}.fourohfour p{font-family:"Open Sans","Myriad Pro",Arial,sans-serif;font-size:1.25em;color:#001c20;text-align:center}.fourohfour a{color:#118798}.fourohfour a:hover{color:#b1eef7}
			body{font-size:16px;background:teal;color:#070707;}
      		h1{font-size:3em;color:#070707;}
      		h2{font-size:2em;color:#070707;}
      		h4{font-size:2em;color:#070707;padding-left:20px;}
      		.content{ margin: 0 auto;width:1024px;}
      		
      		p{padding-left:20px;font-size:1.5em;}
      		ul, ol {padding-left:50px;}
      		ul li{ list-style: disc}
      		ol li{ list-style: decimal;font-size:2em;color:#070707;}
      		a {text-decoration:underline;color:#070707;}
      		.logo{ margin:50px auto;width:300px;height:320px; }
      		.contactBox{ margin:50px auto;width:400px;}
      		.marginbottom{margin-bottom: 200px ;}

    </style>
  </head>
  <body>

	
	<div class="content">
		<div class="logo">
			<img src="images/logo Momcreation.jpg" alt="logo Momcreation">
		</div>
	<div class="contactBox">
        <div class="wrapper">
          <h4>MOMCREATION SARL</h4>
          <p>12 bis rue du paradis <br>02400 Château Thierry</p>
          <p><%= __('Phone') %> : +33 6 37 08 98 71</p>
          <p><%= __('Email') %>  : <a href="mailTo:contact@momcreation.fr">contact@momcreation.fr</a></p>
        </div>
      </div>
	</div>
	<div class="content">
		
	   <h1>
	   		Votre navigateur n'est pas à jours.
	   </h1>

	   <p>Vous faite partis des 1,5 % de français qui utilise un navigateur web aussi vieux.</p>
	   <p>Voici les problèmes lier à ces vieux navigateur:</p>
	   <ul>
	   	<li>Lenteur</li>
	   	<li>Déformation des page web, mauvais rendu</li>
	   	<li>Fonctionnalités web manquantes</li>
	   </ul>
	   <h2>Pour consulter le site, veuillez mettre à jour votre navigateur</h2>
	   <p>2 solutions</p>
	   <ul>
	   	
	   		<li>Mettre ce navigateur à jours avec la dernière version en date</li>
	   		<li>( conseiller ) Télécharger un navigateur web de dernière génération
	   			<br>
	   			Voici les deux plus populaire, faite votre choix
					<ol>
						<li><a href="https://www.google.fr/chrome/browser/desktop/">Google Chrome</a></li>
						<li><a href="https://www.mozilla.org/fr/firefox/new/">Firefox</a></li>
					</ol>


	   		</li>
	   </ul>
	</div>
	<div class="marginbottom"></div>

  </body>
</html>