<!-- NAV2 -->
	<nav class="navSecondaire">
		<div class="container positioned">
			<div class="prevBtn" style="display:none;"><i class="fa fa-chevron-left"></i></div>
			<div class="row ">
						<div class="col col-xs-6 col-md-3"  rel="1" >
							<a href="templates/pacte.html" class="ajax"><div class="item item4" >
								<div class="img"><img src="images/pacte.png" alt=""></div>		
								<div class="label"><h2>Le PACTE</h2></div>		
							</div></a>
						</div>
						<div class="col col-xs-6 col-md-3"  rel="2">
							<a href="templates/cope.html" class="ajax"><div class="item item4">
								<div class="img" style="margin-top: -30px"><img src="images/cope.png" alt=""></div>		
								<div class="label"><h2>Le cope</h2></div>					
							</div></a>
						</div>
						<div class="col col-xs-6 col-md-3"  rel="3">
							<a href="templates/iae.html" class="ajax"><div class="item item4" >
									<div class="img" style="margin-top: -30px"><img src="images/maison2.png" alt=""></div>		
									<div class="label"><h2>Structures de <br>l'insertion par <br>L'activité économique</h2></div>	
							</div></a>						
						</div>
						<div class="col col-xs-6 col-md-3" rel="4" >
							<a href="templates/handi.html" class="ajax"><div class="item item4 ">
									<div class="img"><img src="images/handi.png" alt=""></div>		
									<div class="label"><h2>reseau local <br>handicap emploi</h2></div>						
							</div></a>
						</div>
						<div class="col col-xs-6 col-md-3 hide" rel="5" >
							<a href="templates/chef.html" class="ajax"><div class="item item4 ">
									<div class="img"><img src="images/chefs.png" alt=""></div>		
									<div class="label"><h2>Associations <br>chefs d'entreprise</h2></div>						
							</div></a>
						</div>
			</div>
			<div class="nextBtn" style="display:none;"><i class="fa fa-chevron-right"></i></div>

		</div>
	</nav>


	<!-- content -->
	<section class="content">
		<div class="container">
		<div class="row">
				<!-- MAIN CONTENT -->
			<div class="col col-md-9">
				<div class="mainContainer">
					
				</div>

				<% include ../assets/templates/LINK-partenaires.html  %>
			</div>
				<!-- LEFT COLONNE -->
			<div class="col col-md-3 refheight2">
				<div class="blockgrisgauche">
					<h4 class="calendrier">Calendrier</h4>
					<div id="calendar"></div>
				</div>
				<div class="blockgrisgauche">
					<div class="logoME"><img src="images/ME-logo.png" alt=""></div>
					<h4 class="plaquette">Téléchargez la plaquette de la Maison de l'Emploi</h4>
				</div>
				<div class="blockgrisgauche blockbleugris">
					<h4>Contactez-nous !</h4>
					<p>Par téléphone au <br> 01 60 09 84 83</p>
					<p>ou par mail <br> info@mdene77-mlidf.org</p>
					<p>Adresse:  <br> <b>Maison de l’Economie et de l’Emploi - 2ème étage</b> <br>
					12, bd Jean Rose - BP103 <br>
					77105 Meaux Cedex	
					</p>
				</div>
			</div>
		</div>
		</div>
	</section>

