<div id="wrapper" class="clearfix">
		
		<%- include menu.ejs %>

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>Nos plus beaux instants.</h1>
                <span>Je ne suis pas pour le faite d'avoir une page photo à moin d'avoir de très belle photo à montrer.</span>
                <!-- <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Portfolio</li>
                </ol> -->
            </div>

        </section><!-- #page-title end -->

        <!-- Page Sub Menu
        ============================================= -->
        <div id="page-menu" class="no-sticky">

            <div id="page-menu-wrap">

                <div class="container clearfix">

                    <div class="menu-title">Photo<span>Filtre</span></div>

                    <nav>
                        <ul>
                            <li class="current"><a href="#" data-filter="*">Tous</a></li>
                            <li><a href="#" data-filter=".pf-icons">Israel</a></li>
                            <li><a href="#" data-filter=".pf-illustrations">Conference</a></li>
                            <li><a href="#" data-filter=".pf-uielements">Coaching</a></li>
                            <li><a href="#" data-filter=".pf-media">Evenementiel</a></li>
                        </ul>
                    </nav>

                <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

                </div>

            </div>

        </div><!-- #page-menu end -->

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap" style="padding: 1px 0 0 0;">

                <!-- Portfolio Items
                ============================================= -->
                <div id="portfolio" class="portfolio-nomargin portfolio-full portfolio-masonry mixed-masonry clearfix">

                    <article class="portfolio-item pf-media pf-icons wide">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images/portfolio/4/mixed/1.jpg" alt="Open Imagination">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single.html">Open Imagination</a></h3>
                                    <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                                </div>
                                <a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-illustrations">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images/portfolio/4/mixed/2.jpg" alt="Locked Steel Gate">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
                                    <span><a href="#">Illustrations</a></span>
                                </div>
                                <a href="images/portfolio/full/2.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics pf-uielements">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/portfolio/4/mixed/3.jpg" alt="Mac Sunglasses">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
                                    <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
                                </div>
                                <a href="http://vimeo.com/89396394" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                <a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-icons pf-illustrations wide">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/mixed/4.jpg" alt="Morning Dew"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/mixed/4-1.jpg" alt="Morning Dew"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single-gallery.html">Morning Dew</a></h3>
                                    <span><a href="#"><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
                                </div>
                                <a href="images/portfolio/full/4.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="images/portfolio/full/4-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-uielements pf-media">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images/portfolio/4/mixed/5.jpg" alt="Console Activity">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single.html">Console Activity</a></h3>
                                    <span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
                                </div>
                                <a href="images/portfolio/full/5.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics pf-illustrations">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/mixed/6.jpg" alt="Shake It"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/mixed/6-1.jpg" alt="Shake It"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/mixed/6-2.jpg" alt="Shake It"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/mixed/6-3.jpg" alt="Shake It"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single-gallery.html">Shake It!</a></h3>
                                    <span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
                                </div>
                                <a href="images/portfolio/full/6.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="images/portfolio/full/6-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="images/portfolio/full/6-2.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="images/portfolio/full/6-3.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-uielements pf-icons">
                        <div class="portfolio-image">
                            <a href="portfolio-single-video.html">
                                <img src="images/portfolio/4/mixed/7.jpg" alt="Backpack Contents">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single-video.html">Backpack Contents</a></h3>
                                    <span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
                                </div>
                                <a href="http://www.youtube.com/watch?v=kuceVNBTJio" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                <a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images/portfolio/4/mixed/8.jpg" alt="Sunset Bulb Glow">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single.html">Sunset Bulb Glow</a></h3>
                                    <span><a href="#">Graphics</a></span>
                                </div>
                                <a href="images/portfolio/full/8.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-illustrations pf-icons wide">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-speed="650" data-pause="3500" data-animation="fade">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/mixed/9.jpg" alt="Bridge Side"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/mixed/9-1.jpg" alt="Bridge Side"></a></div>
                                        <div class="slide"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/mixed/9-2.jpg" alt="Bridge Side"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single.html">Bridge Side</a></h3>
                                    <span><a href="#">Illustrations</a>, <a href="#">Icons</a></span>
                                </div>
                                <a href="images/portfolio/full/9.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="images/portfolio/full/9-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="images/portfolio/full/9-2.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics pf-media pf-uielements">
                        <div class="portfolio-image">
                            <a href="portfolio-single-video.html">
                                <img src="images/portfolio/4/mixed/10.jpg" alt="Study Table">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single-video.html">Study Table</a></h3>
                                    <span><a href="#">Graphics</a>, <a href="#">Media</a></span>
                                </div>
                                <a href="http://vimeo.com/91973305" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                                <a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images/portfolio/4/mixed/11.jpg" alt="Workspace Stuff">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single.html">Workspace Stuff</a></h3>
                                    <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                                </div>
                                <a href="images/portfolio/full/11.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-illustrations pf-graphics wide">
                        <div class="portfolio-image">
                            <a href="portfolio-single-gallery.html">
                                <img src="images/portfolio/4/mixed/12.jpg" alt="Workspace Stuff">
                            </a>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <div class="portfolio-desc">
                                    <h3><a href="portfolio-single-gallery.html">Fixed Aperture</a></h3>
                                    <span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
                                </div>
                                <a href="images/portfolio/full/12.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="images/portfolio/full/12-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
                                <a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                    </article>

                </div><!-- #portfolio end -->

                <!-- Portfolio Script
                ============================================= -->
                <script type="text/javascript">

                    jQuery(window).load(function(){

                        var $container = $('#portfolio');

                        $container.isotope({
                            transitionDuration: '0.65s',
                            masonry: {
                                columnWidth: $container.find('.portfolio-item:not(.wide)')[0]
                            }
                        });

                        $('#page-menu a').click(function(){
                            $('#page-menu li').removeClass('current');
                            $(this).parent('li').addClass('current');
                            var selector = $(this).attr('data-filter');
                            $container.isotope({ filter: selector });
                            return false;
                        });

                        $(window).resize(function() {
                            $container.isotope('layout');
                        });

                    });

                </script><!-- Portfolio Script End -->

            </div>

        </section><!-- #content end -->

        <%- include footer.ejs %>

    </div><!-- #wrapper end -->
