
    <div class="container-wrapper navigation">
        <nav class="navbar navbar-default" role="navigation">
        
            <div class="container">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/front/arbatouligne.svg"  />
                    </a>
                    <ul class="mini"></ul><!-- mobile navigation -->
                </div><!-- .navbar-header -->
                
                <div class="collapse navbar-collapse">
                    <div class="right">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="/">Home</a></li>
                            <li class="active"><a href="/presta">Prestations</a></li>
                            <li class=""><a href="/grimpes">Grimpes</a></li>
                            <li class=""><a href="/blog">Blog</a></li>
                            <li class=""><a href="/contact">Contact</a> </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            
        </nav>
        </div>
    <div id="nav-ends"></div>
    
    <section class="slug parallax-slug-4" data-stellar-background-ratio="0">
    	<div class="overlay">
            <div class="container">
            	<div class="row">
                    <div class="col-lg-12">
                        <h1 class="anim fadeInDown">Nos Prestations</h1>
                        <p class="anim fadeInDown" data-wow-delay=".32s">La page des informations pratiques.</p>
                    </div><!-- .col-lg-12 -->
                </div><!-- .row -->
            </div>
        </div><!-- .overlay -->
    </section>
   <!-- <div class="row" > -->
       <div class="container prestations">
            <section class="prestation col-sm-6" >
                   <h2 class=''>Conditions légales d'intervention</h2>

                   <p>La grimpe d'arbres est encadrée par un Educateur diplômé d'un <b>CQP EGA (Educateur Grimpe d'Arbres)</b>, conformément à la Convention collective nationale du sport du 7 Juillet 2005.</p>
                   <p>L'effectif maximum est de 8 participants par EGA, assurés par des prussiks (systèmes de nœuds autobloquants totalement sécurisants) tout public, sans limite d'âge ni de handicap.</p>
                   <p>Agréments de l'Éducation Nationale en Savoie, Isère, Drôme, Aisne.</p>

                   <h2 class=''>Tarifs</h2>   
                  <p>En général, une journée d'encadrement par un EGA revient à <strong>350€</strong>, et une demi-journée revient à <strong>250€</strong>. Selon le projet, les coûts sont réévalués.</p>
                  <p><strong>Uniquement sur Réservation</strong></p>
            </section>

           	<section class="prestation col-sm-6" >
            	   <h2 class=''>Accrobranche ou Grimpe d'Arbres - Kezaco?</h2>

                   <p>À l'origine de l'accrobranche :</p>
                   <p>ce sont des élagueurs qui ont voulu partager leur passion avec le grand public : ils ont Créé en 1989 l'association "Les Accrobranchés" en Ardèche. L'accrobranche et la grimpe d'arbres étaient alors équivalents : toutes les installations étaient semblables à celles de l'élagage, éphémères, nomades, sur sangles et sur cordes.</p>
                   <p>
                   Aujourd'hui:
                   </p>
                   <ul>
                     <li>Le nom accrobranche est utilisé par le grand public pour désigner les parcours acrobatiques en hauteur, destinés à se déplacer entre plusieurs arbres. Ce sont des parcours fixes, généralement sur câbles en métal, qui restent en permanence sur les arbres. <br>
                      On peut dire : accrobranche fixe. </li>
                     <li>La grimpe d'arbres fait aujourd'hui référence à l'accrobranche d'origine, sur cordes et sur sangles, mobile et éphémère, destinée à évoluer de manière autonome dans un arbre, en privilégiant le contact direct avec l'arbre, et en limitant l'impact des installations sur l'environnement. <br>
                      On peut dire : accrobranche mobile. 
                      </li>
                   </ul>
            </section>


             <section class="prestation col-sm-12" >
                  
            </section>

             <section class="prestation col-sm-12" >
                  <div class="btn btn-default"><a href="images/Arbatou English.pdf" download="Affiche Arbatou" target="_BLANK">Télécharger l'affiche</a></div>
                  <div class="btn btn-default"><a href="images/ARBATOU Web.pdf" download="Flyers Arbatou" target="_BLANK">Télécharger le flyers</a></div>
            </section>

             <section class="prestation col-sm-12" >
                  <h2 class=''>Formules</h2>
                  <ul>
                    <li class=" formule col-xs-12">
                      <div class="col-sm-6 blockimg">
                         <img src="images/front/decouverte.jpg" alt="Arba'Découverte">
                      </div>
                      <div class="col-sm-6">
                        <h3><small>Formule</small>  <strong>Arba'Découverte</strong></h3>
                        <ul>
                          <li><label>Objectif :</label> Découvrir l’Arbre et son Environnement par des techniques adaptées à tous.</li>
                          <li><label>Contenu :</label> Grimper dans un arbre en Moulinette et/ou en Corde à Soi selon la disposition du site et selon les arbres qui peuvent nous accueillir.</li>
                          <li><label>Déroulement :</label> 2h30, 6 participants minimum.</li>
                          <li><label>Tarif :</label> 35€ / Personne.</li>
                        </ul>

                          
                      </div>
                    </li>
                    <li class=" formule col-xs-12">
                      
                      <div class="col-sm-6">
                        <h3><small>Formule</small>  <strong>Arba'Sensations Fortes</strong></h3>
                        <ul>
                          <li><label>Objectif :</label> Se confronter à des sensations fortes entre deux ou trois arbres.</li>
                          <li><label>Contenu :</label> Saut en Tyrolienne molle ou en Tyrolienne à rétention, Saut pendulaire, Pont de singe, Tree line… De nombreuses configurations possibles selon la disposition du site et selon les arbres</li>
                          <li><label>Déroulement :</label> 2h30, 6 participants minimum.</li>
                          <li><label>Tarif :</label> 45€ / Personne.</li>
                        </ul>
                      </div>
                      <div class="col-sm-6 blockimg">
                         <img src="images/front/sensation.jpg" alt="arbatou Arba'Sensations Fortes">
                      </div>
                    </li>
                    <li class=" formule col-xs-12">
                      <div class="col-sm-6 blockimg">
                         <img src="images/front/nuit.jpg" alt="arbatou arba'nuit">
                      </div>
                      <div class="col-sm-6">
                        <h3><small>Formule</small>  <strong>Arba'Nuit confortablement arborée</strong></h3>
                        <ul>
                          <li><label>Objectif :</label> Laisser tomber la nuit et s’immerger dans le monde nocturne de l’Arbre.</li>
                          <li><label>Contenu :</label> Installés au cœur des arbres sur des hamacs confortables ou des plates formes en toiles de CORDURA®, l’ensemble des participants dormira paisiblement encadré par un EGA jusqu’au retour au sol le lendemain.</li>
                          <li><label>Déroulement :</label>Rendez-vous à 16h30 pour prendre possession des lieux, fin du bivouac à 9h30 le lendemain matin. 6 participants minimum.</li>
                          <li><label>Tarif :</label> 65€ / Personne.</li>
                          <li><label>IMPORTANT :</label>  Prévoir un duvet et un matelas par personne. La lampe frontale n’est pas indispensable pour les participants.</li>
                        </ul>
                      </div>
                      
                    </li>
                    <li class=" formule col-xs-12">
                      
                      <div class="col-sm-6">
                        <h3><small>Formule</small>  <strong>Arba'Zik ou Arba'Pestacle</strong></h3>
                        <ul>
                          <li><label>Objectif :</label> Installer des artistes en tous genres dans les arbres.</li>
                          <li><label>Contenu :</label> Pour un évènement en particulier, nous installons des artistes dans un arbre : groupes de musique, peintres, danseurs, conteurs, etc. La liste des possibilités  est longue. A vous d’innover... !</li>
                          <li><label>Déroulement :</label>En journée ou en soirée, ARBATOU s’adapte à vos besoins.</li>
                          <li><label>Tarif :</label> Sur demande.</li>
                        </ul>
                      </div>
                      <div class="col-sm-6 blockimg">
                         <img src="images/front/zik.jpg" alt="arbatou arba'zik">
                      </div>
                    </li>
                    <li class=" formule col-xs-12">
                      <div class="col-sm-6 blockimg">
                         <img src="images/front/DSC_0507.jpg" alt="arbatou Arba'Scientifique">
                      </div>
                      <div class="col-sm-6">
                        <h3><small>Formule</small>  <strong>Arba'Scientifique</strong></h3>
                        <ul>
                          <li><label>Objectif :</label> Accéder à des espaces normalement inaccessibles pour des études scientifiques diverses.</li>
                          <li><label>Contenu :</label> Sur des auto-assurances les scientifiques évolueront aisément dans l’arbre pour réaliser une étude en toute sécurité.</li>
                          <li><label>Déroulement :</label>ARBATOU saura vous renseigner et vous accompagner dans votre demande.</li>
                          <li><label>Tarif :</label> Sur demande.</li>
                        </ul>
                      </div>
                      
                    </li>
                    <li class=" formule col-xs-12">
                      <div class="col-sm-6">
                        <h3><small>Formule</small>  <strong>Arba'Table ou Arba'Bar</strong></h3>
                        <ul>
                          <li><label>Objectif :</label> Créer l’insolite en installant un Restaurant ou un Bar dans un arbre.</li>
                          <li><label>Contenu :</label> Communiquez sur l’évènement et des clients auront l’opportunité de manger à une dizaine de mètres du sol. Vous cuisinez et nous nous chargerons du service dans l’arbre.</li>
                          <li><label>Déroulement :</label>Nous avons plusieurs tables de 4 personnes, selon le site et les arbres nous nous adapterons.</li>
                          <li><label>Tarif :</label> Sur demande.</li>
                        </ul>
                      </div>
                      <div class="col-sm-6 blockimg">
                         <img src="images/front/p1020524.jpg" alt="arbatou Arba'Table ou Arba'Bar">
                      </div>
                      
                    </li>
                    <li class=" formule col-xs-12">
                      
                      <div class="col-sm-6 blockimg">
                         <img src="images/front/recul.jpg" alt="arbatou Arba'Recul">
                      </div>
                      <div class="col-sm-6">
                      
                        <h3><small>Formule</small>  <strong>Arba'Recul</strong></h3>
                        <ul>
                          <li><label>Objectif :</label> Prendre du recul sur soi et reprendre contact avec la nature.</li>
                          <li><label>Contenu :</label> Selon le degré d’apprentissage, nous évoluerons dans les différentes techniques séances après séances.</li>
                          <li><label>Déroulement :</label>Prise en charge d’un jeune en rupture sociale. Sur une ou plusieurs séances.</li>
                          <li><label>Tarif :</label> Sur demande.</li>
                        </ul>
                      </div>

                    </li>

                  </ul>
            </section>
             <section class="prestation col-sm-12" >
              <h2>Pour qui?</h2>
            <p>Pour les <strong>associations</strong> qui souhaitent organiser un festival et l'agrémenter d'une rencontre avec l'arbre, pour les <strong>écoles</strong> qui souhaitent s'ouvrir sur des moyens pédagogiques forts, pour les <strong>centres de loisirs</strong> et les <strong>centres d'accueils</strong> qui souhaitent convenir d'une visite aérienne, pour une <strong>famille</strong>, un <strong>groupe d'amis</strong>, une <strong>personne seule</strong>, pour les <strong>amoureux</strong> qui souhaitent se retrouver dans les cimes, contactez nous pour tout imaginer !</p>

            <h2>Où Pratiquer ?</h2>
            <p>Nos installations viennent jusque <strong>chez vous</strong>, dans votre établissement, votre forêt ou votre ville.  <br>
              Ceci limite les couts de déplacements pour les participants.<br>
              Nous possédons également des sites conventionnés par Arbatou, sur lesquels nous pouvons monter des ateliers dans le cas où vous n'auriez pas d'arbres en vue...<br>
              Grimpe d'Arbres <strong>Rhône Alpes</strong> : Chambéry, Grenoble, Annecy, Albertville, Lyon, Chamonix.<br>
              Grimpe d'Arbres <strong>Champagne Ardennes</strong> : Reims, Épernay.<br>
              Grimpe d'Arbres <strong>Île de France</strong> : Château-Thierry, La-Ferté-sous-Jouarre, Meaux, Paris.
            </p>  
            </section>

       <!-- </div> -->
   </div>
<script>


</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68126193-1', 'auto');
  ga('send', 'pageview');

</script>