	<!-- content -->
	<section class="content">
		<div class="container">
		<div class="row">
				<!-- MAIN CONTENT -->
			<div class="col col-md-9">
				<div class="maincontainer">
					
					<% include ../assets/templates/quisommenous.html  %>
				</div>
				
			</div>
				<!-- LEFT COLONNE -->
			<div class="col col-md-3 refheight">
				<div class="blockgrisgauche ">
					<h4 class="calendrier">Calendrier</h4>
					<div id="calendar"></div>
				</div>
				<div class="blockgrisgauche">
					<div class="logoME"><img src="images/ME-logo.png" alt=""></div>
					<h4 class="plaquette">Téléchargez la plaquette de la Maison de l'Emploi</h4>
				</div>
				<div class="blockgrisgauche blockbleugris">
					<h4>Contactez-nous !</h4>
					<p>Par téléphone au <br> 01 60 09 84 83</p>
					<p>ou par mail <br> info@mdene77-mlidf.org</p>
					<p>Adresse:  <br> <b>Maison de l’Economie et de l’Emploi - 2ème étage</b> <br>
					12, bd Jean Rose - BP103 <br>
					77105 Meaux Cedex	
					</p>
				</div>
			</div>
		</div>
		</div>
	</section>
