<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

		<%- include menu.ejs %>

       <section id="page-title">

            <div class="container clearfix">
                <h1>Les plus belles randonnées d'Auvergne</h1>
                <!-- <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Portfolio</li>
                </ol> -->
            </div>

        </section>
        <section id="content">

            <div class="content-wrap nopadding">

                <div class="section parallax full-screen force-full-screen nomargin noborder" style="background-image: url('images/parallax/home/cheval4.jpg');background-position: top center;" data-stellar-background-ratio="0.4">
                    <div class="vertical-middle">
                        <div class="container clearfix">

                            

                        </div>
                    </div>
                </div>

                <div class="container">
                <div class="fancy-title title-dotted-border title-center topmargin">
                        <h3>Nos randonnées à cheval</h3>
                        <p class="topmargin">Nos randonnés se font avec un minimum de 4 personnes. Tout le monde doit être à l'aise à cheval (trot enlevé acquis)</p>
                    </div>
                <div class="pricing bottommargin clearfix">

                        <div class="col-md-4">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>1 jour</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">€</span>70<span class="price-tenure">/pers</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>2h</strong> de cheval le matin</li>
                                        <li><i class="icon-food2"></i> pique-nique</li>
                                        <li><strong>3h</strong> de cheval l'apres-midi</li>
                                        <li>Départ: <strong>10H</strong></li>
                                        <li>Retour: <strong>18H</strong></li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/contact" class="btn btn-primary btn-block btn-lg">Réserver</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="pricing-box best-price">
                                <div class="pricing-title">
                                    <h3>2 jours</h3>
                                    <span>La plus vendu</span>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">€</span>230<span class="price-tenure">/pers</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>12h</strong> de cheval</li>
                                        <li><i class="icon-food2"></i> 2 pique-niques</li>
                                        <li>1 nuit en gîte ou yourte</li>
                                        <li><i class="icon-food2"></i> 1 repas au restaurant</li>
                                        <li><i class="icon-coffee2"></i> 1 petit déjeuner</li>
                                        <li>Départ: <strong>10H</strong></li>
                                        <li>Retour: <strong>18H</strong> le lendemain</li>
                                    
                                        <li><i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/contact" class="btn btn-primary btn-block btn-lg">Réserver</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>3 jours</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">€</span>350<span class="price-tenure">/pers</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>18h</strong> de cheval</li>
                                        <li><i class="icon-food2"></i> 5 pique-niques</li>
                                        <li>1 nuit en gîte ou yourte</li>
                                        <li><i class="icon-food2"></i> 2 repas au restaurant</li>
                                        <li>1 nuit en ferme-auberge</li>
                                        <li><i class="icon-coffee2"></i> 2 petit déjeuner</li>
                                        <li>Départ: <strong>10H</strong></li>
                                        <li>Retour: <strong>18H</strong> le surlendemain</li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/contact" class="btn btn-primary btn-block btn-lg">Réserver</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">

                            <p>Durant le printemps et l'été, possibilité de réduire les coûts en passant la nuit sous tente. Nous contacter pour plus d'informations.</p>
                            <p>Les repas sont inclus dans les tarifs.</p>
                            <p>Nous avons plusieur parcours à proposer et plusieur endroit ou passer la nuit. N'hésitez pas à nous demander plus d'information </p>
                            <p>Nous offrons 20% de réductions au entreprise qui souhaite offrir une randonné 3 jours à leurs employés (à partir de 8 personnes)</p>

                        </div>

                        

                    </div>
                       <div class="pricing-box pricing-extended bottommargin clearfix">

                        <div class="pricing-desc">
                            <div class="pricing-title">
                                <h3>Offrez une randonnée à vos employés?</h3>
                            </div>
                            <div class="pricing-features">
                                <ul class="clearfix">
                                    <li><i class="icon-support"></i> Spécialement adapté pour débutant</li>
                                    <li><i class="icon-line2-emoticon-smile"></i> 3 jours intense en émotions</li>
                                    <li><i class="icon-eye-open"></i> des paysages uniques</li>
                                    <li><i class="icon-time"></i> 14h de cheval</li>
                                    <li><i class="icon-magic"></i> patati patata</li>
                                    <li><i class="icon-line2-feed"></i>  jpeu changer les logos</li>
                                    <li><i class="icon-camera3"></i> Des moments inoubliables</li>
                                    <li><i class="icon-camera"></i> patatipatataa</li>
                                </ul>
                            </div>
                        </div>

                        <div class="pricing-action-area">
                            <div class="pricing-meta">
                               Seleument
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>327€<span class="price-tenure">prix Hors taxes / personne</span>
                                <span class="price-tenure"> (à partir de 8 personnes)</span>
                            </div>
                            <div class="pricing-action">
                                <a href="/contact" class="button button-3d button-small btn-block nomargin">Réserver</a>
                            </div>
                        </div> 
                        </div> 

                    </div>
                </div>

                

            </div>

        </section><!-- #content end -->
        <div class="section">
                    <div class="promo promo-dark promo-flat promo-full topmargin footer-stick">
                        <div class="container clearfix">
                            <h3>Pour reserver ou obtenir plus d'informations, applez moi au <span>06 84 41 14 94</span></h3>
                            <span>Si je suis indisponible, laissez moi vos coordonées et je vous rapelerais dans les meilleurs délais.</span>
                            <!-- <a href="/contact" class="button button-xlarge button-rounded">Prendre contact</a> -->
                        </div>
                    </div>
                </div>
        <%- include footer.ejs %>

    </div><!-- #wrapper end -->