<body class="stretched">
    <script>
        var globalGraphSettings = {animation : Modernizr.canvas,scaleOverride: true,scaleSteps: 10,scaleStepWidth: 10,scaleStartValue: 0};
    </script>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

       <% include menu.ejs %>
        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>Senior <i class="icon-line2-symbol-female"></i> Pre-Nationale</h1>
                <!-- <div id="portfolio-navigation">
                    <a href="#"><i class="icon-angle-left"></i></a>
                    <a href="#"><i class="icon-line-grid"></i></a>
                    <a href="#"><i class="icon-angle-right"></i></a>
                </div> -->
            </div>

        </section><!-- #page-title end -->

        <!-- Portfolio Single Gallery
        ============================================= -->
        <section id="slider" class="slider-parallax swiper_wrapper clearfix" style="height: 600px;">

            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url('images/volley/sf3.jpg');"></div>
                    <div class="swiper-slide" style="background-image: url('images/volley/sf2.jpg');"></div>
                    <div class="swiper-slide" style="background-image: url('images/volley/sf1.jpg');"></div>
                </div>
                <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
                <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
            </div>

            <script>
                jQuery(document).ready(function($){
                    var swiperSlider = new Swiper('.swiper-parent',{
                        paginationClickable: false,
                        slidesPerView: 1
                    });

                    $('#slider-arrow-left').on('click', function(e){
                        e.preventDefault();
                        swiperSlider.swipePrev();
                    });

                    $('#slider-arrow-right').on('click', function(e){
                        e.preventDefault();
                        swiperSlider.swipeNext();
                    });
                });
            </script>

        </section><!-- .portfolio-single-image end -->

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">
                <div class="container">
                <div class="promo promo-dark promo-flat bottommargin">
                        <h3>Les <span>résultats</span> ainsi que le <span>calendrier des matchs à venirs</span></h3>
                        <span>Sont disponibles sur le site de la ffvb</span>
                        <a href="http://www.ffvbbeach.org/ffvbapp/resu/vbspo_calendrier.php?saison=2015/2016&codent=LIPI&poule=2PF" target="_BLANK" class="button button-dark button-xlarge button-rounded">Voir les résultats</a>
                </div>
                </div>
                
                <div class="container">
                    
                    <div class="row common-height clearfix">

                        <div class="col-sm-7 col-padding borderr-red" style="background: url('images/volley/nat.jpg') center center no-repeat; background-size: cover;"></div>

                        <div class="col-sm-5 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">Récep / 4</span>
                                    <h3>Nathalie</h3>
                                </div>

                                <div class="row clearfix ">

                                    <div class="col-md-12">
                                        <div class="" id="radarChart3" style="opacity: 1;">
                                            <canvas id="radarChartCanvas3" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-12 topmargin">
                                        
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>


                                </div>

                            </div>
                            <script type="text/javascript">

                            jQuery(window).load( function(){
                                

                                var radarChartData3 = {
                                    labels : ["Taille","Détente","Attaque","contre","Défence","Récéption","Passe","Plongeon","Service","Vision de jeux"],
                                    datasets : [
                                        {
                                            fillColor : "rgba(220,220,220,0.5)",
                                            strokeColor : "rgba(220,220,220,1)",
                                            pointColor : "rgba(220,220,220,1)",
                                            pointStrokeColor : "#fff",
                                            data : [60,60,70,40,70,75,50,30,80,70]
                                        }
                                    ]

                                };



                                function showRadarChart3(){
                                    var ctx = document.getElementById("radarChartCanvas3").getContext("2d");
                                    new Chart(ctx).Radar(radarChartData3,globalGraphSettings);
                                }



                                $('#radarChart3').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart3,300); },{accX: 0, accY: -155},'easeInCubic');
                                
                                });
                                </script>
                        </div>

                    </div>

                   

                    <div class="row common-height clearfix">

                        <div class="col-sm-5 col-padding noleftpadding">
                            <div>
                                <div class="heading-block"><span class="before-heading color">Récep / 4</span>
                                    <h3>Moustafette</h3>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div class="" id="radarChart6" style="opacity: 1;">
                                            <canvas id="radarChartCanvas6" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-12 topmargin">
                                        
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    

                                </div>
                                <script type="text/javascript">
                                    jQuery(window).load( function(){
                                    //------------------------------------------------------

                                    var radarChartData6 = {
                                        labels : ["Taille","Détente","Attaque","contre","Défence","Récéption","Passe","Plongeon","Service","Vision de jeux"],
                                        datasets : [
                                            {
                                                fillColor : "rgba(220,220,220,0.5)",
                                                strokeColor : "rgba(220,220,220,1)",
                                                pointColor : "rgba(220,220,220,1)",
                                                pointStrokeColor : "#fff",
                                                data : [90,90,70,80,56,55,40,50,80,30]
                                            }
                                        ]

                                    };



                                    function showRadarChart6(){
                                        var ctx = document.getElementById("radarChartCanvas6").getContext("2d");
                                        new Chart(ctx).Radar(radarChartData6,globalGraphSettings);
                                    }



                                    $('#radarChart6').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart6,300); },{accX: 0, accY: -155},'easeInCubic');

                                });

                                </script>

                            </div>
                        </div>

                        <div class="col-sm-7 col-padding borderl-green" style="background: url('images/volley/mousta.jpg') center center no-repeat; background-size: cover;"></div>

                    </div>
                    <div class="row common-height clearfix">

                        <div class="col-sm-7 col-padding borderr-red" style="background: url('images/volley/ballon.jpg') center center no-repeat; background-size: cover;"></div>

                        <div class="col-sm-5 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">Central & capitaine</span>
                                    <h3>Aline</h3>
                                </div>

                                <div class="row clearfix ">

                                    <div class="col-md-12">
                                        <div class="" id="radarChart3" style="opacity: 1;">
                                            <canvas id="radarChartCanvas3" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-12 topmargin">
                                        
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>


                                </div>

                            </div>
                            <script type="text/javascript">

                            jQuery(window).load( function(){
                                

                                var radarChartData3 = {
                                    labels : ["Taille","Détente","Attaque","contre","Défence","Récéption","Passe","Plongeon","Service","Vision de jeux"],
                                    datasets : [
                                        {
                                            fillColor : "rgba(220,220,220,0.5)",
                                            strokeColor : "rgba(220,220,220,1)",
                                            pointColor : "rgba(220,220,220,1)",
                                            pointStrokeColor : "#fff",
                                            data : [60,60,70,40,70,75,50,30,80,70]
                                        }
                                    ]

                                };



                                function showRadarChart3(){
                                    var ctx = document.getElementById("radarChartCanvas3").getContext("2d");
                                    new Chart(ctx).Radar(radarChartData3,globalGraphSettings);
                                }



                                $('#radarChart3').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart3,300); },{accX: 0, accY: -155},'easeInCubic');
                                
                                });
                                </script>
                        </div>

                    </div>

                   

                    <div class="row common-height clearfix">

                        <div class="col-sm-5 col-padding noleftpadding">
                            <div>
                                <div class="heading-block"><span class="before-heading color">Récep / 4</span>
                                    <h3>Qidzi</h3>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div class="" id="radarChart6" style="opacity: 1;">
                                            <canvas id="radarChartCanvas6" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-12 topmargin">
                                        
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    

                                </div>
                                <script type="text/javascript">
                                    jQuery(window).load( function(){
                                    //------------------------------------------------------

                                    var radarChartData6 = {
                                        labels : ["Taille","Détente","Attaque","contre","Défence","Récéption","Passe","Plongeon","Service","Vision de jeux"],
                                        datasets : [
                                            {
                                                fillColor : "rgba(220,220,220,0.5)",
                                                strokeColor : "rgba(220,220,220,1)",
                                                pointColor : "rgba(220,220,220,1)",
                                                pointStrokeColor : "#fff",
                                                data : [90,90,70,80,56,55,40,50,80,30]
                                            }
                                        ]

                                    };



                                    function showRadarChart6(){
                                        var ctx = document.getElementById("radarChartCanvas6").getContext("2d");
                                        new Chart(ctx).Radar(radarChartData6,globalGraphSettings);
                                    }



                                    $('#radarChart6').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart6,300); },{accX: 0, accY: -155},'easeInCubic');

                                });

                                </script>

                            </div>
                        </div>

                        <div class="col-sm-7 col-padding borderr-red" style="background: url('images/volley/kidzy.jpg') center center no-repeat; background-size: cover;"></div>

                    </div>
                    <div class="row common-height clearfix">

                        <div class="col-sm-7 col-padding borderl-green" style="background: url('images/volley/ballon.jpg') center center no-repeat; background-size: cover;"></div>

                        <div class="col-sm-5 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">Récep / 4</span>
                                    <h3>Raphi</h3>
                                </div>

                                <div class="row clearfix ">

                                    <div class="col-md-12">
                                        <div class="" id="radarChart3" style="opacity: 1;">
                                            <canvas id="radarChartCanvas3" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-12 topmargin">
                                        
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>


                                </div>

                            </div>
                            <script type="text/javascript">

                            jQuery(window).load( function(){
                                

                                var radarChartData3 = {
                                    labels : ["Taille","Détente","Attaque","contre","Défence","Récéption","Passe","Plongeon","Service","Vision de jeux"],
                                    datasets : [
                                        {
                                            fillColor : "rgba(220,220,220,0.5)",
                                            strokeColor : "rgba(220,220,220,1)",
                                            pointColor : "rgba(220,220,220,1)",
                                            pointStrokeColor : "#fff",
                                            data : [60,60,70,40,70,75,50,30,80,70]
                                        }
                                    ]

                                };



                                function showRadarChart3(){
                                    var ctx = document.getElementById("radarChartCanvas3").getContext("2d");
                                    new Chart(ctx).Radar(radarChartData3,globalGraphSettings);
                                }



                                $('#radarChart3').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart3,300); },{accX: 0, accY: -155},'easeInCubic');
                                
                                });
                                </script>
                        </div>

                    </div>

                   

                    <div class="row common-height clearfix">

                        <div class="col-sm-5 col-padding noleftpadding">
                            <div>
                                <div class="heading-block"><span class="before-heading color">Central</span>
                                    <h3>Cyriel</h3>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div class="" id="radarChart6" style="opacity: 1;">
                                            <canvas id="radarChartCanvas6" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-12 topmargin">
                                        
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>

                                    

                                </div>
                                <script type="text/javascript">
                                    jQuery(window).load( function(){
                                    //------------------------------------------------------

                                    var radarChartData6 = {
                                        labels : ["Taille","Détente","Attaque","contre","Défence","Récéption","Passe","Plongeon","Service","Vision de jeux"],
                                        datasets : [
                                            {
                                                fillColor : "rgba(220,220,220,0.5)",
                                                strokeColor : "rgba(220,220,220,1)",
                                                pointColor : "rgba(220,220,220,1)",
                                                pointStrokeColor : "#fff",
                                                data : [90,90,70,80,56,55,40,50,80,30]
                                            }
                                        ]

                                    };



                                    function showRadarChart6(){
                                        var ctx = document.getElementById("radarChartCanvas6").getContext("2d");
                                        new Chart(ctx).Radar(radarChartData6,globalGraphSettings);
                                    }



                                    $('#radarChart6').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart6,300); },{accX: 0, accY: -155},'easeInCubic');

                                });

                                </script>

                            </div>
                        </div>

                        <div class="col-sm-7 col-padding borderl-green" style="background: url('images/volley/cyriel.jpg') center center no-repeat; background-size: cover;"></div>

                    </div>
                    <div class="row common-height clearfix">

                        <div class="col-sm-7 col-padding borderr-red" style="background : url('images/volley/caro.jpg') left top no-repeat; background-size: cover;"></div>

                        <div class="col-sm-5 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">Passeuse</span>
                                    <h3>Caroline</h3>
                                </div>

                                <div class="row clearfix ">

                                    <div class="col-md-12">
                                        <div class="" id="radarChart" style="opacity: 1;">
                                            <canvas id="radarChartCanvas" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-12 topmargin">
                                        
                                        <a href="https://www.facebook.com/caroline.brochot" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <!-- <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a> -->
                                    </div>


                                </div>

                            </div>
                            <script type="text/javascript">

                            jQuery(window).load( function(){
                                

                                var radarChartData = {
                                    labels : ["Taille","Détente","Attaque","contre","Défence","Récéption","Passe","Plongeon","Service","Vision de jeux"],
                                    datasets : [
                                        {
                                            fillColor : "rgba(220,220,220,0.5)",
                                            strokeColor : "rgba(220,220,220,1)",
                                            pointColor : "rgba(220,220,220,1)",
                                            pointStrokeColor : "#fff",
                                            data : [64,60,70,65,60,65,95,60,90,80]
                                        }
                                    ]

                                };



                                function showRadarChart(){
                                    var ctx = document.getElementById("radarChartCanvas").getContext("2d");
                                    new Chart(ctx).Radar(radarChartData,globalGraphSettings);
                                }



                                $('#radarChart').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart,300); },{accX: 0, accY: -155},'easeInCubic');
                                
                                });
                                </script>
                        </div>

                    </div>

                    <div class="row common-height clearfix">

                        <div class="col-sm-5 col-padding noleftpadding">
                            <div>
                                <div class="heading-block"><span class="before-heading color">Libéro</span>
                                    <h3>Kholliane</h3>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div class="" id="radarChart4" style="opacity: 1;">
                                            <canvas id="radarChartCanvas4" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-12 topmargin">
                                        <a href="mailto:khollianexdream@hotmail.fr" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-mail"></i>
                                            <i class="icon-mail"></i>
                                        </a>
                                        <a href="https://www.facebook.com/kholliane.keo?fref=ts" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                       <!--  <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a> -->
                                    </div>

                                    

                                </div>
                                <script type="text/javascript">
                                    jQuery(window).load( function(){
                                    //------------------------------------------------------

                                    var radarChartData4 = {
                                        labels : ["Taille","Détente","Attaque","contre","Défence","Récéption","Passe","Plongeon","Service","Vision de jeux"],
                                        datasets : [
                                            {
                                                fillColor : "rgba(220,220,220,0.5)",
                                                strokeColor : "rgba(220,220,220,1)",
                                                pointColor : "rgba(220,220,220,1)",
                                                pointStrokeColor : "#fff",
                                                data : [63,52,50,40,80,85,60,78,80,20]
                                            }
                                        ]

                                    };



                                    function showRadarChart4(){
                                        var ctx = document.getElementById("radarChartCanvas4").getContext("2d");
                                        new Chart(ctx).Radar(radarChartData4,globalGraphSettings);
                                    }



                                    $('#radarChart4').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart4,300); },{accX: 0, accY: -155},'easeInCubic');

                                });

                                </script>

                            </div>
                        </div>

                        <div class="col-sm-7 col-padding borderl-green" style="background: url('images/volley/ballon.jpg') center center no-repeat; background-size: cover;"></div>

                    </div>

                    <div class="row common-height clearfix">

                        <div class="col-sm-7 col-padding borderr-red" style="background: url('images/volley/manon.jpg') center center no-repeat; background-size: cover;"></div>

                        <div class="col-sm-5 col-padding">
                            <div>
                                <div class="heading-block">
                                    <span class="before-heading color">Passeuse</span>
                                    <h3>Manon</h3>
                                </div>

                                <div class="row clearfix ">

                                    <div class="col-md-12">
                                        <div class="" id="radarChart3" style="opacity: 1;">
                                            <canvas id="radarChartCanvas3" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-12 topmargin">
                                        
                                        <a href="mailto:manonsarazin02400@gmail.com" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                            <i class="icon-mail"></i>
                                            <i class="icon-mail"></i>
                                        </a>
                                        <a href="https://www.facebook.com/profile.php?id=100010435909193&fref=ts" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="https://twitter.com/manone02" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="https://www.instagram.com/manon_srz/" class="social-icon inline-block si-small si-light si-rounded si-instagram">
                                            <i class="icon-instagram"></i>
                                            <i class="icon-instagram"></i>
                                        </a>
                                    </div>


                                </div>

                            </div>
                            <script type="text/javascript">

                            jQuery(window).load( function(){
                                

                                var radarChartData3 = {
                                    labels : ["Taille","Détente","Attaque","contre","Défence","Récéption","Passe","Plongeon","Service","Vision de jeux"],
                                    datasets : [
                                        {
                                            fillColor : "rgba(220,220,220,0.5)",
                                            strokeColor : "rgba(220,220,220,1)",
                                            pointColor : "rgba(220,220,220,1)",
                                            pointStrokeColor : "#fff",
                                            data : [65,52,50,40,45,40,70,60,60,30]
                                        }
                                    ]

                                };



                                function showRadarChart3(){
                                    var ctx = document.getElementById("radarChartCanvas3").getContext("2d");
                                    new Chart(ctx).Radar(radarChartData3,globalGraphSettings);
                                }



                                $('#radarChart3').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart3,300); },{accX: 0, accY: -155},'easeInCubic');
                                
                                });
                                </script>
                        </div>

                    </div>

                </div>
                    

                <div class="clear"></div>
                <div class="section nomargin">
                    <div class="container clearfix">
                        <div class="heading-block center nomargin">
                            <h3>À propos de l'équipe</h3>
                        </div>
                    </div>
                </div>

                <div class=""  style="margin: 20px 0px">
                    <div class="container clearfix">
                        <% if( project.content && project.content){%>
                                <%- marked(project.content) %>                        
                        <% } %>  
                    </div>
                </div>
                <div class="clear"></div>

                <div class="section nomargin">
                    <div class="container clearfix">
                        <div class="heading-block center nomargin">
                            <h3>Quelques photos</h3>
                        </div>
                    </div>
                </div>
                <% if( project.images && project.images.length){%>  
                <div class="nomargin masonry-thumbs col-4" data-lightbox="gallery" style="margin-bottom:-80px !important">
                    <% for(var i=0; i<project.images.length; i++) {%>
                    <a href="/file/image/originalsize/<%= project.images[i].image.filename %>" data-lightbox="gallery-item"><img class="image_fade" src="/file/image/adminThumbs/<%= project.images[i].image.filename %>" alt="<%= project.images[i].image.alt %>"></a>
                    <% } %>  
                </div>
                <% } %> 


                

                

            </div>

        </section><!-- #content end -->

        <% include footer.ejs %>

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <!-- // <script type="text/javascript" src="js/functions.js"></script> -->

</body>