<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

		<%- include menu.ejs %>

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>Conférence</h1>
                <span>We provide Amazing Solutions</span>
                <ol class="breadcrumb">
                    <li><a href="#">Service</a></li>
                    <li class="active">Conférence</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="col_one_third">
                        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-crop i-alt"></i></a>
                            </div>
                            <h3>Premium Sliders Included<span class="subtitle">About 20+ Dedicated Slider Templates</span></h3>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-tint i-alt"></i></a>
                            </div>
                            <h3>Unlimited Color Options<span class="subtitle">16.7+ Million on your fingertips</span></h3>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-text-width i-alt"></i></a>
                            </div>
                            <h3>CUSTOMIZABLE FONTS<span class="subtitle">Unlimited Fonts &amp; Customizations</span></h3>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="col_one_third nobottommargin">
                        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-ok i-alt"></i></a>
                            </div>
                            <h3>12+ Header Designs<span class="subtitle">Customizable Headers &amp; Menus</span></h3>
                        </div>
                    </div>

                    <div class="col_one_third nobottommargin">
                        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-thumbs-up i-alt"></i></a>
                            </div>
                            <h3>Awesome Mega menu<span class="subtitle">Stylish &amp; Simple Chunky Menus</span></h3>
                        </div>
                    </div>

                    <div class="col_one_third nobottommargin col_last">
                        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-eye i-alt"></i></a>
                            </div>
                            <h3>Retina Ready Graphics<span class="subtitle">Crystal Clear Images &amp; Icons</span></h3>
                        </div>
                    </div>

                </div>

                <div class="section">

                    <div class="container clear-bottommargin clearfix">

                        <div class="heading-block center">
                            <h2>Features List.</h2>
                            <span>We provide a wide array of Usable &amp; Flexible Features</span>
                        </div>

                        <div class="row">

                            <div class="col-md-4 bottommargin">
                                <img data-animate="fadeInLeftBig" src="images/services/iphone.png" alt="iPhone" class="center-block">
                            </div>

                            <div class="col-md-4 col-sm-6 topmargin bottommargin">

                                <div class="col_full">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-monitor"></i></a>
                                        </div>
                                        <h3>Responsive Layout</h3>
                                        <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view the changes.</p>
                                    </div>

                                </div>

                                <div class="col_full">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-eye"></i></a>
                                        </div>
                                        <h3>Retina Ready Graphics</h3>
                                        <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
                                    </div>

                                </div>

                                <div class="col_full nobottommargin">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-power"></i></a>
                                        </div>
                                        <h3>Powerful Performance</h3>
                                        <p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-4 col-sm-6 topmargin bottommargin">

                                <div class="col_full">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-layers"></i></a>
                                        </div>
                                        <h3>Premium Sliders Included</h3>
                                        <p>Canvas included 20+ custom designed Slider Pages with Premium Sliders like Layer, Revolution, Swiper &amp; others.</p>
                                    </div>

                                </div>

                                <div class="col_full">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-star"></i></a>
                                        </div>
                                        <h3>Unlimited Color Options</h3>
                                        <p>Change the Color Scheme of the Theme in a flash just by changing the 6-digit HEX code provided in the colors.php file.</p>
                                    </div>

                                </div>

                                <div class="col_full nobottommargin">

                                    <div class="feature-box fbox-plain fbox-small fbox-dark">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-line-anchor"></i></a>
                                        </div>
                                        <h3>CUSTOMIZABLE FONTS</h3>
                                        <p>Use any Font you like from Google Web Fonts, Typekit or other Web Fonts. They will blend in perfectly.</p>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="container clearfix">

                    <div class="col_two_fifth topmargin nobottommargin" id="radarChart" style="opacity: 1;">
                        <canvas id="radarChartCanvas" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                    </div>

                    <div class="col_three_fifth nobottommargin col_last">

                        <div class="heading-block">
                            <h3>Powerful insights to help grow your business.</h3>
                            <span>Reports let you easily track and analyze your product sales, orders, and payments.</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>

                        <a href="#">Learn more →</a>

                    </div>

                    <div class="clear"></div><div class="line"></div>

                    <div class="col_three_fifth">

                        <div class="heading-block">
                            <h3>Advanced store statistics.</h3>
                            <span>Benchmarking your website's performance helps you make great choices for your business.</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>

                        <a href="#">Learn more →</a>

                    </div>

                    <div class="col_two_fifth topmargin col_last" id="doughnutChart" style="opacity: 1;">
                        <canvas id="doughnutChartCanvas" width="430" height="300" style="width: 430px; height: 300px;"></canvas>
                    </div>

                    <script type="text/javascript">

                    jQuery(window).load( function(){

                        var radarChartData = {
                            labels : ["A","B","C","D","E","F","G"],
                            datasets : [
                                {
                                    fillColor : "rgba(220,220,220,0.5)",
                                    strokeColor : "rgba(220,220,220,1)",
                                    pointColor : "rgba(220,220,220,1)",
                                    pointStrokeColor : "#fff",
                                    data : [65,59,90,81,56,55,40]
                                },
                                {
                                    fillColor : "rgba(151,187,205,0.5)",
                                    strokeColor : "rgba(151,187,205,1)",
                                    pointColor : "rgba(151,187,205,1)",
                                    pointStrokeColor : "#fff",
                                    data : [28,48,40,19,96,27,100]
                                }
                            ]

                        };

                        var doughnutChartData = [
                            {
                                value: 30,
                                color:"#F7464A"
                            },
                            {
                                value : 50,
                                color : "#46BFBD"
                            },
                            {
                                value : 100,
                                color : "#FDB45C"
                            },
                            {
                                value : 40,
                                color : "#949FB1"
                            },
                            {
                                value : 120,
                                color : "#4D5360"
                            }
                        ];

                        var globalGraphSettings = {animation : Modernizr.canvas};

                        function showRadarChart(){
                            var ctx = document.getElementById("radarChartCanvas").getContext("2d");
                            new Chart(ctx).Radar(radarChartData,globalGraphSettings);
                        }

                        function showDoughnutChart(){
                            var ctx = document.getElementById("doughnutChartCanvas").getContext("2d");
                            new Chart(ctx).Doughnut(doughnutChartData,globalGraphSettings);
                        }

                        $('#radarChart').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showRadarChart,300); },{accX: 0, accY: -155},'easeInCubic');

                        $('#doughnutChart').appear( function(){ $(this).css({ opacity: 1 }); setTimeout(showDoughnutChart,300); },{accX: 0, accY: -155},'easeInCubic');

                    });

                    </script>

                </div>
				<div class="container clearfix">

                    <div class="pricing-box pricing-extended bottommargin clearfix">

                        <div class="pricing-desc">
                            <div class="pricing-title">
                                <h3>How many Themes can you Download today?</h3>
                            </div>
                            <div class="pricing-features">
                                <ul class="iconlist-color clearfix">
                                    <li><i class="icon-desktop"></i> Ultra Responsive Layouts</li>
                                    <li><i class="icon-eye-open"></i> Retina Ready Designs</li>
                                    <li><i class="icon-beaker"></i> Advanced Admin Panel</li>
                                    <li><i class="icon-magic"></i> Tons of Customization Options</li>
                                    <li><i class="icon-font"></i> Support for Custom Fonts</li>
                                    <li><i class="icon-stack3"></i> Premium Sliders Included</li>
                                    <li><i class="icon-file2"></i> Photoshop Source Files Included</li>
                                    <li><i class="icon-support"></i> 24x7 Priority Email Support</li>
                                </ul>
                            </div>
                        </div>

                        <div class="pricing-action-area">
                            <div class="pricing-meta">
                                As Low as
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">€</span>39<span class="price-tenure">monthly</span>
                            </div>
                            <div class="pricing-action">
                                <a href="#" class="button button-3d button-large btn-block nomargin">Get Started</a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="promo promo-dark promo-flat promo-full topmargin footer-stick">
                    <div class="container clearfix">
                        <h3>Applez moi au <span>00 57 41 25 41</span> ou envoyer moi un email <span>info@andredan.com</span></h3>
                        <span>Je répond à tout les email, et si je suis indisponible au téléphone, je vous rapel dans les meuilleur délais.</span>
                        <a href="/contact" class="button button-xlarge button-rounded">Prendre contact</a>
                    </div>
                </div>

            </div>

        </section><!-- #content end -->
        <%- include footer.ejs %>

    </div><!-- #wrapper end -->