<div class="haut rose">
	<img src="images/chef.png" alt="">
	<h2 class="fleche">Associations <br>chefs d'entreprise</h2>
	<p>Les chefs d’entreprises ont la possibilité de se constituer un réseau relationnel multi sectoriel qui facilite leur intégration et leur développement sur le territoire. </p>
</div>

<div class="contenu">
	<ul>
		<li>
			<p>Des associations de chefs d’entreprises sont présents sur  le territoire et ont pour objectifs d’initier des échanges et de créer des synergies entre les entreprises en partageant des  moments conviviaux (déjeuner débat, rencontres commerciales, visites d’entreprises, activités sportives et culturelles...) autour de thématiques répondant aux problématiques rencontrées.</p>
			
			
		</li>
		<li><label for="">CEZAM (Chefs d’Entreprises des Zones d’Activités du pays de Meaux)</label>
			<p>C’est une association de chefs d’entreprises, qui a été créée en 2003 sous l’impulsion d’entrepreneurs et appuyée par la CCI et la ville de Meaux qui souhaitaient avoir un interlocuteur représentant les entrepreneurs du Pays de Meaux. Elle compte aujourd’hui plus de 180 adhérents. </p>
			<p><b>Contact : 114 avenue de l’Epinette 77100 Meaux</b></p>
			<p><b>Tél : 01 60 23 16 60 - Site web : <a href="http://www.cezam-77.fr">http://www.cezam-77.fr</a></b></p>
		</li>
		<li><label for="">OBJECTIF ACTION</label>
			<p>Créée en juin 2011, Objectif Action est une association de chefs d'entreprises de Seine-et-Marne qui lie l'action professionnelle au sport et à la culture. Sa zone d'action est départementale.</p>
			<p><b>Contact : 71, rue de Villiers, 77580 Voulangis</b></p>
			<p><b>Tél : 07 60 07 22 00 - Site web : <a href="http://www.objectifaction.com">http://www.objectifaction.com</a></b></p>
		</li>
		<li><label for="">AEPF (Association des Entrepreneurs du Pays Fertois)</label>
			<p>Créée en 2010 sous l’impulsion de quelques entrepreneurs et avec le concours de CEZAM (Chefs d’Entreprises de la Zone d’Activité du Pays de Meaux), elle se veut le trait d’union entre tous les acteurs économiques et l’interlocutrice de ses membres auprès des instances administratives et politiques du Pays fertois.</p>
			<p><b>Contact : 22, rue du Général Leclerc  77260 La Ferté-sous-Jouarre</b></p>
			<p><b>Tél :  09 72 31 22 46  - Site web : <a href="http://www.aepf77.fr">http://www.aepf77.fr</a></b></p>
		</li>
	</ul>
</div>
