<div class="haut rose">
	<img src="images/defi.png" alt="">
	<h2 class="fleche">Défi 50</h2>
	<p>Mise en place en 2012, cette action est financée par la Communauté d'Agglomération du Pays de Meaux et pour partie par l'ACSE dans le cadre de la politique de la Ville. Elle a pour objectif d'apporter une réponse opérationnelle à la difficulté des séniors de retrouver une activité professionnelle, et dont le nombre de demandeurs d'emploi ne cesse de croître.
	</p>
	<p>
	Vous avez plus de 50 ans, et vous habitez le Pays de Meaux ? Vous recherchez un emploi ? 
	</p>
	<p>
		<strong>Intégrez le Défi 50 !!!</strong> 
	</p>
</div>
<div class="contenu">
	<ul>
		<li>
			<p>Vous pouvez bénéficier d’un accompagnement individuel pour une durée de 6 mois (renouvelable une fois) et à minima d'un entretien toutes les 2 semaines.</p>
		</li>
		<li><label for="">Le rôle de la chargée de placement est de :</label>
			<ul>
				<li>Vous soutenir dans votre recherche,</li>
				<li>Vous fournir les outils nécessaire,</li>
				<li>Vous orienter dans le marché du travail,</li>
				<li>Vous aider dans la préparation des entretiens.</li>
			</ul>
		</li>
		<li><p>Selon votre besoin, des ateliers peuvent être mis en place pour renforcer les chances d'accès à l'emploi :</p>
			<ul>
				<li>Techniques de recherche d'emploi</li>
				<li>Découverte des métiers (en cas de réorientation professionnelle)</li>
				<li> Initiation à l'informatique pour la recherche d'emploi.</li>
				<li>Vous aider dans la préparation des entretiens.</li>
				<li>Vous aider dans la préparation des entretiens.</li>
				<li>Vous aider dans la préparation des entretiens.</li>
			</ul>
		</li>
		<li>
			<p><strong>N’hésitez pas à contacter votre interlocutrice Julia FERRARI au <a href="tel:0160098483">01 60 09 84 83</a> <br>ou par mail : <a href="mailTo:j.ferrari@mdene77-mlidf.org">j.ferrari@mdene77-mlidf.org.</a></strong></p>
		</li>
	</ul>
</div>
