<div class="haut rose">
	<img src="images/handi2.png" alt="">
	<h2 class="fleche">Le réseau local <br>handicap emploi</h2>
	<p>En partenariat avec le SAVS (Service d’Accompagnement à la Vie Sociale), la Maison de l’Emploi et de la Formation Nord-Est 77, s’est  lancée, en 2008, dans la création d’un réaseau local regroupant tous les acteurs du handicap.</p>
</div>
<div class="contenu">
	<ul>
		<li><label for="">Antenne UEROS</label>
			<p>Structure d’évaluation, d’orientation et de suivi de personnes cérébro lésées (lésion cérébrale acquise, distance de la lésion), à partir de 16 ans et dans un questionnement d’orientation sociale et/ou professionnelle.</p>
			<p><b>Contact : MPR D96 77170 Coubert</b></p>
			<p><b>Tél : 01 64 42 20 35 - Site web : <a href="http://www.ugecamidf.fr">http://www.ugecamidf.fr</a></b></p>
			
		</li>
		<li><label for="">Association La Rose des Vents</label>
			<p>Créée en 1994, l’Association LA ROSE DES VENTS a pour but, la création et la gestion d’établissements et services dans le secteur du social et du médico-social. Elle acueille et accompagne des personnes isolées et des familles en difficulté, en situation de précarité et/ou d’exclusion qui sollicitent l’aide sociale.</p>
			<p><b>Contact : Pôle Meaux-Brou 400, chemin de Crécy 77100 Mareuil-lès-Meaux</b></p>
			<p><b>Tél : 01 64 34 10 35 - Site web : <a href="http://www.larosedesvents.org">http://www.larosedesvents.org</a></b></p>
		</li>
		<li><label for="">CAP EMPLOI 77 </label>
			<p>CAP EMPLOI agit en faveur de l’insertion professionnelle des personnes handicapées en milieu ordinaire de travail, CAP EMPLOI conseille et soutient les personnes et les employeurs.</p>
			<p><b>Contact : 30, rue Aristide Briand 77100 Meaux</b></p>
			<p><b>Tél : 01 60 09 80 40 - Site web : <a href="http://www.capemploi77.fr">http://www.capemploi77.fr</a></b></p>
		</li>
		<li><label for="">ESAT LES MARRONNIERS</label>
			<p>Cet E.S.A.T est ouvert depuis 1968 et accueille 134 personnes reconnues travailleurs handicapés. Il est situé dans la ville de Villenoy.
			</p>
			<p><b>Contact :  Z.I Meaux 8, rue de la Madeleine 77124 Villenoy</b></p>
			<p><b>Tél : 01 64 36 56 49 - Site web : <a href="http://www.esat-marronniers.gandi-site.net">http://www.esat-marronniers.gandi-site.net</a></b></p>
		</li>
		<li><label for="">Pôle Emploi</label>
			<p><b>12, boulevard Jean Rose 77100 Meaux</b></p>
			<p><b>8, rue de la gare 77260 La Ferté sous Jouarre</b></p>
			<p><b>Tél : 39 49 - Site web : <a href="http://www.pole-emploi.com">http://www.pole-emploi.com</a></b></p>
		</li>
		<li><label for="">Résidence des Servins - AEDE</label>
			<p>Service d’Accompagnement à la Vie Sociale dont le bureau est situé à la Résidence des Servins. Notres service propose un suivi à des personnes adultes en situation de handicap mental, ayant une orientation de la CDAPH en SAVS et vivant de manière autonome dans leur logement. Le projet personnalisé de chaque usager établi avec lui détermine les axes de l’accompagnement (gestion du quotidien, aide au logement, aide administrative, vie professionnelle, citoyenneté) et les partenariats à développer.
			</p>
			<p><b>Contact : 54, rue Pierre Mendès-France 77100 Nanteuil-lès-Meaux</b></p>
			<p><b>Tél : 01 60 24 47 50 - Site web : <a href="http://www.aede.fr/residence-des-servins">http://www.aede.fr/residence-des-servins</a></b></p>
		</li>
		<li><label for="">SAMSAH</label>
			<p>Le service propose un accompagnement individualisé à domicile dans les actes de la vie quotidienne, ainsi qu’un accès et une coordiantion du suivi médical et paramédical. L’objectif vise le maintien et/ou le développement de l’autonomie des personnes en situation de handicap moteur. Le service s’adapte aux demandes et aux besoins de chaque personne dans le cadre des missions tout en respectant les rythmes individuels.
			</p>
			<p><b>Contact : 37, avenue de l’Epinette 77100 Meaux</b></p>
			<p>
		<li><label for="">SAVS « Au fil de l’Ourcq » - Groupe AEDE</label>
			<p>Service qui accompagne de manière globale des personnes en situation de handicap mental ou psychique. Ces personnes sont orientées par la MDPH et sont titulaires d’une notification orientation SAVS. Le SAVS (Service d’Accompagnement à la Vie Sociale) «Au fil de l’Ourcq» intervient  sur le Nord de la Seine et Marne : MDS de Mitry et MDS de Meaux.
			</p>
			<p><b>Contact : 30, rue Aristide Briand 77100 Meaux</b></p>
			<p><b>Tél : 01 60 44 73 80 </b></p>
		</li>

	</ul>
</div>
