<div class="haut rose">
	<img src="images/mlocale.png" alt="">
	<h2 class="fleche">Mission Locale</h2>
	<p>La Mission Locale Nord-Est 77 accompagne un public âgé de 16 à 25 ans, sorti du système scolaire et habitant le Territoire Nord-Est 77.</p>
</div>
<div class="contenu">
	<ul>
		<li><label for="">Objectifs:</label>
			<p>Vous accompagner tout au long de votre projet professionnel en répondant aux questions que vous vous posez et en mobilisant toute nottre offre de service. Un conseiller référent sera votre interlocuteur privilégié. </p><p>
La Mission Locale vous accueille du lundi au jeudi de 9h à 12h30 et de 13h30 à 17h30,
et le vendredi de 9h à 12h30.</p>
		</li>
		<li><label for="">Comment s’inscrire ?</label>
			<p>Présentez-vous avec votre carte d’identité, à l’accueil de la Mission Locale, tous les jours dès 9h30 et 13h30.</p>

		</li>
		<li>
			<p>Pour plus d’informations, connectez-vous au site <a href="http://mission-locale-nordest77.fr">http://mission-locale-nordest77.fr</a>
			</p>
		</li>
	</ul>
</div>