<div class="haut rose">
	<img src="images/pacte2.png" alt="">
	<h2 class="fleche">Le Pacte Nord-Est 77</h2>
	<p>Le Pacte Nord-Est 77 vise à accompagner les territoires intercommunaux, dans l’élaboration et la mise en oeuvre de stratégies de développement territoriales pour :
	</p>
	<ul>
		<li>Développer l’activité économique et créer de l’emploi,</li>
		<li>Contribuer à une meilleure coordination des acteurs.</li>
	</ul>
</div>
<div class="contenu">
	
	<ul>
		<li><p>C’est une démarche de contractualisation triennale entre la Région et ses partenaires, visant à territorialiser les politiques régionales dans les champs de compétences du développement économique, de l’innovation, de l’emploi, de l’apprentissage, de la formation professionnelle et de l’enseignement supérieur et recherche. La mise en oeuvre de cette stratégie mobilise les dispositifs régionaux en faveur des champs de compétences pré-cités, ainsi que ceux des partenaires signataires du Pacte. Ce dispositif vise principalement les demandeurs d’emploi, les salariés et les entreprises.</p>
		</li>
		<li><p>Il a pour enjeux de : </p>
			<ul>
				<li>Concourir à un meilleur équilibre territorial du développement régional,</li>
				<li>Intervenir «au plus près» des problématiques des territoires,</li>
				<li>Territorialiser la mise en oeuvre de la Stratégie Régionale de Développement Economique et d’Innovation (SRDEI),</li>
				<li>Apporter une offre de services intégrée coordonnant l’ensemble des dispositifs.</li>
			</ul>
		</li>
		<li>
			<p>Sur la base d’un diagnostic (pour en savoir plus, cliquez ici), les signataires du présent Pacte ont choisi de bâtir une stratégie de développement à trois ans articulée autour de deux axes :</p>
			<ul>
				<li>Renforcer l’articulation entre le développement économique et l’emploi,</li>
				<li>Conforter et favoriser l’émergence de filières stratégiques : Tourisme, Service à la personne, Industrie.</li>
			</ul>
		</li>
		<li><p>Le plan d’actions et de financement prévisionnel du Pacte Nord-Est 77 s’articule autour de 17 fiches actions validées par les élus et les représentants institutionnels en comité de pilotage le 18 mai 2015 mais également en commission permanente de la Région le 9 juillet dernier.</p></li>
		<li><p>La déclinaison opérationnelle de ces axes est pilotée et animée par la Maison de l’Emploi et de la Formation Nord-Est 77 en partenanriat avec l’ensemble des signataires du Pacte regroupant les développeurs économiques des intercommunalités, Pôle Emploi, AFPA, GRETA, COS, les OPCA, les chambres consulaires, Seine et Marne Développement, Seine et Marne Tourisme, le Conseil Départemental, la Région Ile de France, la plateforme SAP 77, Wimoov, DEDEN 77, les emplois SAP, IVMM, le lycée professionnel Pierre de Coubertin, la Dirrecte, la plateforme RH et les offres du Tourisme.</p></li>
		
	</ul>
</div>