<div class="haut rose">
	<img src="images/partenaires.png" alt="">
	<h2 class="small">PERMANENCES et points relais DES PARTENAIRES</h2>
	<p>Afin de vous offrir un service complet, la Maison de l'Emploi et de la Formation Nord-Est 77 accueille en ses locaux des partenaires dans le cadre de permanences gratuites.

</p>
</div>
<div class="contenu">
	<ul>
		<li>
			<p>Quelque soit votre âge, le Pôle de Sécurisation des Parcours Professionnels vous est entièrement dédié et intervient sur les thèmes suivants :</p></p>
		</li>
		<li><label for="">Le point info VAE <small>(Validation des acquis de l’expérience)</small></label>
			<p>Il est assuré en Seine et Marne par le COS. Si vous jugez nécessaire d’approfondir votre refléxion sur l’opportunité, la faisabilité et les conditions de réalisation d’un projet de VAE. Rencontrez à la Maison de l’Emploi, un conseiller spécialisé qui répondra à vos questions. Vous bénéficierez d’un entretien individuel d’une durée d’1h30. Un rendez-vous, vous sera proposé ultérieurement sur les sites de Seine et Marne (Torcy, Meaux, Melun) et d’Ile de France.
			</p>
			<p>Permanence : Tous les mercredis sur rendez-vous à la Maison de l’Emploi et de la Formation Nord-Est 77 au 12 boulevard Jean Rose à Meaux. <br>
			<strong>Contactez votre interlocutrice Dominique FEDER  au 01 64 45 18 58 pour prendre rendez-vous.</strong></p>
		</li>
		<li><label for="">Fongécif</label>
			<p>Il répond aux questions des salariés établit un diagnostic et propose un accompagnement des salariés du secteur privé souhaitant mettre en œuvre un projet de reconversion professionnelle via le CIF, CDI ou CDD, de Formation Hors Temps de Travail, la VAE ou le Bilan de Compétences. 
			</p><p>
Point Relais à Meaux : 12, boulevard Jean Rose <br>
<strong>N’hésitez pas à prendre rendez-vous avec votre interlocutrice Sylvie VALLADE, au 01 60 09 84 83.</strong></p>
		</li>
		<li><label for="">Uniformation</label>
			<p>C’est un Organisme Paritaire Collecteur Agréé (OPCA) pour les associations et les entreprises du secteur de l’Economie sociale (Associations, coopératives et Mutuelles). A ce titre, Uniformation accompagne ses entreprises adhérentes pour monter ou mettre en oeuvre leurs projets de formation, rechercher des financements complémentaires auprès de partenaires institutionnels. Il s’adresse également aux salariés du secteur de l’Economie sociale qui souhaitent entreprendre une reconversion ou se perfectionner, accéder à un diplôme ou faire reconnaître leur expérience et/ou faire le point sur leurs compétences. </p>
			<p>Permanence mensuelle sur inscription à la Maison de l’Emploi et de la Formation Nord-Est 77 au 12 boulevard Jean Rose à Meaux. <br><strong>N’hésitez pas à prendre rendez-vous avec votre interlocutrice Sylvie VALLADE, au 01 60 09 84 83.</strong></p>
		</li>
		<li><label for="">Centre associé Place des Métiers/Cité des métiers</label>
			<p>Pour en savoir plus, cliquez <a href="#">ici</a></p>
		</li>
	</ul>
</div>





