<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Médiathèque d'images 
        <div class="btn btn-primary pull-right" name="imgs"  ng-multiple="true" ng-file-select accept=".jpg,.png,.gif" ng-file-change="upload($files)"><i class="fa fa-plus fa-fw"></i> Ajouter des images</div>
        <div ng-file-drop  name="imgs" ng-multiple="true" ng-file-change="upload($files)" class="drop-zone pull-right" 
		        drag-over-class="dragover" ng-multiple="true" allow-dir="true"
		        accept=".jpg,.png,.gif">Déposer vos images ici</div>
		    <!-- <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div> -->
        </h1>
       <!--  <progress><bar ng-repeat="upload in uploads track by $index" value="upload.progressPercentage" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span></bar></progress> -->

       
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-xs-12">
	 <progressbar ng-repeat="upload in uploads" class="progress-striped active" ng-if="upload.status=='progress'" value="upload.progressPercentage" type="dynamic">{{upload.text}}</progressbar>
	</div>
	

</div>
<div class="row">
	


	<div class="col col-md-8 col-lg-6">
        		<div class="panel panel-default">
            
	            	<div class="panel-body">
	                	<div class=" panel-heading-table">
		                    <form role="form" class="" >
		                        <div class="form-group input-group  col-md-6 pull-right">
		                            <form name="searchUser">

		                                <input type="text" class="form-control" ng-model="filter.slug" ng-blur="reloadImages()">
		                                <span class="input-group-btn">
		                                    <button class="btn btn-default btn-search" type="submit" ng-click="reloadImages()"><i class="fa fa-search"></i>
		                                    </button>
		                                </span>
		                            </form>
		                        </div>
		                       <!--  <div class="FilterBox pull-right form-group col-md-6 input-group ">
		        
		                            <div class="label label-primary pull-right"><i class="fa fa-graduation-cap fa-fw"></i> Admin <input type="checkbox" ng-model="filter.admin" ng-click="reloadUsers()"class="labelcheckbox" ng-model="userService.filter.admin" checked></div>
		                            <div class="label label-default pull-right"><i class="fa fa-user fa-fw"></i> User <input type="checkbox" ng-model="filter.user" class="labelcheckbox" checked ng-click="reloadUsers()"></div>
		                            <div class="label label-success pull-right"><i class="fa fa-user-plus fa-fw"></i> Membre <input type="checkbox" ng-model="filter.member" ng-click="reloadUsers()" class="labelcheckbox" checked></div>
		                        </div> -->
		                    </form>
		                </div>
		                <div class="col-lg-12 table-responsive imageslist" ng-class="{imageslistSmall:filter.perPage>10 && images.length>9}">
		                	<div class="chargement" ng-if="loadingImages"> <td colspan="6"><i class="fa fa-user sorter fa-spinner fa-spin"></i></td></div>
		                	<ul >
		                		<li ng-repeat="image in images"  ng-click="selectImg($index)"><img ng-show="image.finishloading" imageonload action="loadImage" index="$index"   ng-class="{selectedimg :image.selected }" ng-src="file/image/adminThumbs/{{image.filename}}" ><div ng-show="!image.finishloading" class="miniaturespinner"><i class="fa fa-user sorter fa-spinner fa-spin"></i></div></li>
		                	</ul>

		                </div>
		               	<nav class=" col-xs-8">
		                  <pagination ng-change="pageChanged(page)" total-items="total" ng-model="filter.page" max-size="3" items-per-page="filter.perPage" class="pagination-sm pull-left" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		                    <span class="totalTable pull-left"  ng-pluralize count="total"
		                        when="{'0': 'aucun résultats',
		                        'one': '1 résultat',
		                        'other': '{} résultats'}">
		                    </span>
		                </nav>
		               	<nav class=" col-xs-4">
		                    <span class=" pull-right totalTable" style="">par page</span>
						   <select class="form-control pull-right" ng-change="reloadImages()" style="width: 80px;margin: 20px 0px;padding: 5px 10px;height: 30px;" ng-model="filter.perPage" name="perPage" >
		                                        <option value="9">9</option>
		                                        <option value="20">20</option>
		                                        <option value="50">50</option>
		                                        <option value="100">100</option>
		                                    </select> 
		                </nav>
					</div>
                <!-- /.table-responsive -->

				</div>
			</div>

			<div class="col-md-4 col-lg-6">

				<div class="panel panel-default">
			        <div class="panel-heading">
			            <i class="fa fa-gears fa-fw"></i> Options de l'image

			            <div class="pull-right"><removeremove action="remove" itemid="selectedImage.id"></removeremove></div>
			        </div>
			        <!-- /.panel-heading -->
			        <div class="panel-body imageOptions">
			           <img ng-show="selectedImageFinishLoading" imageonload action="loadBigImage"  ng-src="file/image/originalsize/{{selectedImage.filename}}">
			           <div  ng-show="!selectedImageFinishLoading" class="bigminiaturespinner"><i class="fa fa-user sorter fa-spinner fa-spin"></i></div>
			           <hr>
			           <form novalidate name="FORMaddNewUser" role="form" ng-fab-form-options="customFormOptions" ng-init="setFormScope(this)">
						
				                <div class="row">	        		
					        		<div class="form-group col-lg-12 ">
					                    <label tooltip-placement="right" tooltip="Le nom sert a rertouver l'image plus facilement">Nom</label>
					                    <input class="form-control" placeholder="Nom de l'image" name="name"  required ng-model="selectedImage.name" ng-minlength="5">
					                </div>
				                </div> <div class="row">	        		
					        		<div class="form-group col-lg-12 ">
					                    <label tooltip-placement="right" tooltip="La description sert au référencement de vos images. Remplissez la avec des mots clefs">Description</label>
					                    <input class="form-control" placeholder="Description" name="alt" type="text" ng-model="selectedImage.alt">
					                </div>
				                </div> 
				                <div class="row">	        		
					        		<div class="form-group col-xs-4 col-md-3 col-lg-2 ">
					                    <label >Poid</label>
					                    <input class="form-control" value="{{selectedImage.size | bytes}}" disabled type="text"> </input>
					                </div>	        		
					        		<div class="form-group col-xs-8 col-md-9 col-lg-10 ">
					                    <label >Url</label>
					                    <input class="form-control" value="{{url}}/file/image/originalsize/{{selectedImage.filename}}" disabled type="text"> </input>
					                </div>
				                </div> 
				        		
				        	 
					
						<div class="panel-footer" style="text-align:center">
							<div class="row">
								<div class="col-sm-4" style='margin-bottom:4px;'>
								</div>
								<div class="col-sm-4" style='margin-bottom:4px;'>
								</div>
								<div class="col-sm-4" style='margin-bottom:4px;'>
									<button type="submit" ng-click="saveImage()" class="btn  btn-success col-sm-12"><i class="fa fa-floppy-o fa-fw"></i> Enregistrer</button>
								</div>
							</div>
						</div>
					</form>
			        </div>


			    </div>
    		</div>
</div>