<form  class="avis" ng-submit="submit()">
	<p>Sugestions, critiques, idée, comentaires... <strong>Nutrimarketing</strong> est à l'écoute de ses clients.</p>	
	<p>Profitez en! Laissez nous un message</p>
	<span class="placeholderabsolute" ng-show="newAvis.content.length==0">Votre message</span>
	<textarea name="" rows="10" class="form-control input-lg" id="" ng-model="newAvis.content"></textarea>
	<input type="submit"  class="form-control input-lg btn btn-success btn-lg"   value="Poster">
</form>