<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Identifiez-vous</h2>
        <form method="post" ng-submit="login()" id="loginForm" name="loginForm">
          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
          </div>
          <div class="error text-center " ng-show="errormessage"><span>{{errormessage}}</span></div>
          <button type="submit" ng-disabled="!password || !email" class="btn btn-lg  btn-block btn-success">Se connecter</button>

          <br/>
        </form>

        <form method="post" ng-submit="recup()" id="recupForm" name="recupForm">
          <p class="text-center">
            <a ng-click="forgotpass= !forgotpass">Mot de passe oublié?</a>
            <hr>
            <div ng-show="forgotpass" >
              
              <div class="form-group ">
                <input class="form-control input-lg" type="email" name="email" ng-model="recupmail" placeholder="Email">
              </div>
              <button type="submit" ng-disabled="!recupmail" class="btn btn-lg  btn-block btn-success">Demande de récupération</button>
            </div>
          </p>
        </form>
        
          <!-- <p class="text-center text-muted">
            <small>Don't have an account yet? <a href="/#/signup">Sign up</a></small>
          </p> -->

          <!-- <div class="signup-or-separator">
            <h6 class="text">or</h6>
            <hr>
          </div> -->
        <!-- <button class="btn btn-block btn-google-plus" ng-click="authenticate('google')">
          <span class="ion-social-googleplus"></span>Sign in with Google
        </button> -->
      </div>
    </div>
  </div>
</div>