<div class="block-info col-sm-6">
	<h3>Titre</h3>
	<ul>
		<li># Ne pas utiliser de titre de rang 1</li>
		<li>## Titre de rang 2</li>
		<li>### titre de rang 3</li>
		<li>#### titre de rang 4</li>
		<li>##### Titre de rang 5</li>
		<li>###### Titre de rang 6</li>
	</ul>
</div>
<div class="block-info col-sm-6">
	<h3>Formatage</h3>
	<ul>
		<li> *text en italic* ou _text en italic_</li>
		<li> **text important** ou __text important__</li>
		<li> **text important qui contient du _text en italic_**</li>
		<li> >  ceci est une citation</li>
		<li> >> ceci est une citation de rang 2</li>
		<li> --- ou *** ou ___ séparation horizontale </li>
	</ul>
</div>
<div class="block-info col-sm-9">
	<h3>List</h3>
	<ul>
		<li> + element de liste à puce</li>
		<li> - element de liste à puce</li>
		<li> * element de liste à puce</li>
		<li> 1. premier element de liste ordonnée</li>
		<li> 2. deuxième element de liste ordonnée</li>
		<li>   1. Premier element d'une nouvelle liste</li>
	</ul>
</div>

<div class="block-info col-sm-12">
	<h3>Liens et médias</h3>
	<ul>
		<li> [Je suis le text du liens](http://www.url-du-liens.com)</li>
		<li> [Je suis un liens avec un titre](http://www.url-du-liens.com "Je suis le tritre du liens")</li>
		<li> ![Je suis le text alternatif](https://url-de-limage.png "Je suis le titre")</li>
		<li> Pour inserer une video, copier coller le code d'intégration fournis par l'hebergeur(youtube,daylimotion)</li>
	</ul>
</div>
