<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">{{h1}}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <li style="padding: 10px;">
                   <span ng-if="!me.usename">{{me.pseudo}}</span>
                   <span ng-if="me.usename">{{me.name}}</span>
                </li> 
                <!-- <li class="dropdown">
                    
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="addMessage(0)">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li> -->
               <!--  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <!-- /.dropdown -->
                <li class="dropdown notificationsdropdowwn">
                    <a class="dropdown-toggle dropdown-toggle-withbadge" data-toggle="dropdown" ng-click="validNotification();" >

                        <span class="badge" ng-if="nbNotifications!=0">{{nbNotifications}}</span> <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li ng-repeat-start="notif in notifications" ng-class="{notifOk:(notif.status=='ok')}" ng-click="goTo(notif.item,notif.itemid)">
                                <div>
                                    <span ng-switch="notif.type">
                                        <i ng-switch-when="usercreated" class="fa fa-user fa-fw" ></i>
                                        <i ng-switch-when="newmember" class="fa fa-user-plus fa-fw"></i>
                                        <i ng-switch-when="articlecreated" class="fa fa-edit fa-fw"></i>
                                        <i ng-switch-when="projectcreated" class="fa fa-cube fa-fw"></i>
                                        <i ng-switch-when="articlecomment" class="fa fa-comment fa-fw"></i>
                                        <i ng-switch-when="projectcomment" class="fa fa-comment fa-fw"></i>
                                    </span>
                                    <span ng-switch="notif.type">
                                        <span ng-switch-when="usercreated">Nouveau utilisateur</span>
                                        <span ng-switch-when="newmember">Nouveau membre</span>
                                        <span ng-switch-when="articlecomment">Article commenté</span>
                                        <span ng-switch-when="projectcomment">Projet commenté</span>
                                        <span ng-switch-when="articlecreated">Article créé</span>
                                        <span ng-switch-when="projectcreated">Projet créé</span>
                                    </span>
                                    <p><small>{{ notif.info1 }}</small></p>
                                    <p ng-if="notif.info2"><small>{{ notif.info2 }}</small> </p>
                                    <span class="pull-right text-muted small date">{{notif.createdAt | amCalendar}}</span>
                                </div>
                        </li>
                        <li class="divider" ng-repeat-end></li>
                        
                        <li ng-if="notifications.length == 0">
                                <div class="text-center small">
                                   Aucunes notifications
                                </div>
                        </li>
                        <li style="height: 28px;" ng-click="clearNotif()" ng-if="notifications.length > 0">
                            <div class="text-center">
                                <strong>Effacer les notifications vertes</strong>
                            </div>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown notificationsdropdowwn">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a ui-sref="/.profile"><i class="fa fa-user fa-fw"></i> Profile</a>
                        </li>
                        <li><a ui-sref="/.changepassword"><i class="fa fa-exchange fa-fw"></i> Changer de mot de passe</a>
                        </li>
                        <li class="divider"></li>
                        <li><a ui-sref="logout"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        
                       <li>
                            <a ui-sref="/.dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        
                        <li>
                            <a ui-sref="/.users"><i class="fa fa-users fa-fw"></i> Users</a>
                        </li>
                        <li>
                            <a ui-sref="/.articles"><i class="fa fa-edit fa-fw"></i> Articles</a>
                        </li>
                        <li>
                            <a ui-sref="/.projects"><i class="fa fa-cube fa-fw"></i> Projets</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-puzzle-piece fa-fw"></i> Médias<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a ui-sref="/.images"><i class="fa fa-image fa-fw"></i> Images</a>
                                </li>
                                <!-- <li>
                                    <a href="buttons.html"><i class="fa fa-video-camera fa-fw"></i> Video</a>
                                </li> -->
                                <li>
                                    <a ui-sref="/.documents"><i class="fa fa-file fa-fw"></i> Documents</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Paramètres<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a ui-sref="/.tags"><i class="fa fa-tags fa-fw"></i> Tags</a>
                                </li>
                                <li>
                                    <a ui-sref="/.categoriesBlog"><i class="fa fa-th-large fa-fw"></i> Catégories - Article</a>
                                </li>
                                <li>
                                    <a ui-sref="/.categoriesProject"><i class="fa fa-th-large fa-fw"></i> Catégories - Projet</a>
                                </li>
                                <li>
                                    <a ui-sref="/.i18n({lang:'fr'})"><i class="fa fa-globe fa-fw"></i> Internationalisation</a>
                                </li>
                                <li>
                                    <a ui-sref="/.administration"><i class="fa fa-gear fa-fw"></i> Administration</a>
                                </li>
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                       
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
<script type="text/javascript">
$(function() {

    $('#side-menu').metisMenu();

    $(window).bind("load resize", function() {
        width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
        if (width < 768) {
            $('div.sidebar-collapse').addClass('collapse')
        } else {
            $('div.sidebar-collapse').removeClass('collapse')
        }
    })
})

</script>
