<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tags
        <div class="btn btn-primary pull-right"  ng-click="newItemFlag=true"><i class="fa fa-plus fa-fw"></i> Ajouter un Tag</div>
       
       <!--  <progress><bar ng-repeat="upload in uploads track by $index" value="upload.progressPercentage" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span></bar></progress> -->

       
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
	


	<div class="col col-md-8 col-lg-8">
        		<div class="panel panel-default">
            
	            	<div class="panel-body">
	                	<div class=" panel-heading-table">
		                    <form role="form" class="" >
		                        <div class="form-group input-group  col-md-6 pull-right">
		                            <form name="searchUser">

		                                <input type="text" class="form-control" ng-model="filter.slug" ng-blur="reload()">
		                                <span class="input-group-btn">
		                                    <button class="btn btn-default btn-search" type="submit" ng-click="reload()"><i class="fa fa-search"></i>
		                                    </button>
		                                </span>
		                            </form>
		                        </div>
		                       <!--  <div class="FilterBox pull-right form-group col-md-6 input-group ">
		        
		                            <div class="label label-primary pull-right"><i class="fa fa-graduation-cap fa-fw"></i> Admin <input type="checkbox" ng-model="filter.admin" ng-click="reloadUsers()"class="labelcheckbox" ng-model="userService.filter.admin" checked></div>
		                            <div class="label label-default pull-right"><i class="fa fa-user fa-fw"></i> User <input type="checkbox" ng-model="filter.user" class="labelcheckbox" checked ng-click="reloadUsers()"></div>
		                            <div class="label label-success pull-right"><i class="fa fa-user-plus fa-fw"></i> Membre <input type="checkbox" ng-model="filter.member" ng-click="reloadUsers()" class="labelcheckbox" checked></div>
		                        </div> -->
		                    </form>
		                </div>
		                <div class="col-lg-12 table-responsive" >
		                	
		                	<table class="table table-hover">
		                        <thead>
		                            <tr>
		                                <th style="min-width:350px;"><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('text ASC')" ng-class="{active: filter.order=='text ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('text DESC')" ng-class="{active: filter.order=='text DESC'}"></i> Tag </th>
		                                <th ><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('nbDocuments ASC')" ng-class="{active: filter.order=='nbDocuments ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('nbDocuments DESC')" ng-class="{active: filter.order=='nbDocuments DESC'}"></i> Documents </th>
		                                <th ><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('nbArticles ASC')" ng-class="{active: filter.order=='nbArticles ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('nbArticles DESC')" ng-class="{active: filter.order=='nbArticles DESC'}"></i> Articles </th>
		                                <th ><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('nbProjects ASC')" ng-class="{active: filter.order=='nbProjects ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('nbProjects DESC')" ng-class="{active: filter.order=='nbProjects DESC'}"></i> Projets </th>
		                               
		                                <th style="min-width:100px;"><i class="fa sorter fa-user fa-sort-desc" ng-class="{active: filter.order=='createdAt ASC'}" ng-click="setOrder('createdAt ASC')"></i><i class="fa fa-user sorter fa-sort-asc" ng-class="{active: filter.order=='createdAt DESC'}" ng-click="setOrder('createdAt DESC')"></i> Créé en</th>
		                            </tr>
		                        </thead>
		                        <tbody>

		                            <tr class="chargement" ng-if="loading"> <td colspan="6"><i class="fa fa-user sorter fa-spinner fa-spin"></i></td></tr>
		                            <tr ng-repeat="item in list" ng-click="select($index)" ng-class="{rowselected:item.selected}">
		                                
		                                <td><div class=" label label-xs label-primary "><i class="fa fa-tag fa-fw"></i> {{item.text}}</div></td>
		                                <td>{{item.nbDocuments}}</td>
		                                <td>{{item.nbArticles}}</td>
		                                <td>{{item.nbProjects}}</td>
		                                <td>{{item.createdAt| date:'MMM yyyy'}}</td>
		                            </tr>
		                           
		                        </tbody>
		                    </table>

		                </div>
		               	<nav class=" col-xs-8">
		                  <pagination ng-change="pageChanged(page)" total-items="total" ng-model="filter.page" max-size="3" items-per-page="filter.perPage" class="pagination-sm pull-left" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		                    <span class="totalTable pull-left"  ng-pluralize count="total"
		                        when="{'0': 'aucun résultats',
		                        'one': '1 résultat',
		                        'other': '{} résultats'}">
		                    </span>
		                </nav>
		               	<nav class=" col-xs-4">
		                    <span class=" pull-right totalTable" style="">par page</span>
						   <select class="form-control pull-right" ng-change="reload()" style="width: 80px;margin: 20px 0px;padding: 5px 10px;height: 30px;" ng-model="filter.perPage" name="perPage" >
		                                        <option value="10">10</option>
		                                        <option value="20">20</option>
		                                        <option value="50">50</option>
		                                        <option value="100">100</option>
		                                    </select> 
		                </nav>
					</div>
                <!-- /.table-responsive -->

				</div>
			</div>

			<div class="col-md-4 col-lg-4" ng-if="!newItemFlag">

				<div class="panel panel-default">
			        <div class="panel-heading">
			            <i class="fa fa-gears fa-fw"></i> Options du tag

			            <div class="pull-right"><removeremove action="remove" itemid="selected.id"></removeremove></div>
			        </div>
			        <!-- /.panel-heading -->
			        <div class="panel-body">
			          
			           <form novalidate name="FORMeditTag" role="form" ng-fab-form-options="customFormOptions" ng-init="setFormScope(this)">
						
				                <div class="row">	        		
					        		<div class="form-group col-xs-12 col-md-12 ">
					                    <label >Nom</label>
					                    <input class="form-control" name="text"  disabled required ng-model="selected.text" ng-minlength="2">
					                </div>	        		
				                </div> 
				                
				        		
				        	 
					
						<!-- <div class="panel-footer" style="text-align:center">
							<div class="row">
								<div class="col-sm-4" style='margin-bottom:4px;'>
									
								</div>
								<div class="col-sm-4" style='margin-bottom:4px;'>
								</div>
								<div class="col-sm-4" style='margin-bottom:4px;'>
									<button type="submit" ng-click="save()" class="btn  btn-success col-sm-12"><i class="fa fa-floppy-o fa-fw"></i> Enregistrer</button>
								</div>
							</div>
						</div> -->
					</form>
			        </div>


			    </div>
    		</div>
    		<div class="col-md-4 col-lg-4" ng-if="newItemFlag">

				<div class="panel panel-default">
			        <div class="panel-heading">
			            <i class="fa fa-plus fa-fw"></i> Nouveau tag

			        </div>
			        <!-- /.panel-heading -->
			        <div class="panel-body ">
			          
			           <form novalidate name="FORMaddNewTag" role="form" ng-fab-form-options="customFormOptions" ng-init="setFormScope(this)">
						
				                <div class="row">	        		
					        		<div class="form-group col-xs-12 col-md-12 ">
					                    <label >Nom</label>
					                    <input class="form-control" name="text"  required ng-model="newItem.text" ng-minlength="2">
					                </div>	        		
				                </div> 
				                
				        		
				        	 
					
						<div class="panel-footer" style="text-align:center">
							<div class="row">
								<div class="col-sm-4" style='margin-bottom:4px;'>
								<button type="button" ng-click="cancelNew()" class="btn btn-danger col-sm-12"><i class="fa fa-times fa-fw"></i> Annuler</button>	
								</div> 
								<div class="col-sm-4" style='margin-bottom:4px;'>
								</div>
								<div class="col-sm-4" style='margin-bottom:4px;'>
									<button type="submit" ng-click="addNew()" class="btn  btn-success col-sm-12"><i class="fa fa-floppy-o fa-fw"></i> Enregistrer</button>
								</div>
							</div>
						</div>
					</form>
			        </div>


			    </div>
    		</div>
</div>