/*GENERIC*/
@font-face {font-family: "Wingdings 3";
  src: url("fonts/9e2ee65661bee40438d514fe592bfcf8.eot"); /* IE9*/
  src: url("fonts/9e2ee65661bee40438d514fe592bfcf8.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/9e2ee65661bee40438d514fe592bfcf8.woff") format("woff"), /* chrome、firefox */
  url("fonts/9e2ee65661bee40438d514fe592bfcf8.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/9e2ee65661bee40438d514fe592bfcf8.svg#Wingdings 3") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Wingdings";
  src: url("fonts/e991cc888d4fb544fe0a88d065ab6efc.eot"); /* IE9*/
  src: url("fonts/e991cc888d4fb544fe0a88d065ab6efc.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/e991cc888d4fb544fe0a88d065ab6efc.woff") format("woff"), /* chrome、firefox */
  url("fonts/e991cc888d4fb544fe0a88d065ab6efc.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/e991cc888d4fb544fe0a88d065ab6efc.svg#Wingdings") format("svg"); /* iOS 4.1- */
}

body{ background:#f3f3f3; font-family: Arial; font-size:12px; color:#737b7f;}
ul{list-style: none; padding:0px;margin:0;}
.col.col-xs-6, .col.col-md-3, .col.col-md-9, .col-md-4,.col-md-6{padding:4px;}
.pl0{padding-left: 0;}
.pr0{padding-right: 0;}
.positioned{display: block;position: relative;}

/*HEADER*/
header{ height: 126px;}
.logo{padding: 10px 10px 10px 0px}
.restduheader{padding: 10px 0px 10px 10px; text-align: center; }
.restduheader h3{font-size: 2.8em;color: #193548;}

a{color:#737b7f;}
a:hover{color:#737b7f;}
/*NAV*/
.navprincipal{ background:#183548;}
.navprincipal ul{  float:right; margin-bottom:0px;}
.navprincipal ul li { display:inline-block; margin: 0 10px; padding:3px 0px;}
.navprincipal ul li a{ color:white; font-size:1.3em; padding-top:5px;}
.navprincipal div.recherche {position: relative; float:right;padding-right: 0;}
.navprincipal div.recherche input[type="text"]{ border:none;border-radius: 5px;padding:0px 0px 0px 0px; height: 20px;margin-top: 4px;text-indent: 10px; width: 100%;}
.navprincipal div.recherche .logosearch{width: 20px;height: 20px; display: block;position: absolute;right: 14px;top: 4px;font-size: 14px; color : #787878;}

/*NAV*/

.navSecondaire{ margin-top:10px; margin-bottom:10px;}
.navSecondaire .item{ padding:4px;border-radius: 7px;position: relative; height:280px;overflow: hidden;}
.navSecondaire .item.item1 {background:#b81e57;}
.navSecondaire .item.item2 {background:#482b63;}
.navSecondaire .item.item3 {background:#87ba40;}
.navSecondaire .item.item4 {background:#c79b35;}
.navSecondaire .item .label{position: absolute;width: 100%;bottom: 0px;left:0px;border-bottom-left-radius: 7px;border-bottom-right-radius: 7px;}
.navSecondaire .item .label h2{padding-top:10px; margin-top: 0;font-size: 2.4em}
.navSecondaire .item.item1 .label{background:#b81e57;}
.navSecondaire .item.item2 .label{background:#482b63;}
.navSecondaire .item.item3 .label{background:#87ba40;}
.navSecondaire .item.item4 .label{background:#c79b35;}
.navSecondaire .item .img img{width: 100%;border-top-left-radius: 7px;border-top-right-radius: 7px;}

.prevBtn{color:#b81e57; font-size : 30px; position:absolute;top:50%; left: -30px; margin-top:-20px;cursor:pointer;}
.nextBtn{color:#b81e57; font-size : 30px; position:absolute;top:50%; right: -30px; margin-top:-20px;cursor:pointer;}

#chercheur .navSecondaire .item .img {text-align: center;padding-top : 70px;}
#chercheur .navSecondaire .item .img img{width:auto;}
#chercheur .navSecondaire .item h2{padding : 10px 10px 0px 10px; font-weight: bold;text-transform: uppercase;font-size: 2.4em}
#chercheur .prevBtn{color:#b81e57;}
#chercheur .nextBtn{color:#b81e57;}
.hide{display:none;}

#salaries .navSecondaire .item .img {text-align: center;padding-top : 70px;}
#salaries .navSecondaire .item .img img{width:auto;}
#salaries .navSecondaire .item h2{padding : 10px 10px 0px 10px; font-weight: bold;text-transform: uppercase;font-size: 2em}
#salaries .prevBtn{color:#482b63;}
#salaries .nextBtn{color:#482b63;}

#entreprises .navSecondaire .item .img {text-align: center;padding-top : 70px;}
#entreprises .navSecondaire .item .img img{width:auto;}
#entreprises .navSecondaire .item h2{padding : 10px 10px 0px 10px; font-weight: bold;text-transform: uppercase;font-size: 2em}
#entreprises .prevBtn{color:#87ba40;}
#entreprises .nextBtn{color:#87ba40;}

#partenaires .navSecondaire .item .img {text-align: center;padding-top : 70px;}
#partenaires .navSecondaire .item .img img{width:auto;}
#partenaires .navSecondaire .item h2{padding : 10px 10px 0px 10px; font-weight: bold;text-transform: uppercase;font-size: 2em}
#partenaires .prevBtn{color:#c79b35;}
#partenaires .nextBtn{color:#c79b35;}

/*left Colonne*/

.blockgrisgauche{background:#E1E1E1; height : 300px;width:100%; margin-bottom: 10px;border-radius: 7px;  ;border: 2px solid #929391;position: relative;}
.blockgrisgauche.blockbleugris{background:#183548; width:100%; margin-bottom: 10px;border-radius: 7px;  ;border: 2px solid #929391;position: relative;    margin-top: 12px;}
.blockgrisgauche.blockbleugris h4{padding-top : 10px; color:#f3f3f3;font-size: 26px;  text-align: center;font-weight: bold;}
.blockgrisgauche.blockbleugris p{ color:#f3f3f3;text-align: center;font-size: 20px; padding: 0px 10px;padding-top : 10px;}
.blockgrisgauche h4.calendrier{color:#929391; font-size: 22px; text-transform:uppercase; text-align: center;font-weight: bold; margin-top : 5px;}
.blockgrisgauche h4.plaquette{color:#929391; font-size: 17px; text-transform:uppercase; text-align: center; padding:0 10px;}
.blockgrisgauche .logoME{height : 80%; text-align: center;padding-top: 10px;}
.blockgrisgauche .logoME img{width:50%;}


/*content*/

	/*carousel*/
.carouselcontainer{border-radius: 7px;  border: 2px solid #929391;}
.carouselcontainer .item img{border-radius: 5px;}
.carousel-indicators {border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;background: #737b7f;bottom: 20px;width: 100%;margin: 0px;left: 0px;height: 40px;bottom: 0px;padding-top: 10px;}
.carousel-indicators li{width:20px;height: 20px;border-radius: 15px;background: #adb1b3;border:none; margin: 0px 10px;}
.carousel-indicators li.active{width:20px;height: 20px;border-radius: 15px;background: #f3f4f4;border:none; margin: 0px 10px;}


	/*blocks du bas*/
.blockgrisbas{overflow:hidden;background:#E1E1E1; margin-top: 7px;border-radius: 7px; color:#183548; ;border: 2px solid #929391;position: relative;}
.blockgrisbas li a:before{content:'\f061';font-family: 'wingdings 3';position:absolute;left: 20px;}
.blockgrisbas.inverse{background:#737b7f;  color:#E1E1E1; ;border: 2px solid #929391;position: relative;}
.blockgrisbas.inverse h2{color:#E1E1E1;}
.blockgrisbas.inverse ul li a{color:#E1E1E1;}

.blockgrisbas h2{font-weight: bold; text-align: center;color:#183548; font-size: 22px; text-transform:uppercase; padding:15px 50px;}
.blockgrisbas ul { padding:0px 40px; list-style-type: none;}
.blockgrisbas ul li{margin: 20px 0px;}
.blockgrisbas ul li a{ font-weight: bold;color:#183548; font-size: 14px;}

.blockgrisbas.rose h2{color:#b81e57;text-align: left;padding-left: 20px;margin-top: 0px}
.blockgrisbas.rose ul li{margin: 5px 0px;}
.blockgrisbas.rose.large ul li{margin: 20px 0px;}
.blockgrisbas.rose ul li a{font-size: 16px;color:#b81e57;font-weight: normal;}
.blockgrisbas.rose ul li a small{color:#737b7f;}

.blockgrisbas.violet h2{color:#482b63;text-align: left;padding-left: 20px;margin-top: 0px}
.blockgrisbas.violet ul li{margin: 5px 0px;}
.blockgrisbas.violet.large ul li{margin: 20px 0px;}
.blockgrisbas.violet ul li a{font-size: 16px;color:#482b63;font-weight: normal;}
.blockgrisbas.violet ul li a small{color:#737b7f;}


.blockgrisbas.vert h2{color:#87ba40;text-align: left;padding-left: 20px;margin-top: 0px}
.blockgrisbas.vert ul li{margin: 5px 0px;}
.blockgrisbas.vert.large ul li{margin: 20px 0px;}
.blockgrisbas.vert ul li a{font-size: 16px;color:#87ba40;font-weight: normal;}
.blockgrisbas.vert ul li a small{color:#737b7f;}

.blockgrisbas.orange h2{color:#c79b35;text-align: left;padding-left: 20px;margin-top: 0px}
.blockgrisbas.orange ul li{margin: 5px 0px;}
.blockgrisbas.orange.large ul li{margin: 20px 0px;}
.blockgrisbas.orange ul li a{font-size: 16px;color:#c79b35;font-weight: normal;}
.blockgrisbas.orange ul li a small{color:#737b7f;}

	/*contenu principal*/

.mainContainer{overflow:auto; border-radius: 7px; color:#183548; ;border: 2px solid #929391;position: relative;}

.maincontainer{font-size: 1.5em;padding : 40px; padding-top: 0;overflow:auto; border-radius: 7px; color:#183548; ;border: 2px solid #929391;position: relative; box-sizing:border-box;}
.maincontainer h2{text-align:center; color:#183548;padding-bottom: 20px;}
.maincontainer h2:before{ color:#183548;content:'\f0E8';text-transform: none;font-family: 'Wingdings';position:relative;left: -20px;}
.maincontainer ul {font-size : 1em;}
.maincontainer ul > li:before{content:'\f061';font-family: 'Wingdings 3';position:absolute;left: 60px;color:#183548;}
.maincontainer .contenu p{font-size : 1em;}

.haut{overflow: hidden;margin-top:20px; }
.haut.rose h2{ color:#b81e57;font-size: 3em;margin-top:30px;text-transform: uppercase;font-weight: bold;}
.haut.rose h2.small{font-size: 2.3em;}
.haut.rose h2.fleche:before{content:'\f0E8';text-transform: none;font-family: 'Wingdings';position:relative;left: -20px;}
.haut.rose h3 {padding-left : 263px; color:#737b7f;}
.haut.rose ul {padding-left : 300px; font-size: 22px; color:#737b7f;}
.haut.rose ul li{margin-top:15px;}
.haut.rose ul li label:before{content:'\f061';font-family: 'Wingdings 3';position:relative;left: -20px;}
.haut img{ margin-left:-20px; float:left;}
.haut h2{ padding-left : 263px; text-align: center;margin-top : 70px;}
.haut p{ text-align: justify;  padding-left : 263px;color: #737b7f; font-size: 16px;padding-right: 20px;padding-top: 20px;}
.haut.rose a{ color:#b81e57;}
.contenu  {padding-top: 40px;}
.contenu > ul > li > label{text-align: left;color: #b81e57; font-size: 20px;padding-right: 20px;margin-left: 30px;padding-top: 10px;padding-bottom:0px;}
.contenu > ul > li > label:before{content:'\f061';font-family: 'Wingdings 3';position:absolute;left: 40px;color:#b81e57;}
.contenu p {text-align: justify;color: #737b7f; font-size: 16px;padding-right: 0px;padding-left: 0px;padding-top: 0px;}
.contenu ul { padding:0px 40px; list-style-type: none;}
.contenu ul > li{margin: 20px 0px; color: #737b7f;}
.contenu ul > li:first-child{margin-top: 0px;}
.contenu ul > li:first-child label{margin-top: 0px;padding-top: 0;}
.contenu ul > li a{ font-weight: bold;color:#737b7f; font-size: 14px;}
.contenu ul > li a.marginleft{  padding-left : 30px;}
.contenu ul > li > a:before{content:'\f061';font-family: 'Wingdings 3';position:absolute;left: 40px;color:#b81e57;}
.contenu ul > li > p a{font-size: 18px;color:#b81e57;}
.contenu ul > li ul li{font-size:16px; margin-top: 5px;margin-bottom: 5px;}
.contenu ul > li ul li:before{content:'\f06D';padding-right:15px;font-family: 'Wingdings';left: 40px;padding-left: 0px;color:#b81e57;}
.contenu ul > li ul li strong{color:#b81e57;}
.contenu .last{margin-bottom: 50px;}
.contenu .listavecmarge li{margin-bottom: 25px;}
.contenu p.rose { color:#b81e57;}
.contenu p.decalage{ padding-left: 60px;margin-top: -7px;}

ul.aveclogo{}
ul.aveclogo img{ margin-left:-140px; max-width : 120px;float:left; padding-top : 20px;}
ul.aveclogo > li { padding-left: 140px;}
ul.aveclogo > li > label { margin-left: 40px;}
ul.aveclogo > li > label:before { left: 180px;}


#salaries .haut.rose h2{ color:#482b63; margin-top:30px;margin-bottom:50px; font-weight: bold;}
#salaries ul li a:before {color:#482b63;}
#salaries .contenu label {color:#482b63;}
#salaries .contenu label:before {color:#482b63;}
#salaries .haut.rose a{color:#482b63;}
#salaries .haut.rose ul li:before{color:#482b63;}
#salaries .bandocouleur{background:#482b63; color:white;font-size: 36px;font-weight: bold;text-align: center;padding:0px;}
#salaries p.big{margin-top:50px;text-align: center;font-size:2em;}
#salaries p.big strong{color:#482b63; }
#salaries p.big a{color:#482b63; text-decoration:underline;}
#salaries .contenu ul li ul li:before{content:'\f06D';padding-right:15px;font-family: 'Wingdings';left: 0px;color:#482b63;}
#salaries .contenu ul li ul li strong{color:#482b63;}
#salaries .contenu ul > li   a{color:#482b63;}
#salaries .flechepleine:before{ content:'\f0E8';padding-right:15px;font-family: 'Wingdings';left: 40px;padding-left: 0px;color:#b81e57;}


#entreprises .haut.rose h2{ color:#87ba40; margin-top:30px;margin-bottom:50px; font-weight: bold;}
#entreprises ul li a:before {color:#87ba40;}
#entreprises .contenu label {color:#87ba40;}
#entreprises .contenu label:before {color:#87ba40;}
#entreprises .haut.rose a{color:#87ba40;}
#entreprises .haut.rose ul li:before{color:#87ba40;}
#entreprises .bandocouleur{background:#87ba40; color:white;font-size: 36px;font-weight: bold;text-align: center;padding:0px;}
#entreprises p.big{margin-top:50px;text-align: center;font-size:2em;}
#entreprises p.big strong{color:#87ba40; }
#entreprises p.big a{color:#87ba40; text-decoration:underline;}
#entreprises .contenu ul li ul li:before{content:'\f061';padding-right:15px;font-family: 'Wingdings 3';left: 0px;color:#87ba40;}
#entreprises .contenu ul li ul li strong{color:#87ba40;}
#entreprises .contenu ul > li   a{color:#87ba40;}
#entreprises .contenu span.green{color:#87ba40;}

#partenaires .haut.rose h2{ color:#c79b35; margin-top:30px;margin-bottom:50px; font-weight: bold;}
#partenaires ul li a:before {color:#c79b35;}
#partenaires .contenu label {color:#c79b35;}
#partenaires .contenu label:before {color:#c79b35;}
#partenaires .haut.rose a{color:#c79b35;}
#partenaires .haut.rose ul li:before{color:#c79b35;}
#partenaires .bandocouleur{background:#c79b35; color:white;font-size: 36px;font-weight: bold;text-align: center;padding:0px;}
#partenaires p.big{margin-top:50px;text-align: center;font-size:2em;}
#partenaires p.big strong{color:#c79b35; }
#partenaires p.big a{color:#c79b35; text-decoration:underline;}
#partenaires .contenu ul li ul li:before{content:'\f06D';padding-right:15px;font-family: 'Wingdings';left: 0px;color:#c79b35;}
#partenaires .contenu ul li ul li strong{color:#c79b35;}
#partenaires .contenu ul > li   a{color:#c79b35;}
#partenaires .contenu span.orange{color:#c79b35;}
#partenaires .contenu ul > li > a:before{content:'';}
#partenaires .contenu ul > li b a{text-decoration:underline; color:#737b7f;}
#partenaires .haut ul .flechevide {font-size: 16px;}
#partenaires .flechevide:before{ content:'\f061';padding-right:15px;font-size: 16px;font-family: 'Wingdings 3';padding-left: 0px;color:#c79b35;}



#BLOG .mainContainer { border : none; height:auto;}
#BLOG .content { margin-top : 10px;margin-bottom: 10px;}
#BLOG .col.col-md-3 { border-left : 2px solid #929391;}
#BLOG .article {margin-bottom:50px;}
#BLOG .article h2{font-size: 32px;font-weight:bold ;text-transform: uppercase; margin-bottom:0px;}
#BLOG .article h2 + p {font-size: 14px;}
#BLOG .article h2 + p a {color:#183548;}
#BLOG .article .imagearticle {width:225px; height:225px; position:relative;float:left;margin:0 40px 0 0; border : 2px solid #929391;border-radius:5px;}
#BLOG .article .imagearticle img{width:100%; height:100%; position:relative;border-radius:5px;}
#BLOG .article .articlecontent {position:relative;padding:0 20px 0 0;}
#BLOG .article .articlecontent h2{font-size: 24px;margin-bottom:0px;margin-top: 0px}
#BLOG .article .articlecontent h3{font-size: 20px;margin-top: 0px}
#BLOG .article .articlecontent .articletext{font-size: 16px;color:#737b7f; text-align: justify;}
#BLOG .article .readmore{font-size: 20px;color:#737b7f;}
#BLOG .paginationcontainer{text-align:center;font-size: 1.3em}
#BLOG .paginationcontainer .pagination li a{border:none;background:none;color:#737b7f;}
#BLOG .paginationcontainer .pagination li.active a{color:#183548;font-weight: bold;}
#BLOG .blockrightcol {border-bottom : 1px solid #929391;    margin: 0px 10px;padding: 10px 0px 15px 10px;}
#BLOG .blockrightcol h3{font-weight: bold;font-size: 20px;  text-align: left;text-transform: uppercase;}
#BLOG .blockrightcol h3:before{content:'\f0E8';padding-right:15px;font-family: 'Wingdings';}
#BLOG .col.col-md-3 .blockrightcol ul li{margin-bottom:10px;  }
#BLOG .col.col-md-3 .blockrightcol ul li a{font-size: 18px;color:#737b7f; margin-bottom:10px;  }
#BLOG .col.col-md-3 .blockrightcol ul.avecfleche {padding-left: 40px; }
#BLOG .col.col-md-3 .blockrightcol ul.avecfleche li a:before{content:'\f061';padding-right:15px;font-family: 'Wingdings 3'; }

#BLOG .col.col-md-3 .blockrightcol:first-child {padding-top: 0;margin-top: 0;}
#BLOG .col.col-md-3 .blockrightcol:last-child {border-bottom:0px;}
#BLOG .col.col-md-3 .blockrightcol:first-child h4{font-size: 26px;  text-align: center;font-weight: bold;text-transform: uppercase;}

#article .mainContainer { border : none; height:auto; padding: 0 20px;}
#article .content { margin-top : 10px;margin-bottom: 10px;}
#article .col.col-md-3 { border-left : 2px solid #929391;}
#article .article {margin-bottom:50px;}
#article .article h2{font-size: 32px;font-weight:bold ;text-transform: uppercase; margin-bottom:0px;}
#article .article h2 + p {font-size: 14px;}
#article .article h2 + p a {color:#183548;}
#article .article .articleimage {width : 100%; border : 2px solid #929391;border-radius:5px;}
#article .article .articleimage img{width:100%; height:100%; position:relative;border-radius:5px;}
#article .article .articlecontent {position:relative;padding:0 20px 0 0;}
#article .article .articlecontent h2{font-size: 24px;margin-bottom:0px;margin-top: 0px}
#article .article .articlecontent h3{font-size: 20px;margin-top: 0px}
#article .article .articlecontent .articletext{font-size: 16px;color:#737b7f; text-align: justify;}
#article .article .readmore{font-size: 20px;color:#737b7f;}
#article .paginationcontainer{text-align:center;font-size: 1.3em}
#article .paginationcontainer .pagination li a{border:none;background:none;color:#737b7f;}
#article .paginationcontainer .pagination li.active a{color:#183548;font-weight: bold;}
#article .blockrightcol {border-bottom : 1px solid #929391;    margin: 0px 10px;padding: 10px 0px 15px 10px;}
#article .blockrightcol h3{font-weight: bold;font-size: 20px;  text-align: left;text-transform: uppercase;}
#article .blockrightcol h3:before{content:'\f0E8';padding-right:15px;font-family: 'Wingdings';}
#article .col.col-md-3 .blockrightcol ul li{margin-bottom:10px;  }
#article .col.col-md-3 .blockrightcol ul li a{font-size: 18px;color:#737b7f; margin-bottom:10px;  }
#article .col.col-md-3 .blockrightcol ul.avecfleche {padding-left: 40px; }
#article .col.col-md-3 .blockrightcol ul.avecfleche li a:before{content:'\f061';padding-right:15px;font-family: 'Wingdings 3'; }

#article .col.col-md-3 .blockrightcol:first-child {padding-top: 0;margin-top: 0;}
#article .col.col-md-3 .blockrightcol:last-child {border-bottom:0px;}
#article .col.col-md-3 .blockrightcol:first-child h4{font-size: 26px;  text-align: center;font-weight: bold;text-transform: uppercase;}
#article .commentaires h5 {color: #737b7f;font-size: 18px; border-bottom : 1px solid #929391;padding-bottom:3px;}
#article .commentaires .postcoment .input-group{margin-bottom : 5px; width : 100%;}
#article .commentaires .postcoment input{color: #737b7f;width : 100%;}
#article .commentaires .postcoment textarea{color: #737b7f;width : 100%; height:100px;}
#article .commentaires .boxcomment {color: #737b7f;font-size: 16px; border-bottom : 1px solid #929391;padding-bottom:3px;}
#article .commentaires .boxcomment .boxcomment{padding-left: 30px;}
#article .commentaires .boxcomment h6{color: #737b7f;font-size: 16px;}
#article .commentaires .boxcomment h6+p{color: black;font-size: 16px; }



/* FOOTER */
.bando{height: 40px;background: #183548;color: #f3f3f3;}
.bando h5{ font-size: 20px; text-transform:uppercase; text-align: center;font-weight: bold;}
.bandoclient{height: 120px;width:100%;position: relative;  overflow:hidden;  margin-top : 20px; margin-bottom : 20px;}
.bandoclient ul{position:absolute;width: 1890px; height: 100px;}
.bandoclient li{display:inline-block; margin:0px 10px;}
.bandoclient li img{width: 120px;}
.bandoclient li img.portrait{width: 70px;}
.bandoclient li img.portrait2{width: 90px;}
.bandoclient li img.longueur{width: 150px;top:-10px;position: relative;}
.bandoclient li img.longueur2{width: 200px; top:-10px;position: relative;}



/*CALENDAR*/

#calendar{height:230px;}
#calendar h2{font-size : 18px; font-weight:bold;}
#calendar .fc-basic-view .fc-body .fc-row {
    min-height: 10px;
    height: 29px; text-align: center;
}
#calendar .fc-day-number{text-align: center;vertical-align: middle; font-weight:bold; font-size: 17px;}
#calendar .fc-content-skeleton{padding-top : 1px;}
#calendar .fc th {font-size: 16px; border-style:none; border:none !important;border-width : 0px !important;}
#calendar .fc td {font-size: 16px; border-style:none; border:none !important;border-width : 0px !important;}
#calendar .fc-state-default {background-color: none; background-image: none;background-image: none; background-image: none; background-image: none;background-image: none; background-repeat: none; border-color: none; border-color:none; color: #777; text-shadow: none; box-shadow: none;border : none; background:none;}
#calendar .fc-state-default .fc-icon{font-size: 16px;}
#calendar .fc-state-default:hover {color:#222;}
/*#calendar .fc-other-month  {color:transparent;}*/
#calendar .fc-today  { background:#183548; color:white;}
#calendar .fc-bg .fc-today  { background:transparent;}
#calendar .fc-bgevent  { opacity:1;}
/*#calendar .fc td, #calendar .fc th  {border:none;border-style:none;border-width:0px;}*/

.fc-row .fc-content-skeleton tbody td, .fc-row .fc-helper-skeleton tbody td { position: relative; top:-20px;display: none;}

.calendarchercheurs{ color:#b81e57 !important; cursor:pointer;}
.calendarsalaries{ color:#482b63 !important; cursor:pointer;}
.calendarentreprises{ color:#87ba40 !important; cursor:pointer;}
.calendarpartenaires{ color:#c79b35 !important; cursor:pointer;}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.blockgrisgauche { height:280px;}
.blockgrisgauche.blockbleugris{ height : 400px;}
.blockgrisbas.rose{ height : 270px;}
.blockgrisbas.violet{ height : 270px;}
.blockgrisbas.vert{ height : 270px;}
.blockgrisbas.orange{ height : 270px;}
.blockgrisbas{background:#E1E1E1; height : 400px; }
.mainContainer{ height : 700px;}



}