/*GENERIC*/
@font-face {font-family: "Wingdings 3";
  src: url("font/9e2ee65661bee40438d514fe592bfcf8.eot"); /* IE9*/
  src: url("font/9e2ee65661bee40438d514fe592bfcf8.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("font/9e2ee65661bee40438d514fe592bfcf8.woff") format("woff"), /* chrome、firefox */
  url("font/9e2ee65661bee40438d514fe592bfcf8.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("font/9e2ee65661bee40438d514fe592bfcf8.svg#Wingdings 3") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Wingdings";
  src: url("font/e991cc888d4fb544fe0a88d065ab6efc.eot"); /* IE9*/
  src: url("font/e991cc888d4fb544fe0a88d065ab6efc.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("font/e991cc888d4fb544fe0a88d065ab6efc.woff") format("woff"), /* chrome、firefox */
  url("font/e991cc888d4fb544fe0a88d065ab6efc.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("font/e991cc888d4fb544fe0a88d065ab6efc.svg#Wingdings") format("svg"); /* iOS 4.1- */
}

body{ background:#f3f3f3; font-family: Arial; font-size:12px; color:#737b7f;}
ul{list-style: none; padding:0px;margin:0;}
.col.col-xs-6, .col.col-md-3, .col.col-md-9, .col-md-4,.col-md-6{padding:4px;}
.pl0{padding-left: 0;}
.plr{padding-right: 0;}
.positioned{display: block;position: relative;}

/*HEADER*/
header{ height: 126px;}
.logo{padding: 10px 10px 10px 0px}
.restduheader{padding: 10px 0px 10px 10px; text-align: center; }
.restduheader h3{font-size: 2.8em;color: #193548;}


/*NAV*/
.navprincipal{ background:#183548;}
.navprincipal ul{  float:right; margin-bottom:0px;}
.navprincipal ul li { display:inline-block; margin: 0 10px; padding:3px 0px;}
.navprincipal ul li a{ color:white; font-size:1.3em; padding-top:5px;}
.navprincipal div.recherche {position: relative; float:right;padding-right: 0;}
.navprincipal div.recherche input[type="text"]{ border:none;border-radius: 5px;padding:0px 0px 0px 0px; height: 20px;margin-top: 4px;text-indent: 10px; width: 100%;}
.navprincipal div.recherche .logosearch{width: 20px;height: 20px; display: block;position: absolute;right: 14px;top: 4px;font-size: 14px; color : #787878;}

/*NAV*/

.navSecondaire{ margin-top:10px; margin-bottom:10px;}
.navSecondaire .item{ padding:4px;border-radius: 7px;position: relative; height:280px;overflow: hidden;}
.navSecondaire .item.item1 {background:#b81e57;}
.navSecondaire .item.item2 {background:#482b63;}
.navSecondaire .item.item3 {background:#87ba40;}
.navSecondaire .item.item4 {background:#c79b35;}
.navSecondaire .item .label{position: absolute;width: 100%;bottom: 0px;left:0px;border-bottom-left-radius: 7px;border-bottom-right-radius: 7px;}
.navSecondaire .item .label h2{padding-top:10px; margin-top: 0;font-size: 2.4em}
.navSecondaire .item.item1 .label{background:#b81e57;}
.navSecondaire .item.item2 .label{background:#482b63;}
.navSecondaire .item.item3 .label{background:#87ba40;}
.navSecondaire .item.item4 .label{background:#c79b35;}
.navSecondaire .item .img img{width: 100%;border-top-left-radius: 7px;border-top-right-radius: 7px;}

.prevBtn{color:#b81e57; font-size : 30px; position:absolute;top:50%; left: -30px; margin-top:-20px;cursor:pointer;}
.nextBtn{color:#b81e57; font-size : 30px; position:absolute;top:50%; right: -30px; margin-top:-20px;cursor:pointer;}

#chercheur .navSecondaire .item .img {text-align: center;padding-top : 70px;}
#chercheur .navSecondaire .item .img img{width:auto;}
#chercheur .navSecondaire .item h2{padding : 10px 10px 0px 10px; font-weight: bold;text-transform: uppercase;font-size: 2.4em}
#chercheur .prevBtn{color:#b81e57;}
#chercheur .nextBtn{color:#b81e57;}
.hide{display:none;}

#salarie .navSecondaire .item .img {text-align: center;padding-top : 70px;}
#salarie .navSecondaire .item .img img{width:auto;}
#salarie .navSecondaire .item h2{padding : 10px 10px 0px 10px; font-weight: bold;text-transform: uppercase;font-size: 2em}
#salarie .prevBtn{color:#482b63;}
#salarie .nextBtn{color:#482b63;}

#entreprise .navSecondaire .item .img {text-align: center;padding-top : 70px;}
#entreprise .navSecondaire .item .img img{width:auto;}
#entreprise .navSecondaire .item h2{padding : 10px 10px 0px 10px; font-weight: bold;text-transform: uppercase;font-size: 2em}
#entreprise .prevBtn{color:#87ba40;}
#entreprise .nextBtn{color:#87ba40;}

#partenaires .navSecondaire .item .img {text-align: center;padding-top : 70px;}
#partenaires .navSecondaire .item .img img{width:auto;}
#partenaires .navSecondaire .item h2{padding : 10px 10px 0px 10px; font-weight: bold;text-transform: uppercase;font-size: 2em}
#partenaires .prevBtn{color:#c79b35;}
#partenaires .nextBtn{color:#c79b35;}

/*left Colonne*/

.blockgrisgauche{background:#E1E1E1; height : 300px;width:100%; margin-bottom: 10px;border-radius: 7px;  ;border: 2px solid #929391;position: relative;}
.blockgrisgauche.blockbleugris{background:#183548; width:100%; margin-bottom: 10px;border-radius: 7px;  ;border: 2px solid #929391;position: relative;}
.blockgrisgauche.blockbleugris h4{padding-top : 10px; color:#f3f3f3;font-size: 26px;  text-align: center;font-weight: bold;}
.blockgrisgauche.blockbleugris p{ color:#f3f3f3;text-align: center;font-size: 20px; padding: 0px 10px;padding-top : 10px;}
.blockgrisgauche h4.calendrier{color:#929391; font-size: 22px; text-transform:uppercase; text-align: center;font-weight: bold;}
.blockgrisgauche h4.plaquette{color:#929391; font-size: 17px; text-transform:uppercase; text-align: center; padding:0 10px;}
.blockgrisgauche .logoME{height : 80%; text-align: center;padding-top: 10px;}
.blockgrisgauche .logoME img{width:50%;}


/*content*/

	/*carousel*/
.carouselcontainer{border-radius: 7px;  border: 2px solid #929391;}
.carouselcontainer .item img{border-radius: 5px;}
.carousel-indicators {border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;background: #737b7f;bottom: 20px;width: 100%;margin: 0px;left: 0px;height: 40px;bottom: 0px;padding-top: 10px;}
.carousel-indicators li{width:20px;height: 20px;border-radius: 15px;background: #adb1b3;border:none; margin: 0px 10px;}
.carousel-indicators li.active{width:20px;height: 20px;border-radius: 15px;background: #f3f4f4;border:none; margin: 0px 10px;}


	/*blocks du bas*/
.blockgrisbas{overflow:hidden;background:#E1E1E1; margin-top: 7px;border-radius: 7px; color:#183548; ;border: 2px solid #929391;position: relative;}
.blockgrisbas li a:before{content:'\f061';font-family: 'wingdings 3';position:absolute;left: 20px;}
.blockgrisbas.inverse{background:#737b7f;  color:#E1E1E1; ;border: 2px solid #929391;position: relative;}
.blockgrisbas.inverse h2{color:#E1E1E1;}
.blockgrisbas.inverse ul li a{color:#E1E1E1;}

.blockgrisbas h2{font-weight: bold; text-align: center;color:#183548; font-size: 22px; text-transform:uppercase; padding:15px 50px;}
.blockgrisbas ul { padding:0px 40px; list-style-type: none;}
.blockgrisbas ul li{margin: 20px 0px;}
.blockgrisbas ul li a{ font-weight: bold;color:#183548; font-size: 14px;}

.blockgrisbas.rose h2{color:#b81e57;text-align: left;padding-left: 20px;margin-top: 0px}
.blockgrisbas.rose ul li{margin: 5px 0px;}
.blockgrisbas.rose.large ul li{margin: 20px 0px;}
.blockgrisbas.rose ul li a{font-size: 16px;color:#b81e57;font-weight: normal;}
.blockgrisbas.rose ul li a small{color:#737b7f;}

.blockgrisbas.violet h2{color:#482b63;text-align: left;padding-left: 20px;margin-top: 0px}
.blockgrisbas.violet ul li{margin: 5px 0px;}
.blockgrisbas.violet.large ul li{margin: 20px 0px;}
.blockgrisbas.violet ul li a{font-size: 16px;color:#482b63;font-weight: normal;}
.blockgrisbas.violet ul li a small{color:#737b7f;}


.blockgrisbas.vert h2{color:#87ba40;text-align: left;padding-left: 20px;margin-top: 0px}
.blockgrisbas.vert ul li{margin: 5px 0px;}
.blockgrisbas.vert.large ul li{margin: 20px 0px;}
.blockgrisbas.vert ul li a{font-size: 16px;color:#87ba40;font-weight: normal;}
.blockgrisbas.vert ul li a small{color:#737b7f;}

.blockgrisbas.orange h2{color:#c79b35;text-align: left;padding-left: 20px;margin-top: 0px}
.blockgrisbas.orange ul li{margin: 5px 0px;}
.blockgrisbas.orange.large ul li{margin: 20px 0px;}
.blockgrisbas.orange ul li a{font-size: 16px;color:#c79b35;font-weight: normal;}
.blockgrisbas.orange ul li a small{color:#737b7f;}

	/*contenu principal*/

.mainContainer{overflow:auto; border-radius: 7px; color:#183548; ;border: 2px solid #929391;position: relative;}

.maincontainer{font-size: 1.5em;padding : 40px; padding-top: 0;overflow:auto; border-radius: 7px; color:#183548; ;border: 2px solid #929391;position: relative; box-sizing:border-box;}
.maincontainer h2{text-align:center; color:#183548;padding-bottom: 20px;}
.maincontainer h2:before{ color:#183548;content:'\f0E8';text-transform: none;font-family: 'Wingdings';position:relative;left: -20px;}
.maincontainer ul {font-size : 1em;}
.maincontainer ul > li:before{content:'\f061';font-family: 'Wingdings 3';position:absolute;left: 60px;color:#183548;}
.maincontainer .contenu p{font-size : 1em;}

.haut{overflow: hidden;margin-top:20px;}
.haut.rose h2{ color:#b81e57;font-size: 3em;margin-top:30px;text-transform: uppercase;font-weight: bold;}
.haut.rose h2.small{font-size: 2.3em;}
.haut.rose h2.fleche:before{content:'\f0E8';text-transform: none;font-family: 'Wingdings';position:relative;left: -20px;}
.haut.rose h3 {padding-left : 263px; color:#737b7f;}
.haut.rose ul {padding-left : 300px; font-size: 22px; color:#737b7f;}
.haut.rose ul li{margin-top:15px;}
.haut.rose ul li label:before{content:'\f061';font-family: 'Wingdings 3';position:relative;left: -20px;}
.haut img{ margin-left:-20px; float:left;}
.haut h2{ padding-left : 263px; text-align: center;margin-top : 70px;}
.haut p{ padding-left : 263px; text-align: left;color: #737b7f; font-size: 16px;padding-right: 20px;padding-top: 20px;}
.haut.rose a{ color:#b81e57;}
.contenu  {padding-top: 40px;}
.contenu > ul > li > label{text-align: left;color: #b81e57; font-size: 20px;padding-right: 20px;margin-left: 50px;padding-top: 10px;padding-bottom:0px;}
.contenu > ul > li > label:before{content:'\f061';font-family: 'Wingdings 3';position:absolute;left: 60px;color:#b81e57;}
.contenu p {text-align: left;color: #737b7f; font-size: 16px;padding-right: 0px;padding-left: 0px;padding-top: 0px;}
.contenu ul { padding:0px 40px; list-style-type: none;}
.contenu ul > li{margin: 20px 0px; color: #737b7f;}
.contenu ul > li:first-child{margin-top: 0px;}
.contenu ul > li:first-child label{margin-top: 0px;padding-top: 0;}
.contenu ul > li a{ font-weight: bold;color:#737b7f; font-size: 14px;}
.contenu ul > li > a:before{content:'\f061';font-family: 'Wingdings 3';position:absolute;left: 20px;color:#b81e57;}
.contenu ul > li > p a{font-size: 18px;color:#b81e57;}
.contenu ul > li ul li{font-size:16px; margin-top: 5px;margin-bottom: 5px;}
.contenu ul > li ul li:before{content:'\f06D';padding-right:15px;font-family: 'Wingdings';left: 40px;padding-left: 0px;color:#b81e57;}
.contenu ul > li ul li strong{color:#b81e57;}
.contenu .last{margin-bottom: 50px;}
.contenu .listavecmarge li{margin-bottom: 25px;}
.contenu p.rose { color:#b81e57;}
.contenu p.decalage{ padding-left: 60px;margin-top: -7px;}

ul.aveclogo{}
ul.aveclogo img{ margin-left:-140px; max-width : 120px;float:left; padding-top : 20px;}
ul.aveclogo > li { padding-left: 140px;}
ul.aveclogo > li > label { margin-left: 40px;}
ul.aveclogo > li > label:before { left: 180px;}


#salarie .haut.rose h2{ color:#482b63; margin-top:30px;margin-bottom:50px; font-weight: bold;}
#salarie ul li a:before {color:#482b63;}
#salarie .contenu label {color:#482b63;}
#salarie .contenu label:before {color:#482b63;}
#salarie .haut.rose a{color:#482b63;}
#salarie .haut.rose ul li:before{color:#482b63;}
#salarie .bandocouleur{background:#482b63; color:white;font-size: 36px;font-weight: bold;text-align: center;padding:0px;}
#salarie p.big{margin-top:50px;text-align: center;font-size:2em;}
#salarie p.big strong{color:#482b63; }
#salarie p.big a{color:#482b63; text-decoration:underline;}
#salarie .contenu ul li ul li:before{content:'\f061';padding-right:15px;font-family: 'Wingdings 3';left: 0px;color:#482b63;}
#salarie .contenu ul li ul li strong{color:#482b63;}
#salarie .contenu ul > li   a{color:#482b63;}

#entreprise .haut.rose h2{ color:#87ba40; margin-top:30px;margin-bottom:50px; font-weight: bold;}
#entreprise ul li a:before {color:#87ba40;}
#entreprise .contenu label {color:#87ba40;}
#entreprise .contenu label:before {color:#87ba40;}
#entreprise .haut.rose a{color:#87ba40;}
#entreprise .haut.rose ul li:before{color:#87ba40;}
#entreprise .bandocouleur{background:#87ba40; color:white;font-size: 36px;font-weight: bold;text-align: center;padding:0px;}
#entreprise p.big{margin-top:50px;text-align: center;font-size:2em;}
#entreprise p.big strong{color:#87ba40; }
#entreprise p.big a{color:#87ba40; text-decoration:underline;}
#entreprise .contenu ul li ul li:before{content:'\f061';padding-right:15px;font-family: 'Wingdings 3';left: 0px;color:#87ba40;}
#entreprise .contenu ul li ul li strong{color:#87ba40;}
#entreprise .contenu ul > li   a{color:#87ba40;}
#entreprise .contenu span.green{color:#87ba40;}

#partenaires .haut.rose h2{ color:#c79b35; margin-top:30px;margin-bottom:50px; font-weight: bold;}
#partenaires ul li a:before {color:#c79b35;}
#partenaires .contenu label {color:#c79b35;}
#partenaires .contenu label:before {color:#c79b35;}
#partenaires .haut.rose a{color:#c79b35;}
#partenaires .haut.rose ul li:before{color:#c79b35;}
#partenaires .bandocouleur{background:#c79b35; color:white;font-size: 36px;font-weight: bold;text-align: center;padding:0px;}
#partenaires p.big{margin-top:50px;text-align: center;font-size:2em;}
#partenaires p.big strong{color:#c79b35; }
#partenaires p.big a{color:#c79b35; text-decoration:underline;}
#partenaires .contenu ul li ul li:before{content:'\f061';padding-right:15px;font-family: 'Wingdings 3';left: 0px;color:#c79b35;}
#partenaires .contenu ul li ul li strong{color:#c79b35;}
#partenaires .contenu ul > li   a{color:#c79b35;}
#partenaires .contenu span.orange{color:#c79b35;}
#partenaires .contenu ul > li > a:before{content:'';}
#partenaires .contenu ul > li b a{text-decoration:underline; color:#737b7f;}



/* FOOTER */
.bando{height: 40px;background: #183548;color: #f3f3f3;}
.bando h5{ font-size: 20px; text-transform:uppercase; text-align: center;font-weight: bold;}
.bandoclient{    text-align: center; margin-top : 20px; margin-bottom : 20px;}
.bandoclient li{display:inline-block; margin:0px 10px;}
.bandoclient li img{width: 120px;}
.bandoclient li img.portrait{width: 60px;}
.bandoclient li img.portrait2{width: 90px;}
.bandoclient li img.longueur{width: 150px;}






/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.blockgrisgauche { height:280px;}
.blockgrisgauche.blockbleugris{ height : 400px;}
.blockgrisbas.rose{ height : 270px;}
.blockgrisbas.violet{ height : 270px;}
.blockgrisbas.vert{ height : 270px;}
.blockgrisbas.orange{ height : 270px;}
.blockgrisbas{background:#E1E1E1; height : 400px; }
.mainContainer{ height : 700px;}



}