<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Catégories de blog<a ui-sref=".add"><div class="btn  btn-primary pull-right"><i class="fa fa-plus fa-fw"></i> Ajouter une catégorie</div></a></h1>

    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div ui-view></div>
</div>
<div class="row">
    		<div class="col-md-8 col-lg-9">
        		<div class="panel panel-default">
            
	            	<div class="panel-body">
	                	<div class="col-md-8 col-md-offset-4 panel-heading-table">
		                    <form role="form" class="" >
		                        <div class="form-group input-group  col-md-6 pull-right">
		                            <form name="searchUser">

		                                <input type="text" class="form-control" ng-model="filter.slug" ng-blur="reload()">
		                                <span class="input-group-btn">
		                                    <button class="btn btn-default btn-search" type="submit" ng-click="reload()"><i class="fa fa-search"></i>
		                                    </button>
		                                </span>
		                            </form>
		                        </div>
		                       <!--  <div class="FilterBox pull-right form-group col-md-6 input-group ">
		        
		                            <div class="label label-primary pull-right"><i class="fa fa-graduation-cap fa-fw"></i> Admin <input type="checkbox" ng-model="filter.admin" ng-click="reloadUsers()"class="labelcheckbox" ng-model="userService.filter.admin" checked></div>
		                            <div class="label label-default pull-right"><i class="fa fa-user fa-fw"></i> User <input type="checkbox" ng-model="filter.user" class="labelcheckbox" checked ng-click="reloadUsers()"></div>
		                            <div class="label label-success pull-right"><i class="fa fa-user-plus fa-fw"></i> Membre <input type="checkbox" ng-model="filter.member" ng-click="reloadUsers()" class="labelcheckbox" checked></div>
		                        </div> -->
		                    </form>
		                </div>
		                <div class="table-responsive">
		                    <table class="table table-hover">
		                        <thead>
		                            <tr>
		                                <th><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('name ASC')" ng-class="{active: filter.order=='name ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('name DESC')" ng-class="{active: filter.order=='name DESC'}"></i> Nom</th>
		                                <th style="width:150px;" ><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('nbArticles ASC')" ng-class="{active: filter.order=='nbArticles ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('nbArticles DESC')" ng-class="{active: filter.order=='nbArticles DESC'}"></i> Nb Articles</th>
		                                <th style="width:100px;"><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('createdAt ASC')" ng-class="{active: filter.order=='createdAt ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('createdAt DESC')" ng-class="{active: filter.order=='createdAt DESC'}"></i> Crée en</th>
		                                <th style="width:100px;"></th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr ng-repeat="item in list" ng-dblclick="edit(item.id)">
		                                <td><label class="label label-default" style="color:{{item.textColor}};background:{{item.color}};">{{item.name}}</label></td>
		                                <td class="text-center">{{item.nbArticles}}</td>
		                                <td class="text-center">{{item.createdAt | date : 'MMMM yyyy'}}</td>
		                                <td>
		                                	<a ><removeremovetable action="remove" itemid="item.id"></removeremovetable></a>
		                                	<a ng-click="edit(item.id)"><div class="tablebtn btn btn-xs btn-primary pull-right"><i class="fa fa-edit fa-fw"></i></div></a>

		                                </td>
		                            </tr>
		                           
		                            
		                        </tbody>
		                    </table>
		                </div>
		               	<nav class=" col-xs-10">
			                 <pagination ng-change="pageChanged(page)" total-items="total" ng-model="filter.page" max-size="3" items-per-page="filter.perPage" class="pagination-sm pull-left" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
			                    <span class="totalTable pull-left"  ng-pluralize count="total"
			                        when="{'0': 'aucun résultats',
			                        'one': '1 résultat',
			                        'other': '{} résultats'}">
			                    </span>
			                </nav>
			               	<nav class=" col-xs-2">
			                    <span class=" pull-right totalTable" style="">par page</span>
							   <select class="form-control pull-right" ng-change="reload()" style="width: 80px;margin: 20px 0px;padding: 5px 10px;height: 30px;" ng-model="filter.perPage" name="perPage" >
			                                        <option value="10">10</option>
			                                        <option value="20">20</option>
			                                        <option value="50">50</option>
			                                        <option value="100">100</option>
			                                    </select> 
			                </nav>
					</div>
                <!-- /.table-responsive -->

				</div>
			</div>
			<div class="col-md-4 col-lg-3">

				<div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Nombre d'articles
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="chargement chargementGraph" style="" ng-if="loadingGraph2"> <i class="fa fa-user sorter fa-spinner fa-spin"></i></div>
                        <canvas id="doughnut" class="chart chart-doughnut" height="280px" colours='colors2' data="data2"
                            labels="labels2"></canvas> 
                    </div>
                <!-- /.panel-body -->
                </div>
    		</div>
            <!-- /.panel-body -->
</div>
        <!-- /.panel -->
        
        	


    </div>
</div>
<script type="text/javascript">

</script>