 <div class="modal fade newModalIngredient" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-vertical-centered">
    <div class="modal-content">
    	<h2>Ajouter un ingrédient au flux</h2>
    	<hr>
     	<form class="form" role="form" ng-submit="submitNew()">
            <div class="form-group col-xs-12">
            
               <select class="form-control input-lg" ng-model="ingredientid">
                  <option value="">Choisir un ingrédient</option>
                  <option ng-repeat="ingredient in ingredients" value="{{ingredient.id}}">{{ingredient.name}}</option>
                  
                </select>
            </div>
            <div class="rowbutton form-group col-xs-12">
              	<div class=" input-lg btn btn-danger btn-lg"  ng-click="exitNew()" data-toggle="modal" data-target=".newModalIngredient" value="Annuler">Annuler</div>
              	<input type="submit"  class="form-control input-lg btn btn-success btn-lg"   value="Ajouter">
            </div>
            
             <div class="clearfix"></div>
		</form>	
    </div>
  </div>
</div> 