 <div class="modal fade editModalLink" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-vertical-centered">
    <div class="modal-content">
    	<h2>Editer ce lien</h2>
    	<hr>
     	<form class="form" role="form" ng-submit="submitEdit()">
            <div class="form-group col-xs-12">
                <input type="text" name="title" class="form-control input-lg" ng-model="link.title" placeholder="Titre">
            </div>
            <div class="form-group col-xs-12">
                <input type="text" name="url" class="form-control input-lg" ng-model="link.url" placeholder="Url du lien:  http://">
            </div>
            <markdownpreview ng-model="link.description" handleerror="'description'" minheight="300" placehold="'Déscription en markdown (facultatif)'" />
            
            
			 <div class="rowbutton form-group col-xs-12">
			    	<div class=" input-lg btn btn-danger btn-lg"  ng-click="exitNew()" data-toggle="modal" data-target=".editModalLink" value="Annuler">Annuler</div>
			    	<input type="submit"  class="form-control input-lg btn btn-success btn-lg"   value="Ajouter">
			 </div>
            
             <div class="clearfix"></div>
		</form>	
    </div>
  </div>
</div> 