 <div class="modal fade editModalPrivatearticle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-vertical-centered">
    <div class="modal-content">
    	<h2>Editer cet article</h2>
    	<hr>
     	<form class="form" role="form" ng-submit="submitEdit()">
            <div class="form-group col-xs-12">
            
                <input type="text" name="title" class="form-control input-lg" ng-model="privatearticle.title" placeholder="Titre">
            </div>
            <markdownpreview ng-model="privatearticle.description" handleerror="'description'" minheight="300" placehold="'Déscription en markdown'" />
            
            
            <div class="rowbutton form-group col-xs-12">
              	<div class=" input-lg btn btn-danger btn-lg"  ng-click="exitEdit()" data-toggle="modal" data-target=".editModalPrivatearticle" value="Annuler">Annuler</div>
              	<input type="submit"  class="form-control input-lg btn btn-success btn-lg"   value="Ajouter">
            </div>
            
             <div class="clearfix"></div>
		</form>	
    </div>
  </div>
</div> 