<!-- <div class="" ng-if="!hideContent"> -->
<div class="row">
<div class="flux col col-lg-8 col-lg-offset-2">
	<div class="row">
		<div class="col col-xs-12">
			<h1>{{flux.title}}</h1>
			<div class="fluxinfo">
			<!-- <div class="messnumber"><span class="glyphicon glyphicon-comment"></span><span>{{flux.answers.length}}</span></div> -->
			</div>
			<!-- <div class="fluxcontent" ng-bind-html="{{flux.content}}"></div> -->
			<div class="fluxdescription" ng-bind-html="'{{flux.htmldescription}}'"></div>
		</div>
		
	</div>
</div>
<div class="row">
	<div class="col col-lg-8 col-lg-offset-2">

		<button class="retour btn btn-lg btn-info " ng-click="linkForum()"><span class="icon-angle-left"></span>Retour</button>
		<button  type="button" class="btn btn-primary " ng-click="addContent('link');" ><span class="icon-link"></span>Ajouter un lien</button>	
		<button  type="button" class="btn btn-primary " ng-click="addContent('privatearticle');" ><span class="icon-comment"></span>Ajouter un article</button>	<!-- 
		<button  type="button" class="btn btn-primary " ng-click="addContent('prez');" ><span class="icon-video"></span>Ajouter une présentation</button>	 -->
		<button  type="button" class="btn btn-primary " ng-click="addContent('fichier');" ><span class="icon-doc"></span>Ajouter un fichier</button>	
		<button  type="button" class="btn btn-primary " ng-click="addContent('ingredient');" ><span class="glyphicon glyphicon-cutlery"></span>Ajouter un ingrédient</button>	
	</div>
</div>	
<div class="fluxcontent col col-lg-8 col-lg-offset-2" ng-repeat="content in flux.contents | orderBy:'createdAt':true">
	<div class="row">
	<div class="buttonbar">
		<button type="button" ng-if="content.type != 'fichier' && content.type !='ingredient'" class="btn btn-primary btn-xs" ng-click="editContent(content.type,content.id);" ><span class="icon-link"></span>Editer</button>
		<removeremove class="" action="removeContent" itemid="content.id" ></removeremove>
	</div>
		<div style="" class="fakecol col col-xs-3">
			<div class="fluxcontentlogo" ng-switch="content.type">
				<div ng-switch-when="link" class="icon-link"></div>
				<div ng-switch-when="prez" class="icon-video"></div>
				<div ng-switch-when="privatearticle" class="icon-comment"></div>
				<div ng-switch-when="ingredient" class="glyphicon glyphicon-cutlery"></div>
				<div ng-switch-when="fichier" class="icon-doc"></div>
				
			</div>
			<div class="author">
				<img ng-if="content.owner.images[0]" ng-src="file/image/profilepicture/{{content.owner.images[0].filename}}"  width="100" height="100" alt="">
				<img ng-if="!content.owner.images[0]" ng-src="images/no-user.jpg"  width="100" height="100" alt="">
				<div class="authorname">
					<span ng-if="content.owner.name">{{content.owner.name}}</span>
		    		<span ng-if="!content.owner.name">Anonyme</span>
		    	</div>
			</div>
			<div class="date">le {{content.createdAt|date:'dd MMMM yyyy à HH:MM'}}</div>
		</div>
		<div ng-switch="content.type">
			
			<div ng-switch-when="link" class="col col-xs-9 col-xs-offset-3">
				<h3 class="" >{{content.link.title}}</h3>
				<div class="url" ><span class="icon-link"></span>{{content.link.url}}</div>
				<div class="" ng-bind-html="content.link.htmldescription | to_trusted"></div>
			</div>
			<div ng-switch-when="prez" class="col col-xs-9 col-xs-offset-3">
				<h3 class="" >{{content.prez.title}}</h3>
				<div class="" ng-bind-html="content.prez.htmldescription | to_trusted"></div>
			</div>
			<div ng-switch-when="privatearticle" class="col col-xs-9 col-xs-offset-3">
				<h3 class="" >{{content.privatearticle.title}}</h3>
				<div class="" ng-bind-html="content.privatearticle.htmldescription | to_trusted"></div>
			</div>
			<div ng-switch-when="ingredient" class="col col-xs-9 col-xs-offset-3">
				<h3 class="" >{{content.ingredient.name}}</h3>
				<div class="" ng-bind-html="content.ingredient.htmldescription | to_trusted"></div>
			</div>
			<div ng-switch-when="fichier" class="col col-xs-9 col-xs-offset-3">
				<h3 class="" >{{content.fichier.title}}</h3>
				<a href="file/fichier/{{content.fichier.path}}" target="_BLANK"><p>{{content.fichier.path}}</p></a>
				<p>{{content.fichier.size | bytes}}</p>
			</div>

		</div>
		<div class="nbFav" ng-if="content.nbFav">{{content.nbFav}}</div>
		
	</div>
</div>

<!-- 
<div class="newAnswerADD col col-lg-6 col-lg-offset-3">
	<h2 class="grey">Participer à la conversation</h2>
	<form class="form" role="form" ng-submit="submitAdd()">
            <markdownpreview ng-model="newAnswer.content" handleerror="'content'" minheight="300" placehold="'Contenu en markdown'" />
            
            
			 <div class="rowbutton form-group col-xs-12">
			    	<input type="submit"  class="form-control input-lg btn btn-success btn-lg"   value="Poster">
			 </div>
            
             <div class="clearfix"></div>
	</form>
</div> -->
	
</div>

<div ui-view="addlinkView"></div>
<div ui-view="editlinkView"></div>
<div ui-view="addprezView"></div>
<div ui-view="editprezView"></div>
<div ui-view="addprivatearticleView"></div>
<div ui-view="editprivatearticleView"></div>
<div ui-view="addingredientView"></div>
<div ui-view="addfichierView"></div>

<!-- </div> -->