<div class="row">
	<div class="col-xs-9">
		<button type="button" class="btn btn-info btn-xs" ng-click="linkadd();"><span class="glyphicon glyphicon-plus"></span>Ajouter</button>

		<button  type="button" class="btn btn-primary btn-xs" ng-show="totalChecked() === 1" ng-click="linkedit();" ><span class="glyphicon glyphicon-edit"></span>Editer</button>
		<button  type="button" class="btn btn-primary btn-xs" ng-show="totalChecked() === 1" ng-click="linkFlux();" ><span class="glyphicon glyphicon-edit"></span>Voir le contenu</button>
		<removeremove action="removeselected" ng-show="totalChecked()"></removeremove>
		<div  class="nbselected ">
			<ng-pluralize class="small"  count="totalChecked()"  when="{'0': 'Aucun flux séléctionné','1': '{{totalChecked()}} flux séléctionné','other': '{{totalChecked()}} fluxs séléctionnés'}" </ng-pluralize>
		</div>
	</div>
	<div class="col-xs-3 pull-right">
		<input type="search" class=" form-control input-sm" ng-model="slug" placeholder="Recherche . . ." />
		
	</div>
</div>


<table class="table table-striped">
	<thead>
		<tr>
	    	<th class="thsbox"><input type="checkbox" ng-model="allChecked" ng-click="toggleAllcheck()"></th>
	    	<th class="thtitle" ng-click="order ='title';reverse=!reverse; " style="cursor:pointer">Titre<span ng-show="order==='title' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='title' && reverse===true" class=" caret"></span></span></th>
	    	<th class="thdescription"style="cursor:pointer">Description</th>
	    	<th class="thdate" ng-click="order ='contents';reverse=!reverse; " style="cursor:pointer">Nb contenus<span ng-show="order==='contents' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='contents' && reverse===true" class=" caret"></span></span></th>
	    	<th class="thdate" ng-click="order ='createdAt';reverse=!reverse; " style="cursor:pointer">Date<span ng-show="order==='createdAt' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='createdAt' && reverse===true" class=" caret"></span></span></th>
		</tr>
	</thead>
	<tbody >
		
	    <tr ng-repeat="flux in fluxs | filter:fluxfilter | filter:getCat | orderBy:sortFunction:reverse " class="animate-repeat ligne" rel="{{flux.id}}"  >
	    		<td >
	    			<input type="checkbox" ng-model="flux.checked" >
	    		</td>
		    	<td ng-dblClick="linkFlux(flux.id)" class='pointer'>{{flux.title}}</td>
		    	<td ng-dblClick="linkFlux(flux.id)" class='pointer'>{{flux.description | limitTo : 55}}</td>
		    	<td ng-dblClick="linkFlux(flux.id)" class='pointer'>{{flux.nbContent}}</td>
		    	<td ng-dblClick="linkFlux(flux.id)" class='pointer'>{{flux.createdAt | date:'dd MMMM'}}</td>
		    	
	    	
	    </tr>
	    
	</tbody>
</table>
<!---->
<div ui-view="editfluxsView"></div>
<div ui-view="editimagesfluxsView"></div>
<div ui-view="addfluxsView"></div>

