<div class="haut rose">
	<img src="images/recrut.png" alt="">
	<h2 class="fleche">Appui au recrutement</h2>
	<p>Le recrutement d’un nouveau collaborateur constitue une phase déterminante pour une entreprise et représente un investissement en temps, non négligeable.</p>
	<p>
	La Maison de l’Emploi, en étroite collaboration avec le  Pôle Emploi, met en place un process permettant aux entreprises de bénéficier d’une offre de services adaptée à vos besoins.
	</p>
</div>
<div class="contenu">
	
	<ul>
		<li><p>Cette ingénierie favorise l’emploi local. <br>
	Elle élabore, structure et suit l’ensemble du processus de recrutement et coordonne tous les acteurs de l’emploi. Il s’agit de :</p></li>
		<li>
			<ul>
				<li>Rencontrer l’entreprise pour l’identification des besoins,</li>
				<li>Identifier le process Ressources Humaines,</li>
				<li>Identifier un interlocuteur privilégié,</li>
				<li>Conseiller sur l’élaboration du profil de poste (soutien aux TPE),</li>
				<li>Aider à la rédaction des annonces (soutien aux TPE),</li>
				<li>Diffuser les offres via le Pôle Emploi et le site internet de la Maison de l’Emploi,</li>
				<li>Organiser des évènements sur l’ensemble du territoire (job dating, forum, information collective...)</li>
				<li>Elaborer un kit de communication : affiches, flyers, relation presse locale,</li>
				<li>Organiser des ateliers de préparation des publics,</li>
				<li>Adapter et mobiliser si nécessaire les outils et dispositifs d’aide à l’embauche en fonction des besoins identifiés,</li>
				<li>Préselectionner et positionner les candidats,</li>
				<li>Evaluer.</li>
			</ul>
		</li>
		<li>
			<p>L’ensemble des partenaires/prescripteurs est associé à la démarche pour la mobilisation du public. L’objectif est de privilégier les chercheurs d’emploi du territoire.</p>
			<p><strong>Si vous souhaitez participer à l'un ou plusieurs de ces modules, contactez <span class="green">Mylène LEFEVRE</span> au 01 60 09 84 83 ou par mail : <a href="mailto:m.lefevre@mdene77-mlidf.org">m.lefevre@mdene77-mlidf.org</a></strong></p>
		</li>
	</ul>
</div>
