

<div class="haut rose">
	<img src="images/services.png" alt="">
	<h2 >Autres services</h2>
	<p>La Maison de l'Emploi et de la Formation Nord-Est 77 travaille en partenariat avec de nombreuses structures dédiées à l'accompagnement des salariés afin de vous proposer un suivi complet et de vous aider au mieux dans la concrétisation de votre projet professionnel.
	</p>
	<p>
Quelque soit votre projet, vous pouvez être amené(e) à contacter certaines de ces structures. Pour vous aider, voici la liste de leurs services et leurs coordonnées.</p>

</div>
<div class="contenu">
	<ul>
		<li><label for="">ACMS</label>
			<p>Créée le 9 mai 1945, l'ACMS est un service interentreprises de santé au travail qui intervient sur les huit départements d'Île-de-France. Son siège est situé à Suresnes (Hauts-de-Seine). Afin d'exercer au mieux sa mission - "Éviter toute altération de la santé des travailleurs du fait de leur travail" - l'ACMS dispose d'une centaine de centres médicaux (fixes et mobiles), à proximité de ses adhérents. </p>
			<p>Ses équipes pluridisciplinaires, animées et coordonnées par les médecins du travail, sont composées d'infirmiers, secrétaires et assistants médicaux, assistants en santé travail, ergonomes, psychologues en santé au travail, techniciens et ingénieurs chimie et HSE (hygiène-sécurité-environnement)... auxquels s’ajoutent des assistants de service social. Depuis la création de l'ACMS, le service social est en effet totalement intégré à l'activité de terrain.</p>
			<p>Employeurs et salariés peuvent ainsi bénéficier, à proximité, d'une gamme complète de services – médicaux, techniques et sociaux – dans une approche globale de la santé au travail. <br>
			<strong>Contact : 01 46 14 84 00 <br>
			55, rue Rouget de Lisle 92158 Suresnes Cedex <br>
			www.acms.asso.fr</strong>
			</p>
		</li>
		<li>
			<label for="">Le CAVA <small>( Le Centre de Validation des Acquis )</small></label>
			<p>il vous aide à : </p>
			<ul>
				<li>cibler le diplôme de l’éducation nationale en adéquation avec votre expérience 		    (étude personnalisée et gratuite de la demande).</li>
				<li>valider la recevabilité de votre demande.</li>
				<li>constituer votre dossier de VAE.</li>
			</ul>
			<p>Il accompagne la préparation à la présentation de votre expérience devant le jury, tant à l’écrit qu’à l’oral.
L’accompagnement est réalisé par des spécialistes (plus de 300 experts de l’éducation nationale et analystes du travail). Enfin, il vous aide à trouver le financement de l’accompagnement correspondant à votre statut. <br>
Permanence : Tous les lundis, mardis toute la journée (9h30-12h / 13h30-17h) et tous les mercredis, jeudis et vendredis matin de 9h à 12h30 à la Maison de l’Economie et de l’Emploi, 12 Boulevard Jean Rose à Meaux. <br>
<b>Contact : 01 60 25 66 65</b></p>
		</li>
		<li>
			<label for="">LE CIBC77 (Centre Inter-institutionnel de Bilans de Compétences)</label>
			<p>C’est un organisme public (8 sites dans le 77), référent et précurseur dans
			le champ de l’orientation professionnelle. Le Bilan de compétences intéresse toute personne qui s’interroge sur son devenir professionnel : Evolution de carrière, reconversion, mobilité interne, changement professionnel... <br>
			<b>Siège : 4 sites (Meaux, Noisiel, Serris et Melun)</b><br>
			<b>Un seul numéro de téléphone : 01 82 47 40 00</b><br>
			<b>Email : cibc77@forpro-creteil.org</b><br>
			</p>
		</li>
		<li>
			<label for="">LA CRAMIF (Caisse Régionale d’Assurance Maladie d’Ile de France)</label>
			<p>Représentation régionale du réseau prévention de l’Assurance Maladie – Risques Professionnels, la Cramif est un assureur privé à vocation sociale, gérée paritairement, qui a notamment pour mission de développer, coordonner et mettre en oeuvre la politique de prévention des risques professionnels visant à préserver la santé et à améliorer la sécurité des salariés dans les entreprises du régime général. <br>
			Dans ce cadre, la CRAMIF mène des actions d’information, de formation, de recherche. Elle exerce des activités de conseil et de contrôle et peut attribuer des incitations financières aux entreprises. <br> 
			<b>Siège : 4 sites (Meaux, Noisiel, Serris et Melun)</b><br>
			<b>Un seul numéro de téléphone : 01 64 87 02 60</b><br>
			<b>Email : antenne77.prevention@cramif.cnamts.fr</b><br>
			</p>
		</li>
		<li>
			<label for="">GDE 77</label>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat vulputate dolor, molestie lacinia arcu auctor vel. Nam eu eleifend metus. Maecenas sit amet tellus euismod, tristique ligula in, cursus elit. Ut non interdum nulla, non vestibulum elit. Sed hendrerit sapien ut neque tristique convallis. Integer auctor eget sem eu hendrerit. Duis leo enim, accumsan vitae rutrum quis, rhoncus ac felis. <br>
			<b>Permanence : Tous les mercredis sur rendez-vous à la Maison de l’Emploi et de la Formation Nord-Est 77 au 12 boulevard Jean Rose à Meaux.</b><br>
			<b>contact :</b><br>
			</p>
		</li>
		<li>
			<label for="">MDPH (Maison Départemantale des Personnes Handicapées)</label>
			<p>Elle exerce au niveau du Département « une mission d’accueil, d’information, d’accompagnement et de conseil pour les personnes handicapées et leurs familles ». <br>
			<b>Contact :  01 64 19 16 65</b><br>
			</p>
		</li>
		<li>
			<label for="">MJD (Maison de la Justice et du Droit)</label>
			<p>C’est un lieu où vous pouvez bénéficier gratuitement et en toute confidentialité d’un accueil, d’une écoute, d’une information sur vos droits (droits du travail, de la famille, du logement,…) et vos obligations. <br>
			<b>Contact : 01 60 41 10 80</b><br>
			<b>MJD - Allée Jean-Louis Barrault - 77100 Meaux</b><br>
			</p>
		</li>
		<li>
			<label for="">SIMT (Santé et prévention au travail)</label>
			<p>C’est une association à but non lucratif (loi 1901) qui existe depuis 1953. C’est un service de médecine et santé au travail. Si votre employeur est adhérent SIMT, connectez-vous sur le site www.simt.fr pour trouver votre centre de proximité. <br>
			<b>Contact : 0811 11 77 77</b><br>
			</p>
		</li>
	</ul>
</div>






