<div class="haut rose">
	<img src="images/chercheemploi.jpg" alt="">
	<h2 class="fleche">Vous êtes <br>chercheur d'emploi ?</h2>
	<p>La Maison de l’Emploi n’a pas vocation à accompagner du public sauf dans le cadre de dispositifs spécifiques comme le <a href="templates/defi.html" class="ajax">Défi 50</a>. Son rôle est d’identifier votre demande et vos besoins afin de vous orienter vers les partenaires les plus à même d’y répondre.</p>
</div>
<div class="contenu">
	<ul>
		<li><p>Elle agit également dans le domaine de la levée des freins à l’emploi :</p></li>
		
		<li><a href="">La mobilité</a></li>
		<li><a href="">La création d'ateliers collectifs thématiques</a></li>
		<li><a href="">La lutte contre la fracture numérique</a></li>
		
	</ul>
	
	
</div>