
<div class="haut rose">
	<img src="images/social2.png" alt="">
	<h2 class="fleche">Clauses sociales</h2>
	<p>La clause d’insertion sociale s’inscrit dans le cadre d’un marché public de travaux, de services, ou de fournitures, et a pour but de favoriser l’accès à l’emploi des personnes rencontrant des difficultés socioprofessionnelles.
	</p>
	<p>
	Le facilitateur anime le partenariat local, et contribue à l’élaboration de l’offre d’insertion et de sa mise en oeuvre. 
	</p>
</div>
<div class="contenu">
	<ul>

		<li><label for="">Au service des donneurs d’ordre, le facilitateur :</label>
			<ul>
				<li>Aide au repérage des marchés pouvant intégrer une clause sociale,</li>
				<li>Aide au choix des articles du code des marchés publics les mieux adaptés,</li>
				<li>Aide à définir le volume des engagements attendus des entreprises en matière d’insertion,</li>
				<li>Evalue et suit la démarche d’insertion.</li>
			</ul>
		</li>
		<li><label for=""> Au service des entreprises, le facilitateur :</label>
			<ul>
				<li>Analyse le besoin de l’entreprise et définit le poste,</li>
				<li>Elabore et propose une offre d’insertion,</li>
				<li>Repère et mobilise les publics répondant aux compétences requises,</li>
				<li>Suit la réalisation des engagements pris par l’entreprise.</li>
			</ul>
			<p>
				Deux facilitatrices sont à votre disposition sur le territoire de la Maison de l’Emploi et de la Formation Nord-Est 77. 
			</p>
			<p>Sur la Communauté d’Agglomération du Pays de Meaux : <br>
			Vous pouvez contacter <span class="green">Najette REZEG</span> au 01 83 69 01 88 ou par mail : <a href="mailto:najette.rezeg@meaux.fr">najette.rezeg@meaux.fr</a></p>
			<p>Sur les autres territoires : <br> 
			Vous pouvez contacter <span class="green">Arminda PINHEIRO</span> au 01 60 09 84 83 ou par mail : <a href="mailto:a.pinheiro@mdene77-mlidf.org">a.pinheiro@mdene77-mlidf.org</a></p>
		</li>
	</ul>
</div>
