<div class="haut rose">
	<img src="images/cope2.png" alt="">
	<h2 class="fleche">LE CONTRAT OPERATIONNEL <br>POUR L’EMPLOI (COPE)</h2>
	<p>Créé en 2009 par Jean-François COPÉ en collaboration avec le Directeur Général de Pôle Emploi, le Contrat Opérationnel Pour l’Emploi (COPE) vise à infléchir la courbe du chômage par la mise en place d’actions ciblées et de préparer la réussite des implantations économiques du territoire.
	</p>
</div>
<div class="contenu">
	
	<ul>
		<li><p>Il a pour vocation de : </p>
			<ul>
				<li>
					Réunir l’ensemble des acteurs économiques et de l’emploi au sein d’un guichet unique situé à Meaux : la Maison de l’Economie et de l’Emploi,
				</li>
				<li>Agir en faveur du développement économique du territoire et apporter des réponses aux besoins en recrutement des entreprises,</li>
				<li>Amplifier les actions d’insertion en faveur des publics à la recherche d’un emploi, notamment les jeunes, les séniors et les femmes.</li>
			</ul>
		</li>
		<li><p>Le Contrat Opérationnel  Pour l’Emploi mobilise la totalité des acteurs impliqués sur le territoire, avec l’engagement fort de la Communauté d’Agglomération du Pays de Meaux et des Communautés de Communes des Pays fertois, Pays de l’Ourq, Pays Créçois et des Monts de la Goële.</p></li>
		<li><p>Les différentes actions réalisées depuis 2009 ont permis de souder durablement le travail partenarial, même s’il reste toujours des marges de progrès en la matière.</p></li>
		<li><p>Un COPE 2ème génération a été signé en 2014 visant à approfondir et intensifier les collaborations initiées par le Pôle Emploi local, la Maison de l’Emploi et son département Mission Locale.</p></li>
		<li><p>Il est recentré autour de 10 actions avec des objectifs quantitatifs et qualitatifs mesurables. Il s’appuie sur un diagnostic territorialisé qui permet d’identifier et de mesurer les atouts et les faiblesses du territoire, les niches d’emplois et les filières d’activités stratégiques (pour en savoir plus, cliquez <a href="#">ici</a>). Il a également pour vocation d’expérimenter de nouvelles modalités de mise en oeuvre des politiques publiques de l’emploi.</p></li>
		<li><p>Il s’inscrit notamment dans le cadre du plan d’aménagement du parc d’activités du Pays de Meaux, qui constitue un véritable poumon économique sur le territoire, en générant des milliers d’emplois. Les entreprises et les habitants du territoire doivent être les principaux bénéficiaires des actions menées.</p></li>
	</ul>
</div>