<div class="haut rose">
	<img src="images/pro.png" alt="">
	<h2 class="fleche">Vous êtes <br>un employeur ?</h2>
	<p>La Maison de l’Emploi et de la Formation Nord-Est 77 œuvre pour développer des actions fortes en matière d’emploi, d’insertion, de recrutements locaux et de soutien aux dirigeants. <br>Ce service a pour ambition de vous offrir de nouveaux outils, en étroite collaboration avec nos partenaires.
	</p>
</div>
<div class="contenu">
	
	<ul>
		<li><p>L’équipe est à votre disposition pour vous accompagner et répondre à vos besoins. <br>
			N’hésitez pas à nous solliciter !</p>
		</li>
		
	</ul>
</div>