<div class="haut rose">
	<img src="images/informatique.png" alt="">
	<h2 class="fleche">ESPACE INFORMATIQUE</h2>
	<p>
		Tout au long de l’année, la Maison de l’Emploi vous propose des ateliers pour vous aider dans votre recherche d’emploi.
	</p>
	
</div>

<div class="contenu">
	<ul>
		<li><label for="">Ateliers collectifs</label>
			<p>Dans le cadre de notre mission de lutte contre la fracture numérique, nous vous proposons une initiation à l’informatique et internet, et une initiation au logiciel Word appliqué à la création d’un CV.</p>

			<ul>
				<li><label for="">Atelier d’initiation à l’informatique</label>
					<p>Une session par mois (voire deux selon la demande), composée de 3 modules obligatoires d’une matinée (de 9h15 à 12h15). <br>
					<b>Module 1 : Prise de connaissance avec l’ordinateur <br></b>
					<b>Module 2 : Initiation à Internet <br></b>
					<b>Module 3 : Gmail (Création et utilisation d’une boîte mail) <br></b>
					</p>
					
					<p>Public visé : Tous les demandeurs d’emploi, ou salariés qui souhaitent s’initier à l’informatique.</p>
					<p>Pré-requis : Savoir lire et écrire.</p>
					<p>Inscription obligatoire.</p>
					
				</li>
				<li><label for="">Atelier d’initiation au logiciel Word</label>
				<p>Une session par mois (voire deux selon la demande), composée de 2 modules obligatoires d’une matinée (de 9h15 à 12h15). <br>
					<b>Module 1 : Prise de connaissance avec l’ordinateur <br></b>
					<b>Module 2 : Découverte du logiciel <br></b>
					<b>Module 3 : Création d’un modèle de CV. <br></b>
					</p>
					<p>
						<p>Public visé : Tous les demandeurs d’emploi, ou salariés qui souhaitent s’initier à un logiciel de traitement de texte (création d’un document texte, exemple : CV). </p>
						<p>Pré-requis : Avoir participé à l’atelier d’initiation à l’informatique au préalable ou avoir des bases en informatique (savoir utiliser la souris et le clavier, connaître les caractères spécifiques sur le clavier, exemple : @, €, parenthèses, guillemets, chiffres... avoir une adresse mail et savoir envoyer des pièces jointes). </p>
						<p>Inscription obligatoire. </p>
						<p class="rose">Ces ateliers sont à destination des débutants, il ne s’agit pas d’un perfectionnement, seulement d’une initiation. Nous n’abordons pas le logiciel EXCEL.
						</p>
					</p>
				</li>
			</ul>
		</li>
		<li>
			<label for="">Centre associé Place des Métiers/Cité des Métiers 77</label>	
		 	<p>
				Vous êtes demandeur d’emploi, jeune ou salarié en reconversion et vous vous questionnez sur votre avenir professionnel ? <br>
				Nous vous proposons un lieu unique pour y répondre, composé de 3 pôles : 
		 	</p>
		 	<ul>
		 		<li>Choisir son orientation</li>
		 		<li>Changer sa vie professionnelle</li>
		 		<li>Trouver un emploi</li>
		 	</ul>
		 	<p>
				La Maison de l’Emploi et de la Formation Nord-Est 77 est accréditée « Centre associé Place des Métiers/Cité des Métiers de Seine-et-Marne » depuis Janvier 2011.
		 	</p>
		 	<ul>
		 		<li><b>Un conseil personnalisé</b><br>
		 			Vous serez accueilli(e) pour bénéficier de conseils personnalisés en fonction de votre demande : découverte des métiers, formation ou recherche d’emploi.
		 		</li>
		 		<li><b>Des manifestations sur des secteurs d’activités</b><br>
		 		Tout au long de l’année, vous pourrez rencontrer des professionnels, et des centres de formations qui vous feront découvrir leurs métiers.</li>
		 		<li><b>Un panel d’outils</b><br>
	       			- Ressources documentaires numériques, <br>
	       			- Ateliers «d’aide à l’orientation et découverte des métiers» <br>
	       			- Informations collectives <br>
		 		</li>
		 		<li><b>Un accès libre</b><br>
				Vous pouvez bénéficier de conseils personnalisés, consulter la documentation numérique et accéder à Internet, tous les mardis, mercredis et jeudis de 14h à 16h45 à la Maison de l’Economie et de l’Emploi au 12, boulevard Jean Rose à Meaux.
		 		</li>
		 	</ul>
		 	<p><b>Pour plus de renseignements, n’hésitez pas à nous contacter au 01 60 09 84 83.</b></p>
		</li>
        <li>
        	<label for="">Inforizon</label>
        	<p>
			Vous vous questionnez sur votre avenir professionnel, vous pensez à une reconversion ? Inforizon est fait pour vous.
			Ce logiciel vous permet de répondre à deux questionnaires sur vos centres d’intérêts en faisant abstraction de vos compétences, afin de vous proposer une liste de métiers susceptibles de vous intéresser en fonction de votre niveau d’études. 
			Vous pouvez également consulter les portraits de familles, de sous-familles de métiers et les fiches métiers pour en découvrir plus sur le ou les métiers qui vous intéressent. <br>
			Vous avez aussi la possibilité d’imprimer les résultats de vos tests. <br>
			<b>Inscription obligatoire. Possibilité de réserver pour des groupes.</b> <br>
			<b>Contactez Joanna CASACA au 01 60 09 84 83 ou par mail: j.casaca@mdene77-mlidf.org</b>
        	</p>
        </li>    

	</ul>
</div>