<div class="haut rose">
	<img src="images/chercheemploi.jpg" alt="">
	<h2 class="fleche">Formations</h2>
	<p>
		Vous souhaitez vous engager dans une formation pour faciliter votre recherche d’emploi ?
	</p>
	<p>
	Vous y trouverez des solutions pour vous former tout en travaillant, grâce aux contrats en alternance. 
	</p>
	<p>
		Vous pourrez vous informer sur les diverses solutions existantes dans le cadre de la formation tout au long de la vie. 
	</p>
	<p>
		Vous découvrirez également la différence entre une formation diplômante, qualifiante et un titre professionnel. 
	</p>
</div>
<div class="contenu">
	<ul>
		<li><label for="">Les Contrats en alternance</label>
			<p>Les formations en alternance (contrat d’apprentissage ou contrat de professionnalisation) sont des filières de formation initiale, gratuites et rémunérées, dispensées en alternance entre une entreprise et un centre de formation. Elles débouchent sur un véritable diplôme, de niveau identique à celui délivré par une formation classique.</p>
		</li>
		<li><label for="">Le contrat d'apprentissage</label>
			<p>Il permet aux jeunes de moins de 26 ans d’acquérir dans le cadre d’un contrat à durée déterminée, une qualification professionnelle délivrée par un diplôme de l’enseignement professionnel ou technologique. <br>
			Durant la formation, vous aurez un double statut : celui de salarié en CDD (pour une durée allant de 1 à 3 ans selon la nature du diplôme préparé) et celui d'étudiant. Vous serez rémunéré à hauteur d'un pourcentage du SMIC ou du minimum conventionnel (de 25% à 78% selon votre âge et l'année d'exécution du contrat).</p>
		</li>
		<li><label for="">Le contrat de professionnalisation</label>
			<p>C’est un contrat de formation en alternance à durée déterminée ou indéterminée, associant des enseignements généraux, professionnels et technologiques dispensés dans des organismes publics ou privés de formation, et l’acquisition d’un savoir-faire par l’exercice en entreprise d’une ou plusieurs activités professionnelles en relation avec les qualifications recherchées.
			<br>
		Le contrat de professionalisation s'adresse à tous les jeunes de moins de 26 ans et aux demandeurs d'emploi de plus 26 ans. Durant la formation, vous aurez un statut de salarié en CDD ou CDI. Si vous avez moins de 26 ans, vous serez rémunéré en pourcentage du SMIC selon votre âge et votre niveau de qualification. Si vous avez plus de 26 ans, vous percevrez une rémunération qui ne peut être ni inférieure au SMIC ni à 85% du salaire minimum conventionnel. <br>
		Contrairement au contrat d'apprentissage, le contrat de professionnalisation ne débouche pas obligatoirement sur un diplôme ou un titre professionnel.</p>
			
		</li>
		<li><label for="">La Formation Continue</label>
			<p>Pour vous qui souhaitez vous former pour développer de nouvelles compétences, mener à bien votre projet professionnel ou anticiper les évolutions du marché du travail, la formation tout au long de la vie vous offre diverses solutions.</p>
			<ul>
				<li>
					<strong>La formation à distance ou par correspondance</strong>
					<p>La formation à distance ou e-learning (comme on l'appelle aujourd'hui) peut utiliser divers médias : la voie postale, le téléphone, et le plus souvent Internet. Elle s'adresse à tout public. Il n' y a pas de statut particulier, vous gardez celui que vous avez au moment de l'entrée en formation. Certains organismes comme le Conseil Régional, AGEFIPH... peuvent prendre en charge (entièrement ou partiellement) le financement de la formation.</p>
				</li>
				<li>
					<strong>La formation professionnelle</strong>
					<p>Elle s’adresse à tous : des jeunes de 16 ans jusqu’aux adultes, salariés ou non, en recherche de qualification. Elle privilégie l’acquisition d’un savoir-faire professionnel, mais ne reprend pas toujours l’ensemble des disciplines générales. Une rémunération est possible en fonction de votre situation au moment de l'entrée en formation. Certains organismes comme le Conseil Régional, le Conseil Général, Pôle Emploi, le Fongecif, AGEFIPH... peuvent prendre en cha
				<li>
					<strong>La Validation des Acquis de l'Expérience (VAE)</strong>
					<p>La VAE vous permet d’acquérir tout ou partie d’un diplôme ou toute certification en faisant valider votre expérience professionnelle. Elle permet d’accéder directement à un cursus de formation sans justifier du niveau d’études ou du diplôme requis. Elle s'adresse à tout public justifiant d'une activité salariée ou non (en rapport avec le titre ou la formation visée) sur une durée minimum de 3 ans. Certains organismes comme la Région Ile-de-France, Pôle Emploi au titre du chéquier VAE, le Fongecif, AGEFIPH, OPCA ... peuvent prendre en charge (entièrement ou partiellement) le financement de la formation.</p>
				</li>
			</ul>
		</li>
		<li><label for="">Les qualifications</label>
			<ul>
				<li>
					<strong>La formation diplômante</strong>
					<p>Elle débouche sur un diplôme d’Etat : BTS, Licence ou Master d’université, diplôme d’ingénieur ou de commerce</p>
				</li>
				<li>
					<strong>La formation qualifiante</strong>
					<p>Elle permet d’attester que vous avez acquis une compétence professionnelle. Elle ne débouche pas forcément sur un titre, mais peut être reconnu par une branche professionnelle via un Certificat de Qualification Professionnelle (CQP).</p>
				<li>
					<strong>Le titre professionnel</strong>
					<p>Il peut être délivré par le Ministère de l’Economie, de l’Industrie et de l’Emploi dans le cadre d’une formation initiale ou d’une spécialisation pendant votre vie professionnelle</p>
				</li>
			</ul>
		</li>
		
	</ul>
</div>
