<div class="haut rose">
	<img src="images/structure2.png" alt="">
	<h2 class="fleche">LEs STRUCTURES De <br>l’INSERTION PAR L’activité <br>économique (i.a.e)</h2>
	<p>Les structures de l’Insertion par l’Activité économique (IAE) s’adressent aux personnes les plus éloignées de l’emploi, qui rencontrent des difficultés sociales et professionnelles particulières telles que l’âge, l’état de santé, la précarité... </p>
	<p>Elles ont pour mission de faciliter l’insertion professionnelle de leurs bénéficiaires par le biais d’un accompagnement renforcé.</p>
</div>
<div class="contenu">
	
	<ul>
		<li><p>Sur notre territoire, il existe 7 structures d’insertion par l’activité économique : </p>
		</li>
		<li><label for="">CARED (Cellule d’Aide à la Recherche d’Emploi pour les plus Défavorisés)</label>
			<p>C’est une association intermédiaire qui a pour but de faciliter l'insertion professionnelle de personnes sans emploi rencontrant des difficultés particulières. Elle propose des contrats de travail visant la mise à disposition auprès de particuliers, d'organismes non marchands ou d'entreprises.</p>
			<p><b>Contact : 9, allèe des Bruyères 77100 Meaux</b></p>
			<p><b>Tél : 01 64 35 24 00 - Site web : <a href="http://cared-asso.fr">http://cared-asso.fr</a></b></p>
			
		</li>
		<li><label for="">Centre social du Pays fertois</label>
			<p>Agréé par la CAF de Seine et Marne et en lien étroit avec la Communauté de Communes du Pays Fertois, le Centre Social a pour but de créer et conduire tout projet d'ordre social, culturel, éducatif et familial en faveur de l'ensemble de la population des 19 communes du Pays Fertois.</p>
			<p>Dans le domaine de l'emploi, le centre social du Pays fertois gère un chantier d'insertion par l'activité économique dénommé «Les contrats verts». Le but de ce chantier est de donner l'occasion à des personnes éloignées de l'emploi sous forme de contrats aidés d'exercer une activité professionnelle. Parallèlement, elles bénéficient d'un accompagnement en vue de retrouver un emploi durable.</p>
			<p><b>Contact : 20, rue Ampère 77334 Meaux Cedex</b></p>
			<p><b>Tél : 01 60 22 19 19</b></p>
		</li>
		<li><label for="">Germinale</label>
			<p>C’est une association d'insertion qui a pour but de créer et porter des actions d'insertionpour le compte de la ville de la Ferté sous Jouarre et de la Communauté d’Agglomération du Pays de Meaux.</p>
		</li>
		<li><label for="">HORIZON</label>
			<p>C’est une association d’insertion qui intervient sur 4 domaines de compétences : l’emploi, la formation, la justice, et l’hébergement. Elle possède 2 chantiers d'insertion ressourcerie (collecte, valorisation, réemploi, sensibilisation) et 2 chantiers d'insertion nature (entretien d'espaces verts, maraîchage) permettant de remettre à l’emploi des personnes qui en sont éloignées.
			</p>
			<p><b>Contact : 17bis, rue de reuil 77260 La Ferté sous Jouarre</b></p>
			<p><b>Tél : 01 60 09 93 93 - Site web : <a href="http://horizon-77.com">http://horizon-77.com</a></b></p>
		</li>
		<li><label for="">INITIATIVES 77</label>
			<p>Agence d’insertion qui intervient pour le compte du Conseil Départemental majoritairement auprès d'un public allocataire du RSA (90%) sur plusieurs champs : l’emploi (chantiers d'insertion diplômants et professionnalisants , aide à la création d'entreprise), la formation, le logement et d’autres missions dont la mise en oeuvre de la clause d’insertion sociale pour les marchés du Département.
			</p>
			<p><b>Contact : 12, rue Aristide Briand 77100 Meaux</b></p>
			<p><b>Tél : 01 60 44 06 66 - Site web : <a href="http://www.initiatives77.org">http://www.initiatives77.org</a></b></p>
		</li>
		<li><label for="">PRO EMPLOI INTÉRIM</label>
			<p>Faciliter l'insertion professionnelle de personnes rencontrant des difficultés particulières au moyen de la conclusion de contrats de travail temporaires.
			</p>
			<p><b>Contact : 26, rue des Frères Lumière 77100 Meaux</b></p>
			<p><b>Tél: 01 60 32 14 09- Site web : <a href="http://www.pro-emploi-interim.fr">http://www.pro-emploi-interim.fr</a></b></p>
		</li>
		<li><label for="">Régie du PAYS DE MEAUX</label>
			<p>Régie de Quartier (association loi 1901à but non lucratif) qui intervient principalement sur la commune de Meaux et son agglomération. Elle favorise l’accès à l'emploi de ses habitants et des personnes pouvant relever d'un accompagnement social et professionnel à travers des chantiers d’insertion.
			</p>
			<p><b>Contact : 9, allée des Bruyères 77100 Meaux</b></p>
			<p><b>Tél : 01 60 09 64 37 - Site web : <a href="http://www.regiedupaysdemeaux.fr">http://www.regiedupaysdemeaux.fr</a></b></p>
		</li>

	</ul>
</div>



