<div class="col-md-6 pl0 refheight2">
	<div class="blockgrisbas orange">
		<h2>Liens Utiles</h2>
		<ul>
			<li><a href="http://www.fongecif-idf.fr/">http://www.fongecif-idf.fr/</a></li>
			<li><a href="http://www.uniformation.fr/">http://www.uniformation.fr/</a></li>
			<li><a href="http://www.moncompteformation.gouv.fr/">http://www.moncompteformation.gouv.fr/</a></li>
			<li><a href="http://www.siteweb.fr">http://www.siteweb.fr</a></li>
			<li><a href="http://www.siteweb.com">http://www.siteweb.com</a></li>
			<li><a href="http://www.siteweb.fr">http://www.siteweb.fr</a></li>
			<li><a href="http://www.siteweb.com	">http://www.siteweb.com</a></li>
		</ul>
	</div>
</div>
<div class="col-md-6 pr0">
	
	<div class="blockgrisbas orange large">
		<h2>Documentation</h2>
		<ul>
			<li><a href="">Défi 50 </li>
			<li><a href="">Newsletter mensuelle de la Plateforme RH <br><small>Téléchargez la fiche descriptive</small></li>
			<li><a href="">Tableau de bord trimestriel <br><small>Téléchargez la fiche descriptive</small></li>
		</ul>
	</div>
</div>