<div class="haut rose">
	<img src="images/partena.png" alt="">
	<h2 class="fleche">Nos partenaires</h2>
	<p>La Maison de l’Emploi assure la coordination des  acteurs de l’emploi et de la formation et du développement économique.</p>
	<p>Elle s’appuie sur l’adhésion de chacun des acteurs pour répondre aux enjeux et besoins du territoire.</p>
</div>
<div class="contenu">
	
	<ul>
		<li><p>A ce jour, nous comptons parmi nos partenaires : </p></li>
		<li>
			<label for=""></label>
			<p class="decalage">Les acteurs du développement économique, de l’emploi et de la formation,</p>
		</li>
		<li>
			<label for=""></label>
			<p class="decalage">Les associations de chefs d’entreprises et syndicats patronaux,</p>
		</li>
		<li>
			<label for=""></label>
			<p class="decalage">Les acteurs institutionnels de l’Etat, région Ile de France et département,</p>
		</li>
		<li>
			<label for=""></label>
			<p class="decalage">Les organismes paritaires collecteurs agréés …</p>
		</li>
	</ul>
</div>


