

<div class="contenu">
	<h2>QUI SOMMES-NOUS</h2>
	<p>La Maison de l’Emploi et de la Formation Nord-Est 77 a été créée en mars 2007 à l’initiative des cinq territoires suivants :</p>
	<ul>
		<li>Le Pays de Meaux</li>
		<li>Le Pays fertois</li>
		<li>Le Pays de l’Ourcq</li>
		<li>Le Pays Créçois</li>
		<li>Les Monts de la Goële</li>
	</ul>
	<p>Et du Service Public de l’Emploi, accompagné de nombreux partenaires et acteurs locaux. Tous ont fortement contribué à la mise en place de cette structure.</p>
	<p>La Maison de l’Emploi assure un rôle d’accueil, d’information et d’orientation dans le cadre d’un guichet unique, regroupant les acteurs de l’économie et de l’emploi.</p>
	<p>Elle touche à la fois les chercheurs d’emploi, les salariés et les entreprises. Son rôle est d’orienter vers les partenaires compétents en fonction de la demande ou d’orienter vers les services mis en place en interne pour diversifier l’offre proposée sur le territoire. Cette fonction contribue largement à faire diminuer la confusion entre les différents dispositifs et structures et ainsi faciliter les démarches.</p>
	<p>La Maison de l’Emploi n’a pas vocation à accompagner du public sauf dans le cadre de dispositifs spécifiques comme le Défi 50 (pour en savoir plus, cliquez ici).</p>
	<p>Découvrez toute notre offre de services en parcourant les pages de ce site ! <br>
	<b>Bonne visite !</b></p>
</div>





