<div class="haut rose">
	<img src="images/securepro.png" alt="">
	<h2 class="small">LE POLE DE SECURISATION DES 
PARCOURS PROFESSIONNELS</h2>
	<p>Ce dispositif a pour objectifs de vous accompagner dans votre projet professionnel. <br>
Pour ce faire, un diagnostic de votre situation est réalisé sur la base d’entretiens individuels pour un suivi de 3 mois en moyenne, à raison d’un entretien tous les 15 jours. Puis en fonction de votre demande, vous serez orienté(e) vers les partenaires adéquats (centre de bilans de compétences, OPACIF, organismes de formation...) ou vers un placement réalisé par la Maison de l’Emploi.
</p>
</div>
<div class="contenu">
	<ul>
		<li>
			<p>Quelque soit votre âge, le Pôle de Sécurisation des Parcours Professionnels vous est entièrement dédié et intervient sur les thèmes suivants :</p></p>
		</li>
		<li><label for="">Aide à l’orientation professionnelle :</label>
			<ul>
				<li>Réfléchir à votre projet</li>
				<li>Découvrir d’autres métiers</li>
			</ul>
		</li>
		<li><label for="">Informations sur la formation professionnelle continue :</label>
			<ul>
				<li>Savoir comment formuler une demande de formation</li>
				<li>Choisir la bonne formation en fonction de votre projet professionnel et de votre évolution de carrière.</li>
				<li>Préparer les pièces relatives au dossier de financement de votre demande de formation (lettre de motivation, ...)</li>
			</ul>
		</li>
		<li><label for="">Aide et conseils pour les demandes de mobilité géographique :</label>
			<ul>
				<li>Vous rapprocher de votre domicile et retrouver un poste similaire.</li>
			</ul>
		</li>
		<li><label for="">Informations sur la vie au travail :</label>
			<ul>
				<li>Quels sont vos droits et devoirs en tant que salarié, en fonction de votre situation (en emploi, en arrêt ou accident de travail, en congé parental…).</li>
			</ul>
		</li>
	</ul>
	<!-- <div class="bandocouleur">Un service vous est dédié !</div> -->

	<p class="big viollet last">Si vous souhaitez bénéficier de ce service, n’hésitez pas à contacter  <br><strong>Sylvie VALLADESylvie VALLADE</strong><br> au <a href="tel:0160098483">01 60 09 84 83</a> ou par mail : <a href="mailTo:s.vallade@mdene77-mlidf.org">s.vallade@mdene77-mlidf.org.</a></p>
</div>


 