
<div class="haut rose">
	<img src="images/arbre2.png" alt="">
	<h2 class="fleche">Soutien aux dirigeants</h2>
	<p>Si vous êtes une entreprise ou une association de moins de 50 salariés, la plateforme Ressources Humaines est à votre disposition pour vous informer et vous accompagner sur toutes vos problématiques RH (recrutement, contrats de travail, formation...)
	</p>
	<p>
	Cette Plateforme est née de la volonté du Conseil Régional de soutenir les très petites entreprises (TPE). Les financements confiés à la Maison de l’Emploi vous permettent de bénéficier de ce service gratuitement.
	</p>
</div>
<div class="contenu">
	<ul>

		<li><label for=""> La plateforme RH vous accompagne avec une offre de services variée :</label>
			<ul>
				<li>Evaluation des risques : Prévention des risques psycho-sociaux - Elaboration du document unique...</li>
				<li>Gestion Prévisionnelle des Emplois et des Compétences (GPEC) : Anticipation des mutations d'un secteur économique - Gestion de la pyramide des âges...</li>
				<li>Formation du salarié : Identification de l'OPCA - Développement des compétences et dispositifs de formation.</li>
				<li>Formation du dirigeant : Mise en place d’ateliers spécifiques - Identification des mesures de financement...</li>
				<li>Fidélisation : Avantages sociaux - Comité d'Entreprise...</li>
				<li>Management : Motivation - Absentéisme - Gestion d'équipe...</li>
				<li>Cadre légal : Affichage obligatoire - Document unique - Mutuelle...</li>
				<li>Gestion administrative du personnel : Formalités liées à l'embauche - Paie - Médecine du travail...</li>
				<li>Appui au recrutement : Elaboration de la fiche de poste - Rédaction et diffusion de l'offre...</li>
				<li>Dispositifs d'aide à l'embauche : Emploi d'Avenir - Contrat de génération - Aide aux contrats d'apprentissage...</li>
			</ul>
			<p>Si vous souhaitez en savoir plus sur cette offre de services, cliquez <a href="#">ici.</a></p>
		</li>
		<li><label for="">L’Université du dirigeant :</label>
			<p>Animés par la plateforme RH, découvrez 5 modules par an d’un format de 2 heures, abordant chacun un thème en fonction de l'actualité. Pour l'année 2016, les thèmes abordés seront : l'intégration d'un salarié, la motivation et les risques psycho-sociaux... <br>
			Démontrez vos connaissances et décrochez votre diplôme de l’Université du dirigeant !</p>
			<ul>
				<li>1er module : Connaissez-vous les différentes étapes de l'intégration d'un salarié ? <br>
	      Lors de ce module, nous vous proposerons des solutions afin de faciliter l'intégration de vos futurs salariés. Nous verrons ensemble, comment véhiculer une image forte de l'entreprise et rendre le salarié opérationnel rapidement afin d'augmenter la performance de votre établissement.</li>
				<li>2nd module : Comment motiver vos troupes ? <br>
	     Dans ce module, nous aborderons les différentes causes d'une baisse de motivation dans une équipe afin d'identifier les différentes solutions qui s'offrent à vous.</li>
				<li>3e module : Savez-vous prévenir les risques psycho-sociaux ? <br>
	     Pour ce dernier module, nous verrons comment anticiper la maladie afin de l'éviter. Nous vous présenterons les différents facteurs qui influencent un salarié vers des risques psycho-sociaux. Enfin, nous vous démontrerons les différents comportements que l'ensemble de l'équipe doit adopter pour comprendre le malaise du salarié et l'aider au mieux dans son rétablissement.</li>
				<li>4e module : A définir</li>
				<li>5e module : A définir</li>
			</ul>
			<p>
				La plateforme RH vous propose également des ateliers sur différents sujets d'actualité :
			</p>
			<ul>
				<li>DUER (Document Unique d'Evaluation des Risques), animé par l'ACMS</li>
				<li>Prévention des risques, animé par la CRAMIF</li>
			</ul>
			<p><strong>Si vous souhaitez participer à l'un ou plusieurs de ces modules, contactez <span class="green">Mylène LEFEVRE</span> au 01 60 09 84 83 ou par mail : <a href="mailto:m.lefevre@mdene77-mlidf.org">m.lefevre@mdene77-mlidf.org</a></strong></p>
		</li>
	</ul>
</div>
