<div class="haut rose">
	<img src="images/structure.png" alt="">
	<h2>LES STRUCTURES <br> D’ACCOMPAGNEMENT</h2>
	<p>Voici ci-dessous les coordonnées de nos principaux partenaires.</p>
</div>
<div class="contenu">
	
	<ul class="aveclogo">
		<li>
			<img src="images/logoPartenaire/logo14-acces.png" alt="">
			<label for="">acces</label>
			<p class="adress">5, rue Raoul de Presles <br>LIZY SUR OURCQ</p>
			<p><b>Contact : 01 60 61 12 67</b></p>
		</li>
		<li>
			<img src="images/logoPartenaire/logo15-bij.png" alt="">
			<label for="">BUREAU D’INFORMATIONS JEUNESSE (BIJ)</label>
			<p class="adress">12, boulevard Jean Rose <br>MEAUX</p>
			<p><b>Contact : 01 60 32 32 16</b></p>
		</li>
		<li>
			<img src="images/logoPartenaire/logo16-cared.png" alt="">
			<label for="">CARED</label>
			<p class="adress">9, allée des Bruyères <br>MEAUX</p>
			<p><b>Contact : 01 64 35 24 00</b></p>
		</li>
		<li>
			<img src="images/logoPartenaire/logo17-cspf.png" alt="">
			<label for="">Centre social du Pays fertois</label>
			<p class="adress">17, rue de Reuil <br>LA FERTE SOUS JOUARRE</p>
			<p><b>Contact : 01 60 22 19 19</b></p>
		</li>
		<li>
			<img src="images/logoPartenaire/logo18-horizon.png" alt="">
			<label for="">HORIZON</label>
			<p class="adress">20, rue Ampère <br>MEAUX</p>
			<p><b>Contact : 01 60 09 93 93</b></p>
		</li>
		<li>
			<img src="images/logoPartenaire/logo6-ccpc.png" alt="">
			<label for="">MAISON DE LA JEUNESSE ET DE L’EMPLOI (MJE)</label>
			<p class="adress">3, rue de la Chapelle <br>CRECY LA CHAPELLE</p>
			<p><b>Contact : 01 64 63 75 39</b></p>
		</li>
		<li>
			<img src="images/logoPartenaire/logo11-pe.png" alt="">
			<label for="">OBJECTIF EMPLOI</label>
			<p class="adress">48, rue du Général Maunoury <br>SAINT SOUPPLETS</p>
			<p><b>Contact : 01 60 61 60 03</b></p>
		</li>
		<li>
			<img src="images/logoPartenaire/logo11-pe.png" alt="">
			<label for="">POLE EMPLOI MEAUX</label>
			<p class="adress">12, boulevard Jean Rose <br>MEAUX</p>
			<p><b>Contact : 39 49</b></p>
		</li>
		<li>
			<img src="images/logoPartenaire/logo11-pe.png" alt="">
			<label for="">POLE EMPLOI LA FERTE SOUS JOUARRE</label>
			<p class="adress">5, rue de la gare <br>LA FERTE SOUS JOUARRE</p>
			<p><b>Contact : 01 60 32 25 50</b></p>
		</li>
		<li>
			<img src="images/logoPartenaire/logo10-ml.png" alt="">
			<label for="">MISSION LOCALE NORD EST 77</label>
			<p class="adress">12, boulevard Jean Rose <br>MEAUX</p>
			<p><b>Contact : 01 60 24 77 99</b></p>
		</li>
		<li>
			<p>Des permanences sont assurées dans les différentes antennes réparties sur les 4 autres Communautés de communes de la Maison de l’Emploi / Mission Locale Nord-Est 77 (Pays de l’Ourcq, Pays Créçois, Pays fertois et Monts de la Goële).</p>
			
			<ul>
				<li>
					<label for="">Communauté de communes du Pays de l’Ourcq :</label>
					<p>
						La permanence est assurée à ACCES à Lizy sur Ourcq le lundi de 9h à 12h, le mardi de 9 h à 12h et de 14h à 17h30 et le jeudi de 14h à 17h30.
					</p>
				</li>
				<li>
					<label for="">
					Communauté de communes du Pays Créçois :
					</label>
					<p>
					La permanence est assurée à la MAISON DE LA JEUNESSE ET DE L’EMPLOI à Crécy-la-Chapelle tous les mardis de 9h à 12h30 et de 14h à 18h. 
					</p>
				</li>
				<li>
					<label for="">
						Communauté de communes du Pays fertois :
					</label>
					<p>
					La permanence est assurée au CENTRE SOCIAL DU PAYS FETOIS à la Ferté sous Jouarre du lundi au jeudi de 9h à 12h30 et de 13h30 à 17h30 et le vendredi de 9h à 12h.
					</p>
				</li>
				<li>
					<label for="">Communauté de communes des Monts de la Goële :</label>
					<p>
					La permanence est assurée à OBJECTIF EMPLOI à Saint Soupplets tous les mercredis de 14h à 17h30 sur rendez-vous.
					</p>
				</li>
			</ul>
		</li>
	</ul>
</div>





