<div class="col-lg-12">
<!--  -->
    
    <!-- /.panel-heading -->
    <tabset>
		<tab heading="Ajouter un utilisateur">
     	
        <form  name="FORMaddNewUser" role="form" ng-fab-form-options="customFormOptions" ng-init="setFormScope(this)">
			<div class="panel-body">

	    		<div class="col-md-6 col-lg-4">
		            <div class="panel panel-default">
		            	
		            	<div class="panel-heading">
			            	<div class="row">
					    	
					    		<div class="form-group form-group-image col-lg-12">
					    			<img src="images/no-user.jpg" style="width:100%">
					    			<div class="btn btn-default "><i class="fa fa-floppy-o fa-fw"></i> Ajouter une image</div>
					    		</div>
					    	</div>
					    	<hr>
			                <div class="row">
			                	<div class="form-group col-lg-12 ">
				                    <label>Role</label>
				                    <select prevent-submit-enter class="form-control" ng-model="formData.role" name="role" required>
			                            <option value="user">User</option>
			                            <option value="member">Membre</option>
			                            <option value="admin">admin</option>
			                        </select>
				                </div>
			                </div>
				    	</div>
				    </div>
	        	</div>
	        	<div class="col-md-6 col-lg-8">
	                <div class="row">
		        		<div class="form-group col-lg-3 col-md-4   ">
		                    <label>Civilité </label>
		                    <select prevent-submit-enter class="form-control" required ng-model="formData.civ"  name="civ">
	                            <option value="M.">M.</option>
	                            <option value="Mme">Mme</option>
	                            <option value="Mlle">Mlle</option>
	                        </select>
		                </div>
		        		<div class="form-group col-lg-9 col-md-8 ">
		                    <label>Nom Complet </label>
		                    <input auto-focus prevent-submit-enter class="form-control" type="text" name="name" ng-model="formData.name" placeholder="Oliver Durant" ng-minlength="5"
	                       required>
		                </div>
		        		
		        		
	                </div> 
	                <div class="row">	        		
		        		<div class="form-group col-lg-12 ">
		                    <label>Pseudo *</label>
		                    <span ng-show="FORMaddNewUser.pseudo.$pending"><i class="fa fa-spinner fa-spin"></i>Vérification de disponibilité</span>
		                    <input class="form-control" prevent-submit-enter placeholder="Oliv75" name="pseudo" ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }" required ng-model="formData.pseudo" uniquepseudo="formData.pseudo" ng-minlength="5">
		                </div>
	                </div> 
	        		<div class="row">
		        		<div class="form-group col-lg-12 ">
		                    <label>Email *</label>
		                    <span ng-show="FORMaddNewUser.email.$pending"><i class="fa fa-spinner fa-spin"></i>Vérification de disponibilité</span>
		                    <input type="email" prevent-submit-enter 
		                    uniqueemail="formData.email"  name="email" ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
	                       class="form-control"
	                       ng-model="formData.email"
	                       required placeholder="test@emailtest.fr">
		                </div>
		        		
	        		</div>
	        		<div class="row">
	        			<div class="form-group col-lg-12 ">
		                    <label>Téléphone</label>
		                    <input class="form-control" prevent-submit-enter name="phone"  ng-model="formData.phone" ng-pattern="/^\+?([0-9]|-|\ )*$/i" placeholder="+3356895478" validation-msg-pattern="Entrez un numéro de téléphone" max-length="12" required>
		                </div>
		            </div>
		            <hr>
	                <div class="row">
		        		<div class="form-group col-lg-12  ">
		                    <label>Entreprise</label>
		                    <input class="form-control" prevent-submit-enter name="company" placeholder="SARL TITOTI" ng-model="formData.company" required>
		                </div>
	                </div>
	                <div class="row">
	                	<div class="form-group col-lg-12  ">
		                    <label>Fonction / Poste</label>
		                    <input class="form-control" prevent-submit-enter name="fonction" placeholder="R&D - chercheur"  ng-model="formData.fonction" >
		                </div>
	                </div>
	                <hr>
	                <div class="row">
	                	<div class="form-group col-lg-12 ">
	                		<h4 class="pointer" ng-click="isCollapsed = !isCollapsed" >Paramètre de confidentialité <i class="glyphicon" ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"></i></h4>
	                	</div>
						<div collapse="isCollapsed">
						
							<div class="form-group col-lg-12 ">
		                        <label>Utilisé le nom complet</label>
							    <div class="btn-group" required>
							        <label class="btn"  ng-class="{'btn-success':formData.usename==true,'btn-danger':formData.usename==false}" ng-model="formData.usename" btn-radio="true">Oui</label>
							        <label class="btn"  ng-class="{'btn-success':formData.usename==true,'btn-danger':formData.usename==false}"  ng-model="formData.usename" btn-radio="false">Non</label>
							    </div>
			                </div>
							<div class="form-group col-lg-12 ">
		                        <label>Publier mon email</label>
		                        <div class="btn-group">
							        <label class="btn "  ng-class="{'btn-success':formData.publishEmail==true,'btn-danger':formData.publishEmail==false}"  ng-model="formData.publishEmail" btn-radio="true">Oui</label>
							        <label class="btn "  ng-class="{'btn-success':formData.publishEmail==true,'btn-danger':formData.publishEmail==false}"  ng-model="formData.publishEmail" btn-radio="false">Non</label>
							    </div>
			                </div>
							<div class="form-group col-lg-12 ">
		                        <label>Publier mon numéro de téléphone</label>
		                        <div class="btn-group">
							        <label class="btn "  ng-class="{'btn-success':formData.publishPhone==true,'btn-danger':formData.publishPhone==false}"  ng-model="formData.publishPhone" btn-radio="true">Oui</label>
							        <label class="btn "  ng-class="{'btn-success':formData.publishPhone==true,'btn-danger':formData.publishPhone==false}"  ng-model="formData.publishPhone" btn-radio="false">Non</label>
							    </div>
			                </div>
						</div>

	            	</div>

				</div>
	        	 
		</div>
		<div class="panel-footer" style="text-align:center">
			<div class="row">
				<div class="col-sm-4" style='margin-bottom:4px;'>
				</div>
				<div class="col-sm-4" style='margin-bottom:4px;'>
					<button type="submit" ng-click="addNewUser()" class="btn  btn-success col-sm-12"><i class="fa fa-floppy-o fa-fw"></i> Enregistrer et fermer</button>
				</div>
				<div class="col-sm-4" style='margin-bottom:4px;'>
	    			<a ui-sref="^"><div class="btn  btn-danger col-sm-12"><i class="fa fa-times fa-fw"></i> Annuler</div></a>
				</div>
			</div>
		</div>
	</form>

	</tab>
		   
	</tabset>
    
<!-- </div> -->
</div>