<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Utilisateurs <a ui-sref=".add"><div class="btn  btn-primary pull-right"><i class="fa fa-plus fa-fw"></i> Ajouter un utilisateur</div></a></h1>

    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
	<div ui-view></div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading-table ">
            	<div class="row">
	            	<div class="col-md-4">
	            		
                    </div>


	            	 
            	</div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="col-md-8 col-md-offset-4 panel-heading-table">
                    <form role="form" class="" >
                        <div class="form-group input-group  col-md-6 pull-right">
                            <form name="searchUser">

                                <input type="text" class="form-control" ng-model="filter.slug" ng-blur="reloadUsers()">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-search" type="submit" ng-click="reloadUsers()"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </form>
                        </div>
                        <div class="FilterBox pull-right form-group col-md-6 input-group ">
        
                            <div class="label label-primary pull-right"><i class="fa fa-graduation-cap fa-fw"></i> Admin <input type="checkbox" ng-model="filter.admin" ng-click="reloadUsers()"class="labelcheckbox" ng-model="userService.filter.admin" checked></div>
                            <div class="label label-default pull-right"><i class="fa fa-user fa-fw"></i> User <input type="checkbox" ng-model="filter.user" class="labelcheckbox" checked ng-click="reloadUsers()"></div>
                            <div class="label label-success pull-right"><i class="fa fa-user-plus fa-fw"></i> Membre <input type="checkbox" ng-model="filter.member" ng-click="reloadUsers()" class="labelcheckbox" checked></div>
                        </div>
                    </form>
                </div>

                <div class="table-responsive col-lg-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="min-width:120px;"><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('role ASC')" ng-class="{active: filter.order=='role ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('role DESC')" ng-class="{active: filter.order=='role DESC'}"></i> Role</th>
                                <th style="min-width:200px;"><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('pseudo ASC')"ng-class="{active: filter.order=='pseudo ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('pseudo DESC')"ng-class="{active: filter.order=='pseudo DESC'}"></i> Pseudo</th>
                                <th><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('name ASC')" ng-class="{active: filter.order=='name ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('name DESC')" ng-class="{active: filter.order=='name DESC'}"></i> Nom complet</th>
                                <th style="min-width:350px;"><i class="fa  sorter fa-user fa-sort-desc" ng-click="setOrder('email ASC')"ng-class="{active: filter.order=='email ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('email DESC')" ng-class="{active: filter.order=='email DESC'}"></i> Email</th>
                                <th style="min-width:150px;"><i class="fa sorter fa-user fa-sort-desc" ng-class="{active: filter.order=='createdAt ASC'}" ng-click="setOrder('createdAt ASC')"></i><i class="fa fa-user sorter fa-sort-asc" ng-class="{active: filter.order=='createdAt DESC'}" ng-click="setOrder('createdAt DESC')"></i> Créé en</th>
                                <th style="min-width:100px;"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="chargement" ng-if="loadingUsers"> <td colspan="6"><i class="fa fa-user sorter fa-spinner fa-spin"></i></td></tr>
                            <tr ng-repeat="user in users" ng-dblclick="editUser(user.id)">
                                <td ng-if="user.role=='user'"><div class="label label-default"><i  class="fa fa-user fa-fw"></i> User</div></td>
                                <td ng-if="user.role=='admin'"><div class="label label-primary"><i  class="fa fa-graduation-cap fa-fw"></i></i> Admin</div></td>
                                <td ng-if="user.role=='member'"><div class="label label-success"><i  class="fa fa-user-plus fa-fw"></i> Membre</div></td>
                                <td>{{user.pseudo}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.createdAt| amDateFormat:'MMM YYYY'}}</td>
                                <td>
                                	<!-- <div class="tablebtn btn btn-xs btn-danger pull-right tooltipitem" ng-click="closeToolTip(this)" tooltip-html-unsafe="{{htmlTooltip}}" tooltip-trigger="click" tooltip-placement="top"><i class="fa fa-trash fa-fw"></i></div> -->
                                    <a ><removeremovetable action="remove" itemid="user.id"></removeremovetable></a>
                                	<a ng-click="editUser(user.id)"><div class="tablebtn btn btn-xs btn-primary pull-right" tooltip="Editer" tooltip-trigger="mouseenter" tooltip-placement="top"><i class="fa fa-edit fa-fw"></i></div></a>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <nav class=" col-xs-10">
                  <pagination ng-change="pageChanged(page)" total-items="total" ng-model="filter.page" max-size="3" items-per-page="filter.perPage" class="pagination-sm pull-left" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    <span class="totalTable pull-left"  ng-pluralize count="total"
                        when="{'0': 'aucun résultats',
                        'one': '1 résultat',
                        'other': '{} résultats'}">
                    </span>
                </nav>
               	<nav class=" col-xs-2">
                    <span class=" pull-right totalTable" style="">par page</span>
				   <select class="form-control pull-right" ng-change="reloadUsers()" style="width: 80px;margin: 20px 0px;padding: 5px 10px;height: 30px;" ng-model="filter.perPage" name="perPage" >
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> 
                </nav>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
       

    </div>
            <div class="col-md-8 col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-line-chart fa-fw"></i> Aquisition d'utilisateurs
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    Période
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a  ng-click="loadGraph('week')" >Sur 1 semaine</a>
                                    </li>
                                    <li><a  ng-click="loadGraph('month')">Sur 2 mois</a>
                                    </li>
                                    <li><a ng-click="loadGraph('year')">Sur 1 an</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a ng-click="loadGraph('full')">Depuis la création du site</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" >
                        <div class="chargement chargementGraph" ng-if="loadingGraph"> <i class="fa fa-user sorter fa-spinner fa-spin"></i></div>
                       <canvas id="line" options="myoptions" style="width:100%; height:280px" legend="true" class="chart chart-line" data="data"
                          labels="labels" series="series" colours="colors"
                          click="onClick">
                        </canvas> 
                        <!-- <div id="chart-user-aqui" ></div> -->
                    </div>
                <!-- /.panel-body -->
                </div>
            </div> 
            <div class="col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-pie-chart fa-fw"></i> Dernière activité
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    Role
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a ng-click="loadGraph2('member')">Membre</a>
                                    </li>
                                    <li><a ng-click="loadGraph2('user')">User</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a ng-click="loadGraph2('all')">Tous</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="chargement chargementGraph" style="" ng-if="loadingGraph2"> <i class="fa fa-user sorter fa-spinner fa-spin"></i></div>
                        <canvas id="doughnut" class="chart chart-doughnut" height="280px" colours='colors2' data="data2"
                            labels="labels2"></canvas> 
                    </div>
                <!-- /.panel-body -->
                </div>
            </div>
            

</div>
<script type="text/javascript">
// $(function() {

//     Morris.Donut({
//         element: 'chart-user-acti',
//         data: [{
//             label: "Aujourd'hui",
//             value: 12
//         }, {
//             label: "Cette semaine",
//             value: 36
//         }, {
//             label: "Le moi dernier",
//             value: 20
//         }, {
//             label: "Il y a moins de 6 mois",
//             value: 50
//         }, {
//             label: "Il y a plus de 6 mois",
//             value: 13
//         }],
//         colors:['darkgreen','green','lightgreen','orange','red'],
//         resize: true
//     });

//     Morris.Area({
//         element: 'chart-user-aqui',
//         data: [{
//             period: '2012 Q1',
//             user: 2666,
//             membre: 2294,
//         }, {
//             period: '2012 Q2',
//             user: 2778,
//             membre: 302,
//         }, {
//             period: '2012 Q3',
//             user: 4912,
//             membre: 1969,
//         }, {
//             period: '2012 Q4',
//             user: 3767,
//             membre: 3597,
//         }, {
//             period: '2012 Q5',
//             user: 6810,
//             membre: 1914,
        
//         }, {
//             period: '2012 Q6',
//             user: 6810,
//             membre: 1914,
        
//         }],
//         behaveLikeLine:'false',
//         xkey: 'period',
//         ykeys: ['user','membre'],
//         labels: ['User','Membre'],
//         lineColors: ['#777','green'],
//         fillOpacity:'1',
//         xLabelFormat: function (x) {
//                   var IndexToMonth = [ "Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Juil", "Aoû", "Sep", "Oct", "Nov", "Dec" ];
//                   var month = IndexToMonth[ x.getMonth() ];
//                   var year = x.getFullYear();
//                   return year + ' ' + month;
//               },
//           dateFormat: function (x) {
//                   var IndexToMonth = [ "Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Juil", "Aoû", "Sep", "Oct", "Nov", "Dec" ];
//                   var month = IndexToMonth[ new Date(x).getMonth() ];
//                   var year = new Date(x).getFullYear();
//                   return year + ' ' + month;
//               },
//         pointSize: 5,
//         hideHover: 'auto',
//         resize: true,
//         xLabels:'month'
//     });


// });
</script>