<div class="row">
<div class="col col-lg-6 col-lg-offset-3">

	<button class="retour btn btn-xs btn-info " ng-click="linkForum()"><span class="icon-angle-left"></span>Retour</button>
	<button  ng-click="changestatus('résolu')" type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-save"></span>Marquer comme "résolu"</button>
	<button  ng-click="changestatus('en discussion')" type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-open"></span>Marquer comme "en discussion"</button>
	<removeremove action="removeselected" ></removeremove>
</div>
</div>
<div class="row">
	
<div class="topic col col-lg-6 col-lg-offset-3">
	<div class="row">
		<div style="" class="fakecol col col-xs-3">
			<div class="author">
				<img ng-if="topic.owner.images[0]" ng-src="file/image/profilepicture/{{topic.owner.images[0].filename}}"  width="100" height="100" alt="">
				<img ng-if="!topic.owner.images[0]" ng-src="images/no-user.jpg"  width="100" height="100" alt="">
				<div class="authorname">
					<span ng-if="topic.owner.name">{{topic.owner.name}}</span>
		    		<span ng-if="!topic.owner.name">Anonyme</span>
		    	</div>
			</div>
			<div class="date">le {{topic.createdAt|date:'dd MMMM yyyy à HH:MM'}}</div>
		</div>
		<div class="col col-xs-9 col-xs-offset-3">
			<span class="label" ng-class="{'label-success': topic.status==='résolu','label-warning': topic.status==='en discussion','label-info': topic.status==='new'}"><label >{{topic.status}}</label></span>
			<h1>{{topic.title}}</h1>
			<div class="topicinfo">
			<div class="messnumber"><span class="glyphicon glyphicon-comment"></span><span>{{topic.answers.length}}</span></div>
			</div>
			<!-- <div class="topiccontent" ng-bind-html="{{topic.content}}"></div> -->
			<div class="topiccontent" ng-bind-html="'{{topic.htmlcontent}}'"></div>
		</div>
		
	</div>
</div>
	
<div class="answer col col-lg-6 col-lg-offset-3" ng-repeat="answer in topic.answers | orderBy:'createdAt':false">
	<div class="row">
		<removeremove class="removeAnswer" action="removeanswer" itemid="answer.id" ></removeremove>
		<div style="" class="fakecol col col-xs-3">
			<div class="author">
				<img ng-if="answer.author.images[0]" ng-src="file/image/profilepicture/{{answer.author.images[0].filename}}"  width="100" height="100" alt="">
				<img ng-if="!answer.author.images[0]" ng-src="images/no-user.jpg"  width="100" height="100" alt="">
				<div class="authorname">
					<span ng-if="answer.author.name">{{answer.author.name}}</span>
		    		<span ng-if="!answer.author.name">Anonyme</span>
		    	</div>
			</div>
			<div class="date">le {{answer.createdAt|date:'dd MMMM yyyy à HH:MM'}}</div>
		</div>
		<div class="col col-xs-9 col-xs-offset-3">
			<div class="topiccontent" ng-bind-html="'{{answer.htmlcontent}}'"></div>
		</div>
		
	</div>
</div>


<div class="newAnswerADD col col-lg-6 col-lg-offset-3">
	<h2 class="grey">Participer à la conversation</h2>
	<form class="form" role="form" ng-submit="submitAdd()">
            <markdownpreview ng-model="newAnswer.content" handleerror="'content'" minheight="300" placehold="'Contenu en markdown'" />
            
            
			 <div class="rowbutton form-group col-xs-12">
			    	<input type="submit"  class="form-control input-lg btn btn-success btn-lg"   value="Poster">
			 </div>
            
             <div class="clearfix"></div>
	</form>
</div>

</div>