<div class="col-lg-12">
<!--  -->
    <!-- /.panel-heading -->
    <tabset>
		<tab heading="Informations générales" select="alertMe('info')" active="currenttabs['info']">
     	
        <form  name="FORMeditProject" ng-submit="submit()" role="form" ng-fab-form-options="customFormOptions" ng-init="setFormScope(this)">
			<div class="panel-body">

	    		
	        	<div class="col-md-6 col-lg-8">
	                <div class="row">
		        		
		        		<div class="form-group col-lg-9 col-md-8 ">
		                    <label>Titre </label>
		                    <input prevent-submit-enter auto-focus class="form-control" type="text" name="name" ng-model="formData.title" placeholder="Titre principale (rang 1)" ng-minlength="5"
	                       required>
		                </div>
		        		<div class="form-group col-lg-3 col-md-4">
		                    <label>Catégorie </label>
		                    <select prevent-submit-enter class="form-control"  ng-model="formData.category"  name="category" data-ng-options='category.id as category.name for category in categories'>
	                            <option   value="">Aucune</option>
	                            <!-- <option  ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option> -->
	                        </select>
		                </div>
		        		
	                </div> 
	                <div class="row">	        		
		        		<div class="form-group col-lg-12 ">
		                    <label>Contenu </label>
		                    <markdownpreview ng-model="formData.content" handleerror="'content'" minheight="350" placehold="'Contenu'" />
		                </div>
	                </div>
	                <div class="row">	        		
		        		<div class="form-group col-lg-12 ">
		                    <label >Tags</label>
		                    <tags-input class="mytaginput" ng-model="formData.tags">
		                    	<auto-complete source="autocompleteTag($query)"></auto-complete>
		                	</tags-input>
		                </div>
	                </div> 
	                <div class="row">	        		
		        		<div class="form-group col-xs-12 col-md-4 col-lg-4 ">
		                    <label >Date</label>
		                    <p class="input-group">
		                    <input prevent-submit-enter type="text" required ng-date class="form-control" ng-model="formData.date" datepicker-popup="dd/MM/yyyy" name="date" is-open="opened" close-text="Fermer" />
		                    <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				            </span>
				        	</p>
		                </div>
		        		<div class="form-group col-xs-12 col-md-4 col-lg-4">
		                    <label>Auteur </label>
		                    <select prevent-submit-enter class="form-control"  ng-model="formData.author"  name="category" data-ng-options='author.id as author.pseudo for author in authorlist'>
	                            <option value="">Aucun</option>
	                            <!-- <option  ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option> -->
	                        </select>
		                </div>
		                <div class="form-group col-xs-12 col-md-4 col-lg-4 ">
		                    <label >Status</label>
		                    <div>
			                    <div class="btn-group">
							        <label class="btn" ng-class="{'btn-success':formData.status=='actif','btn-warning':formData.status=='draft','btn-danger':formData.status=='inactif'}" ng-model="formData.status" btn-radio="'actif'">Actif</label>
							        <label class="btn" ng-class="{'btn-success':formData.status=='actif','btn-warning':formData.status=='draft','btn-danger':formData.status=='inactif'}" ng-model="formData.status" btn-radio="'draft'">Brouillon</label>
							        <label class="btn" ng-class="{'btn-success':formData.status=='actif','btn-warning':formData.status=='draft','btn-danger':formData.status=='inactif'}" ng-model="formData.status" btn-radio="'inactif'">Inactif</label>
							    </div>
							</div>
		                </div>
	                </div>
		        	 
				</div>
				<div class="col-md-6 col-lg-4">
		            <div class="panel panel-default">
		            	
		            	<div class="panel-heading">
		            		<i class="fa fa-gears fa-fw"></i> Option de référencement
		            	</div>
		            	<div class="panel-body">
			            	<div class="form-group col-xs-12 ">
			            		<label>Mots clefs</label>
			                    <input prevent-submit-enter inputcount="255" type="text"  name="keyword" class="form-control" ng-model="formData.keyword" placeholder="Mots clefs, Mots, clefs, clef, Mot clef, Mot">
			                </div> 
			                <div class="form-group col-xs-12 ">
			                	<label>Réécriture d'url</label>
			                    <input prevent-submit-enter inputcount="1000" urlprefixerwidth="195px" urlprefixer="http://momsite.com/blog/projet/" model="formData.rewriteurl" type="text" name="rewriteurl" class="form-control " ng-model="formData.rewriteurl" placeholder="Réécriture de l'url">
			                </div>
			                <div class="form-group col-xs-12 ">
			                	 <label>Description</label>
			                    <textarea prevent-submit-enter inputcount="160" model="formData.description" rows="4" name="description" class="form-control " ng-model="formData.description" placeholder="Description pour les moteurs de recherche"></textarea>
			                </div>
			                <div class="form-group col-xs-12 ">
			                	<auditref model="formData"></auditref>
			                </div>
				    	</div>
				    </div>
	        	</div>
	        	 
		</div>
		<div class="panel-footer" style="text-align:center">
			<div class="row">
				<div class="col-sm-4" style='margin-bottom:4px;'>
					<a class="btn  btn-default col-sm-12"   ng-click="editProject('stay')"><i class="fa fa-floppy-o fa-fw"></i> Enregistrer et rester</a>
				</div>
				<div class="col-sm-4" style='margin-bottom:4px;'>
					<a class="btn  btn-success col-sm-12" ng-click="editProject('close')" ><i class="fa fa-floppy-o fa-fw"></i> Enregistrer et fermer</a>
				</div>
				<div class="col-sm-4" style='margin-bottom:4px;'>
	    			<a ui-sref="^"><div class="btn  btn-danger col-sm-12"><i class="fa fa-times fa-fw"></i> Annuler</div></a>
				</div>
			</div>
		</div>
	</form>

	</tab>
	<tab heading="Images et médias"   select="alertMe('media')" active="currenttabs['media']">

	            	<div class="panel-body" >
	            		<div class="row">
	            			<div class="col col-xs-12">
		            			<h3>Images du projet <button class="btn btn-primary pull-right" ng-click="openImages()">Ajouter une image</button></h3>
			            		<ul class="listbigimages" ui-sortable="sortableOptions" ng-model="formData.images">
			            			<li ng-if="formData.images.length==0" style="border:none;width:100%" class="not-sortable"><p style="text-align:center;padding-top:90px;color:grey;">Aucune image</p></li>
									<li ng-repeat="image in formData.images  " class="pull-left">
										<img ng-src="file/image/adminThumbs/{{image.image.filename}}" alt="{{image.image.filename}}" width="200" height="200" >
										<div class="btn btn-xs btn-danger btnremoveimg" ng-click="removeimage($index)"><i  class="fa fa-times"></i></div>
									</li>
								</ul>
								<hr>
	            			</div>
	            			
	            			<div class="col col-xs-12">
	            				<h3>Video</h3>
	            				<div class="form-group col-sm-6 ">
	            					<div class="form-group">
				                        <label tooltip-placement="right" tooltip="Préférer la vidéo aux images en tant que contenu principale.">Faire de la video le media principale</label>
				                        <div class="btn-group">
									        <label class="btn "  ng-class="{'btn-success':formData.publishVideo==true,'btn-danger':formData.publishVideo==false}"  ng-model="formData.publishVideo" btn-radio="true">Oui</label>
									        <label class="btn "  ng-class="{'btn-success':formData.publishVideo==true,'btn-danger':formData.publishVideo==false}"  ng-model="formData.publishVideo" btn-radio="false">Non</label>
									    </div>
	            					</div>
								    <div class="form-group">
									    <label>Url de la video</label>
				            			<input type="text" ng-model="formData.video" placeholder="http://youtube.com/watch?v=LOKyEt36Kjc" name="video" class="form-control">
								    </div>
				            		
				                </div>
	            				<div class="form-group col-sm-6">
	            					<embed-video iframe-id="video"   ng-href="formData.video" controls=1></embed-video>
	            				</div>
	            				
	            			</div>
	            			<div class="col col-xs-12" id="divDocument">
	            				<hr>
	            				
	            			</div>
	            			<div class="col col-xs-12" >
	            				<h3>Pièces jointes <button class="btn btn-primary pull-right" ng-click="openDocuments()">Ajouter un fichier</button></h3>
			            		<ul class="listDocs" ui-sortable="sortableOptions2" ng-model="formData.documents">
			            			<li ng-if="formData.documents.length==0" style="border:none;width:100%"><p style="text-align:center;padding-top:0px;color:grey;">Aucun document</p></li>
									<li ng-repeat="document in formData.documents" class="pull-left">
										<div class="btn btn-xs btn-danger bntdocumentsremove" ng-click="removedocument($index)"><i  class="fa fa-times"></i></div>
										<div> {{document.document.name}}</div>
										
										
										<!-- <removeremovetable class="btnremoveimg " action="removedocument" ></removeremovetable> -->
										<div   ng-switch="document.document.type" class="fileicons" >


								            <div ng-if="document.document.type | regex:'image':false" class="text-center" tooltip='image' tooltip-placement="bottom"><i  class="fa fa-file-image-o"></i></div>
								            <div ng-if="document.document.type | regex:'video':false" class="text-center" tooltip='video' tooltip-placement="bottom"><i  class="fa fa-file-video-o"></i></div>
								            <div ng-if="document.document.type | regex:'pdf':false" class="text-center" tooltip='pdf' tooltip-placement="bottom"><i  class="fa fa-file-pdf-o"></i></div>
								            <div ng-if="document.document.type | regex:'zip':false" class="text-center" tooltip='zip' tooltip-placement="bottom"><i  class="fa fa-file-zip-o"></i></div>
								            <div ng-if="document.document.type | regex:'rar':false" class="text-center" tooltip='rar' tooltip-placement="bottom"><i  class="fa fa-file-rar-o"></i></div>
								            <div ng-if="document.document.type | regex:'audio':false" class="text-center" tooltip='audio' tooltip-placement="bottom"><i  class="fa fa-file-sound-o"></i></div>
								            <div ng-if="document.document.type | regex:'spreadsheet':false" class="text-center" tooltip='feuille de calcule' tooltip-placement="bottom"><i  class="fa fa-file-excel-o"></i></div>
								            <div ng-if="document.document.type | regex:'excel':false" class="text-center" tooltip='feuille de calcule' tooltip-placement="bottom"><i  class="fa fa-file-excel-o"></i></div>
								            <div ng-if="(document.document.type | regex:'text':false) " class="text-center" tooltip='text' tooltip-placement="bottom"><i  class="fa fa-file-text-o"></i></div>
								            <div ng-if="(document.document.type | regex:'word':false) " class="text-center" tooltip='word' tooltip-placement="bottom"><i  class="fa fa-file-text-o"></i></div>

								            <div ng-if="
								            !(document.document.type | regex:'image':false)
								             &&
								            !(document.document.type | regex:'video':false) &&
								            !(document.document.type | regex:'pdf':false) &&
								            !(document.document.type | regex:'zip':false) &&
								            !(document.document.type | regex:'rar':false) &&
								            !(document.document.type | regex:'audio':false) &&
								            !(document.document.type | regex:'spreadsheet':false) &&
								            !(document.document.type | regex:'excel':false) &&
								            !(document.document.type | regex:'text':false) &&
								            !(document.document.type | regex:'word':false)" 
								            class="text-center" tooltip='{{item.type}}' tooltip-placement="bottom"><i  class="fa fa-file-o"></i></div>
									</li>
								</ul>
		            			
	            				<hr>
	            			</div>
	            		</div>
	            	</div>
	            	<div class="panel-footer" style="text-align:center">
						<div class="row">
							<div class="col-sm-4" style='margin-bottom:4px;'>
								<a class="btn  btn-default col-sm-12"   ng-click="editProject('stay')"><i class="fa fa-floppy-o fa-fw"></i> Enregistrer et rester</a>
							</div>
							<div class="col-sm-4" style='margin-bottom:4px;'>
								<a class="btn  btn-success col-sm-12" ng-click="editProject('close')" ><i class="fa fa-floppy-o fa-fw"></i> Enregistrer et fermer</a>
							</div>
							<div class="col-sm-4" style='margin-bottom:4px;'>
				    			<a ui-sref="^"><div class="btn  btn-danger col-sm-12"><i class="fa fa-times fa-fw"></i> Annuler</div></a>
							</div>
						</div>
					</div>
	</tab>
	<tab heading="Commentaires" select="alertMe('coment')" active="currenttabs['coment']">
		<div class="panel-body" >
		<div class="row">
			<div class="col col-xs-12">
				
				<div class="form-group col-sm-6 ">
					<div class="form-group">
                        <label tooltip-placement="right" tooltip="Préférer la vidéo aux images en tant que contenu principale.">Activer les commentaires</label>
                        <div class="btn-group">
					        <label class="btn "  ng-class="{'btn-success':formData.activeComent==true,'btn-danger':formData.activeComent==false}"  ng-model="formData.activeComent" btn-radio="true">Oui</label>
					        <label class="btn "  ng-class="{'btn-success':formData.activeComent==true,'btn-danger':formData.activeComent==false}"  ng-model="formData.activeComent" btn-radio="false">Non</label>
					    </div>
					    
					</div>
                </div>
               	<div class="form-group col-xs-12 ">
					<ul class="timeline">
						<li class="timeline-inverted">
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Ajouter un commentaire</h3>
								</div>
								<div class="form-group">
									<label>Contenu</label>
									<textarea prevent-submit-enter  model="formData.description" rows="5" name="description" class="form-control " ng-model="newComment.content" placeholder="Mon commentaire"></textarea>
								</div>
								

							<div class="timeline-footer">
						        <div class="col-sm-4 col-sm-offset-8" style='margin-bottom:4px;padding-right:0px'>
									<a class="btn  btn-primary col-sm-12"   ng-click="addNewComment()"><i class="fa fa-plus fa-fw"></i> Ajouter</a>
								</div>
						    </div>
							</div>
						</li>
                        <li ng-repeat="comment in formData.comments | orderBy : 'createdAt' : true | limitTo: commentLimit track by $index" ng-class-even="'timeline-inverted'">
                            <div class="timeline-badge" ng-class="{'success':comment.status=='success','danger':comment.status=='danger','info':comment.status=='new'}"><i class="fa " ng-class="{'fa-check':comment.status=='success','fa-times':comment.status=='danger','fa-exclamation':comment.status=='new'}"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title" >{{comment.author}} <small>{{comment.email}}</small></h4>
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-cog "></i> 
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a ng-click="comment.status='success'">Publier</a>
                                            </li>
                                            <li><a ng-click="comment.status='danger'">Interdire</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li ng-if="!comment.nouvo"><a ng-click="openrepondre(comment,$event)">Répondre</a>
                                            </li>
                                            <li><a ng-click="removeCommentMe(comment)">Supprimer</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="">
                                        <small class="text-muted"><i class="fa fa-time"></i><span am-time-ago="comment.createdAt"></span></small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>{{comment.content}}</p>
                                    <div class="row" ng-if="comment.reponses.length || comment.openrepondre">
                                    	<div class="col-xs-12">
		                                    <ul class="timeline minitimeline">
						                        
						                        
						                       	<li ng-repeat="rep in comment.reponses | orderBy : 'createdAt' : false  track by $index" >
						                            <div class="timeline-badge" ng-class="{'success':rep.status=='success','danger':rep.status=='danger','info':rep.status=='new'}"><i class="fa " ng-class="{'fa-check':rep.status=='success','fa-times':rep.status=='danger','fa-exclamation':rep.status=='new'}"></i>
						                            </div>
						                            <div class="timeline-panel">
						                                <div class="timeline-heading">
						                                    <h4 class="timeline-title" >{{rep.author}} <small>{{rep.email}}</small></h4>
						                                    <div class="btn-group pull-right">
						                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
						                                            <i class="fa fa-cog "></i> 
						                                            <span class="caret"></span>
						                                        </button>
						                                        <ul class="dropdown-menu" role="menu">
						                                            <li><a ng-click="rep.status='success'">Publier</a>
						                                            </li>
						                                            <li><a ng-click="rep.status='danger'">Interdire</a>
						                                            </li>
						                                            <li class="divider"></li>
						                                            <li><a ng-click="removeReponseMe(comment,rep)">Supprimer</a>
						                                            </li>
						                                        </ul>
						                                    </div>
						                                    <p class="">
						                                        <small class="text-muted"><i class="fa fa-time"></i><span am-time-ago="rep.createdAt"></span></small>
						                                    </p>
						                                </div>
						                                <div class="timeline-body">
						                                    <p>{{rep.content}}</p>
						                                </div>	
						                            </div>
						                        </li>
						                        <li class="" ng-if="comment.openrepondre">
													<div class="timeline-panel">
														<div class="timeline-heading">
															<h3 class="timeline-title">Ajouter un commentaire</h3>
														</div>
														<div class="form-group">
															<label>Contenu</label>
															<textarea prevent-submit-enter  model="formData.description" rows="5" name="description" class="form-control textareaaddrep" ng-model="comment.newComment.content" placeholder="Mon commentaire"></textarea>
														</div>
														

													<div class="timeline-footer">
												        <div class="col-sm-4 col-sm-offset-8" style='margin-bottom:4px;padding-right:0px'>
															<a class="btn  btn-primary col-sm-12"   ng-click="addNewRep(comment)"><i class="fa fa-plus fa-fw"></i> Ajouter</a>
														</div>
												    </div>
													</div>
												</li>
						                    </ul>
                                    	</div>	
                                    </div>
                                </div>
                            </div>
                        </li>
                       	
                       
                    </ul>
                    	<p ng-show="commentLimit<formData.comments.length" class=" text-center"><small class="voirplus" ng-click="showMore()">Afficher plus</small></p>
                </div>
			</div>
		</div>
		</div>
		<div class="panel-footer" style="text-align:center">
						<div class="row">
							<div class="col-sm-4" style='margin-bottom:4px;'>
								<a class="btn  btn-default col-sm-12"   ng-click="editProject('stay')"><i class="fa fa-floppy-o fa-fw"></i> Enregistrer et rester</a>
							</div>
							<div class="col-sm-4" style='margin-bottom:4px;'>
								<a class="btn  btn-success col-sm-12" ng-click="editProject('close')" ><i class="fa fa-floppy-o fa-fw"></i> Enregistrer et fermer</a>
							</div>
							<div class="col-sm-4" style='margin-bottom:4px;'>
				    			<a ui-sref="^"><div class="btn  btn-danger col-sm-12"><i class="fa fa-times fa-fw"></i> Annuler</div></a>
							</div>
						</div>
					</div>
	</tab>
	<tab heading="Traductions" select="alertMe('traduction')" active="currenttabs['traduction']">
		<div class="panel-body" >
		<!-- <div class="row" > -->
				<ul class="tradListArticle">
            		<li ng-repeat="trad in projectlangues" class="row">
            			<div class="col-xs-2">
			                <input  type="text"   disabled class="form-control" ng-value="trad.langfull" />
			                <div class="flech"><i class="fa fa-long-arrow-right"></i></div>
			                <removeremove ng-if="trad.exist" action="removeTrad" itemid="trad"></removeremove>
            			</div>
            			<div class="col-xs-10" ng-if="trad.exist">
            			<div class="panel panel-default">
					        <div class="panel-body">
					        	<div class="col-md-6 col-lg-8">
					                <div class="row">
						        		<div class="form-group col-lg-9 col-md-8 ">
						                    <label>Titre </label>
						                    <input prevent-submit-enter auto-focus class="form-control" type="text" name="name" ng-model="trad.item.title" placeholder="Titre principale (rang 1)" 
					                       required>
						                </div>
					                </div> 
					                <div class="row">	        		
						        		<div class="form-group col-lg-12 ">
						                    <label>Contenu </label>
						                    <markdownpreview ng-model="trad.item.content" handleerror="'content'" minheight="350" placehold="'Contenu'" />
						                </div>
					                </div>
					                <div class="row">	        		
									    <div class="form-group col-lg-12 ">
										    <label>Video alternative</label>
					            			<input type="text" ng-model="trad.item.video" placeholder="http://youtube.com/watch?v=LOKyEt36Kjc" name="video" class="form-control">
									    </div>
					                </div>
					                
						        	 
								</div>
								<div class="col-md-6 col-lg-4">
						            <div class="panel panel-default">
						            	
						            	<div class="panel-heading">
						            		<i class="fa fa-gears fa-fw"></i> Option de référencement
						            	</div>
						            	<div class="panel-body">
							            	<div class="form-group col-xs-12 ">
							            		<label>Mots clefs</label>
							                    <input prevent-submit-enter inputcount="255" type="text"  name="keyword" class="form-control" ng-model="trad.item.keyword" placeholder="Mots clefs, Mots, clefs, clef, Mot clef, Mot">
							                </div> 
							                <div class="form-group col-xs-12 ">
							                	<label>Réécriture d'url</label>
							                    <input prevent-submit-enter inputcount="1000" urlprefixerwidth="195px" urlprefixer="http://momsite.com/blog/projet/" model="trad.item.rewriteurl" type="text" name="rewriteurl" class="form-control " ng-model="trad.item.rewriteurl" placeholder="Réécriture de l'url">
							                </div>
							                <div class="form-group col-xs-12 ">
							                	 <label>Description</label>
							                    <textarea prevent-submit-enter inputcount="160" model="trad.item.description" rows="4" name="description" class="form-control " ng-model="trad.item.description" placeholder="Description pour les moteurs de recherche"></textarea>
							                </div>
							                <div class="form-group col-xs-12 ">
							                	<auditref model="trad.item"></auditref>
							                </div>
								    	</div>
								    </div>
					        	</div>
					        </div>
				        </div> 
            			</div>

            			<div class="col-xs-10" ng-if="!trad.exist">
            				<div  style='margin-bottom:4px; width : 250px'>
								<a class="btn  btn-primary col-sm-12"   ng-click="addTrad(trad)"><i class="fa fa-floppy-o fa-fw"></i> Ajouter une traduction</a>
							</div>
            			</div>
				    </li>
				    
            	</ul>


				
			<!-- </div> -->
		</div>
		<div class="panel-footer" style="text-align:center">
						<div class="row">
							<div class="col-sm-4" style='margin-bottom:4px;'>
								<a class="btn  btn-default col-sm-12"   ng-click="editProject('stay')"><i class="fa fa-floppy-o fa-fw"></i> Enregistrer et rester</a>
							</div>
							<div class="col-sm-4" style='margin-bottom:4px;'>
								<a class="btn  btn-success col-sm-12" ng-click="editProject('close')" ><i class="fa fa-floppy-o fa-fw"></i> Enregistrer et fermer</a>
							</div>
							<div class="col-sm-4" style='margin-bottom:4px;'>
				    			<a ui-sref="^"><div class="btn  btn-danger col-sm-12"><i class="fa fa-times fa-fw"></i> Annuler</div></a>
							</div>
						</div>
					</div>
	</tab>
		   
	</tabset>

<!-- </div> -->
</div>