<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Projets <a ui-sref=".add"><div class="btn  btn-primary pull-right"><i class="fa fa-plus fa-fw"></i> Ajouter un projet</div></a></h1>

    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div ui-view></div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading-table ">
            	<div class="row">
	            	<div class="col-md-4">
	            		
                    </div>


	            	 
            	</div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

               
                <div class="col-md-8 col-md-offset-4 panel-heading-table">
                    <form role="form" class="" >
                        <div class="form-group input-group  col-md-6 pull-right">
                            <form name="searchUser">

                                <input type="text" class="form-control" ng-model="filter.slug" ng-blur="reload()">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-search" type="submit" ng-click="reload()"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </form>
                        </div>
                    </form>
                </div>

                <div class="table-responsive col-lg-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                               
                                <th style="width:80px"> Status</th>
                                <th style=""> Catégorie</th>
                                <th style="min-width:200px;"><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('title ASC')"ng-class="{active: filter.order=='title ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('title DESC')"ng-class="{active: filter.order=='title DESC'}"></i> Titre</th>
                                <th style="width: 80px;"><i class="fa sorter  fa-user fa-sort-desc" ng-click="setOrder('nbView ASC')" ng-class="{active: filter.order=='nbView ASC'}"></i><i class="fa fa-user sorter fa-sort-asc" ng-click="setOrder('nbView DESC')" ng-class="{active: filter.order=='nbView DESC'}"></i> Vue</th>
                                <th > Tag</th>
                                <th style="width: 180px;">Images</th>
                                <th >Pj</th>
                                <th style="width: 87px;"><i class="fa sorter fa-user fa-sort-desc" ng-class="{active: filter.order=='date ASC'}" ng-click="setOrder('date ASC')"></i><i class="fa fa-user sorter fa-sort-asc" ng-class="{active: filter.order=='date DESC'}" ng-click="setOrder('date DESC')"></i> Date</th>
                                <th style="width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="chargement" ng-if="loading"> <td colspan="6"><i class="fa fa-user sorter fa-spinner fa-spin"></i></td></tr>
                            <tr ng-repeat="item in list" ng-dblclick="edit(item.id)">
                                <td class="text-center" >
                                    <label ng-if="item.status=='draft'" class="label label-warning" >Brouillon</label>
                                    <label ng-if="item.status=='actif'" class="label label-success" >Actif</label>
                                    <label ng-if="item.status=='inactif'" class="label label-danger" >Inactif</label>
                                </td>
                                <td><label class="label label-default" style="color:{{item.category.textColor}};background:{{item.category.color}};">{{item.category.name}}</label></td>
                                <td>{{item.title}}</td>
                                <td class="text-center" >{{item.nbView}}</td>
                                <td>
                                    <div class=" label label-xs label-primary " ng-repeat="tag in item.tags"><i class="fa fa-tag fa-fw"></i> {{tag.text}}</div>
                                </td>
                                <td style="padding:4px 8px">
                                    <ul class="listimages">
                                        <li ng-repeat=" image in item.images | orderBy:'rank':false | limitTo:4">
                                           <!-- <p style="position:absolute; color:red;"> {{image.rank}}</p> -->
                                        <img ng-src="file/image/adminThumbs/{{image.image.filename}}" alt="{{image.image.alt}}" width="30px" height="30px"></li>
                                        <li ng-show="item.images.length-4 > 0" ><small class="badge">+{{ item.images.length - 4}}</small></li>
                                    </ul>
                                </td>
                                <td>{{item.documents.length}}</td>
                                <td>{{item.date | date:'dd/MM/yyyy'}}</td>
                                <td>
                                    <a ><removeremovetable action="remove" itemid="item.id"></removeremovetable></a>
                                    <a ng-click="edit(item.id)"><div class="tablebtn btn btn-xs btn-primary pull-right" tooltip="Editer" tooltip-trigger="mouseenter" tooltip-placement="top"><i class="fa fa-edit fa-fw"></i></div></a>
                                </td>
                            </tr>
                          
                            
                            
                        </tbody>
                    </table>
                </div>
               	<nav class=" col-xs-10">
                  <pagination ng-change="pageChanged(page)" total-items="total" ng-model="filter.page" max-size="3" items-per-page="filter.perPage" class="pagination-sm pull-left" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                    <span class="totalTable pull-left"  ng-pluralize count="total"
                        when="{'0': 'aucun résultats',
                        'one': '1 résultat',
                        'other': '{} résultats'}">
                    </span>
                </nav>
                <nav class=" col-xs-2">
                    <span class=" pull-right totalTable" style="">par page</span>
                   <select class="form-control pull-right" ng-change="reloadUsers()" style="width: 80px;margin: 20px 0px;padding: 5px 10px;height: 30px;" ng-model="filter.perPage" name="perPage" >
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> 
                </nav>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        
         
    </div>
</div>
