 <div class="modal fade newModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-vertical-centered">
    <div class="modal-content">
    	<h2>Création d'une nouvelle catégorie</h2>
    	<hr>
     	<form class="form" role="form" ng-submit="submitNew()">
			    <input type="text" name="title" class="form-control input-lg  col-xs-6" ng-model="newCategory.title" placeholder="Titre" auto-focus>
			 <div class="rowbutton">
			    	<div class=" input-lg btn btn-danger btn-lg"  ng-click="exitNew()" data-toggle="modal" data-target=".newModal" value="Annuler">Annuler</div>
			    	<input type="submit"  class="form-control input-lg btn btn-success btn-lg"   value="Ajouter">
			 </div>
		</form>	
    </div>
  </div>
</div> 