<div class="row">
	<div class="col-xs-9">
		<button type="button" class="btn btn-info btn-xs" ng-click="linkadd();"><span class="glyphicon glyphicon-plus"></span>Ajouter</button>

		<button  type="button" class="btn btn-primary btn-xs" ng-show="totalChecked() === 1" ng-click="linkedit();" ><span class="glyphicon glyphicon-edit"></span>Editer</button>
		<button  type="button" class="btn btn-primary btn-xs"  ng-show="totalChecked() === 1" ng-click="linkeditimages();" ><span class="glyphicon glyphicon-picture"></span>Gerer les images</button>
		<button ng-show="totalChecked()" ng-click="changestatus('actif')" type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-save"></span>Publier</button>
		<button ng-show="totalChecked()" ng-click="changestatus('inactif')" type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-open"></span>Dépublier</button>
		<removeremove action="removeselected" ng-show="totalChecked()"></removeremove>
		<div  class="nbselected ">
			<ng-pluralize class="small"  count="totalChecked()"  when="{'0': 'Aucun project séléctionné','1': '{{totalChecked()}} project séléctionné','other': '{{totalChecked()}} projects séléctionnés'}" </ng-pluralize>
		</div>
	</div>
	<div class="col-xs-3 pull-right">
		<input type="search" class=" form-control input-sm" ng-model="slug" placeholder="Recherche . . ." />
		<div class="FilterBox">
			<span class="label label-success" ><input type="checkbox" ng-model="filterActif" ng-change="filterMainArray()"><label for="">actif</label></span>
			<span class="label label-warning" ><input type="checkbox" ng-model="filterInactif" ng-change="filterMainArray()"><label for="">inactif</label></span>
			<span class="label label-info" ><input type="checkbox" ng-model="filterNew" ng-change="filterMainArray()"><label for="">new</label></span>
		</div>
	</div>
</div>


<table class="table table-striped">
	<thead>
		<tr>
	    	<th class="thsbox"><input type="checkbox" ng-model="allChecked" ng-click="toggleAllcheck()"></th>
	    	<th class="thtitle" ng-click="order ='title';reverse=!reverse; " style="cursor:pointer">Titre<span ng-show="order==='title' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='title' && reverse===true" class=" caret"></span></span></th>
	    	<th  class="thimgs">Images</th>
	    	<th class="thcategory" ng-click="order ='category';reverse=!reverse; " style="cursor:pointer">Catégorie<span ng-show="order==='category' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='category' && reverse===true" class=" caret"></span></span></th>
	    	<th class="thdate" ng-click="order ='date';reverse=!reverse; " style="cursor:pointer">Date<span ng-show="order==='date' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='date' && reverse===true" class=" caret"></span></span></th>
	    	<th class="thstatus" ng-click="order ='status';reverse=!reverse; " style="cursor:pointer">Status<span ng-show="order==='statud' && reverse===false" class="caret"></span><span class="dropup"><span ng-show="order==='status' && reverse===true" class=" caret"></span></span></th>
		</tr>
	</thead>
	<tbody >
		
	    <tr ng-repeat="project in projects | filter:projectfilter | filter:getCat | orderBy:sortFunction:reverse " class="animate-repeat ligne" rel="{{project.id}}"  >
	    		<td >
	    			<input type="checkbox" ng-model="project.checked" >
	    		</td>
		    	<td ng-dblClick="linkedit(project.id)" class='pointer'>{{project.translations[0].title}}</td>
		    	<td ng-dblClick="linkeditimages(project.id)" class='pointer'>
		    		<ul class="listimages">
		    			<li ng-repeat="image in project.images | limitTo:4 | orderBy:'index':false">
		    				<img ng-src="file/image/adminThumbs/{{image.filename}}" alt="{{image.filename}}" width="30px" height="30px">
		    			</li>
		    			<li ng-show="project.images.length-4 > 0" ><small class="badge">+{{ project.images.length - 4}}</small></li>
		    			<li ng-click="linkeditimages(project.id)" ng-hide="project.images.length" class='pointer'><span class="link">Ajouter des images</span></li>
		    		</ul>
		    	</td>
		    	<td ng-dblClick="linkedit(project.id)" class='pointer'><span class="label label-default"><label >{{project.category.translations[0].title}}</label></span></td>
		    	<td ng-dblClick="linkedit(project.id)" class='pointer'>{{project.date | date:'dd MMMM'}}</td>
		    	<td  class='pointer' >
		    		<span class="label" ng-class="{'label-success': project.status==='actif','label-warning': project.status==='inactif','label-info': project.status==='new'}"><label >{{project.status}}</label></span>
		    	</td>
	    	
	    </tr>
	    
	</tbody>
</table>
<!---->
<div ui-view="editprojectView"></div>
<div ui-view="editimagesprojectsView"></div>
<div ui-view="addprojectView"></div>

